

.submit-admin {
  left: 65em;
  position: absolute;

}

.total-users {
  margin-left: 25px;
  position: absolute;
  top: 35em;
}

.new-user {
  margin-left: 4em;
  position: absolute;
  top: 120px;
}

.deactivate-button {
  left: 20em;
  position: absolute;
  top: 10em;
}

.reactivate-button {
  left: 35em;
  position: absolute;
  top: 10em;
}

.add-area {
  left: 50em;
  position: absolute;
  top: 10em;
}

.active-supply {
  left: 20em;
  position: absolute;
  top: 15em;
}

.inactive-supply {
  left: 35em;
  position: absolute;
  top: 15em;
}

.table-size table{
  height: 50px;
}