

.submit-admin {
  left: 65em;
  position: absolute;

}

.total-users {
  margin-left: 25px;
  position: absolute;
  top: 35em;
}

.new-user {
  margin-left: 4em;
  position: absolute;
  top: 120px;
}
