
.submit-admin {
  left: 65em;
  position: absolute;

}

.total-users {
  margin-left: 25px;
  position: absolute;
  top: 35em;
}

.new-user {
  margin-left: 4em;
  position: absolute;
  top: 120px;
}

.add-fiscal-year {
  left: 70em;
  position: absolute;
  top: 19em;
}

.fiscal-year-admin {
  position: relative;
  top: 18em;
  left: 99em;
}

.font-style {
  font-weight: bold;
  font-size: 22px;
}

.active-inactive-pickers {
  left: 71em;
  position: relative;
  top: 1em;
}

.pickers-id {
  min-width: 120px;
  text-align: center;
}

.supply-frame {
  left: 20em;
  position: absolute;
  top: 10em;
}

.deactivate-button {
  position: absolute;
  top: 10em;
}

.reactivate-button {
  left: 15em;
  position: absolute;
  top: 10em;
}

.add-area {
  left: 30em;
  position: absolute;
  top: 8em;
}

.active-supply {
  left: -10em;
  position: absolute;
  top: 15em;
}

.inactive-supply {
  left: 15em;
  position: absolute;
  top: 15em;
}

.table-size table {
  height: 50px;
}

.commission-admin {
  left: 70em;
  position: absolute;
  top: 2em;
}
