$color-machine-reservoir: #71f323;
$background-color-machine-field: #dd7e1f;
$text-color-engine-stations: #71f323;
$text-color-tact-time: #bc171b;
$background-admin-field: rgba(17, 9, 117, 0.46);


.lop-nav {
  left: 30em;
  position: absolute;
}

.nav-bar {
  left: 20em;
  position: absolute;
  top: 5em;
}

.machine-reservoir {
  color: $color-machine-reservoir;
  left: 5em;
  position: absolute;
  top: 11em;
 // width: 300px;
}

.in-line-date {
  max-width: 100px;
  min-width: 100px;
}

.machine-entry {
  left: 25em;
  position: absolute;
  top: 22.5em;
}

.overview-assembly-line {
  left: 1em;
  position: relative;
  top: 10em;
}


//box is covering Table except 1st line.

.rectangle {
  background: #0000FFFF;
  height: 22em;
  left: 5em;
  opacity: .1;
  position: relative;
  top: 21em;
  width: 200px;
  z-index: 1;
}

.rectangle-2 {
  background: #0000FFFF;
  height: 22em;
  left: 55.5em;
  opacity: .1;
  position: relative;
  top: 53em;
  width: 200px;
  z-index: 1;
}

.cover-box {
  height: 20em;
  left: 5em;
  position: relative;
  width: 20em;
}

@mixin move-buttons {
  position: absolute;
  top: -1.5em;
}

.move-buttons-over-view {
  left: 22em;
  position: absolute;
  top: 12em;
}

.bay-3-button {
  @include move-buttons;
  left: 10em;
}

.bay-4-button {
  @include move-buttons;
  left: 20em;
}

.bay-5-button {
  @include move-buttons;
  left: 30em;
}

.bay-6-button {
  @include move-buttons;
  left: 40em;
}

.bay-7-button {
  @include move-buttons;
  left: 50em;
}

.bay-8-button {
  @include move-buttons;
  left: 60em;
}

.bay-9-button {
  @include move-buttons;
  left: 70em;
}

.bay-10-button {
  @include move-buttons;
  left: 80em;
}

.bay-test-1-button {
  left: 88em;
  position: absolute;
  top: 2.5em;

}

.bay-test-2-button {
  left: 98em;
  position: absolute;
  top: 2.5em;
}

.bay-test-3-button {
  left: 88.5em;
  position: absolute;
  top: -11.5em;
}

.bay-test-4-button {
  left: 98.5em;
  position: absolute;
  top: -11.5em;
}

//  ****************** Test Bay 3 & 4 Text boxes  **************************

.test-3-4-text {
  color: $text-color-engine-stations;
  font-weight: bolder;
  position: relative;
  top: -9em;
}

//  *********************************************************************************

.final-assembly-container-button {
  left: 5em;
  position: absolute;
  top: 7em;
}


.bay-14-button {
  @include move-buttons;
  left: 110em;
}

.bay-15-button {
  @include move-buttons;
  left: 120em;
}

.bay-16-button {
  @include move-buttons;
  left: 130em;
}

.bay-17-button {
  @include move-buttons;
  left: 140em;
}

.bay-18-button {
  @include move-buttons;
  left: 150em;
}

.bay-19-button {
  @include move-buttons;
  left: 160em;
}

.machine-field {
  background: $background-color-machine-field;
}

.canvas-class {
  height: 150px;
  left: -5px;
  position: relative;
  top: -40px;
  width: 280px;
}


.canvas-correction {
  position: absolute;
  top: 1px;
}

// **************************** arrows Assembly Line ****************************

@mixin param-1 {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
}

.assembly-line-arrow-1 {
  display: flex;
  top: 24.5em;
  transform: rotate(-90deg);
}

.assembly-line-bay-10-arrow {
  display: flex;
  top: 24.5em;
  transform: rotate(-45deg);
}

.front-test-bay-arrow {
  display: flex;
  left: 9em;
  position: absolute;
  top: 2em;
  transform: rotate(-135deg);
}

.test-bay-4-arrow {
  display: flex;
  top: 24.5em;
  transform: rotate(-45deg);
}

.bay-arrows {
  left: 8em;
  position: absolute;
  top: 4em;
}

.team-1-arrows {
  left: 38.1em;
  position: absolute;
  top: 24em;
}

.team-2-position {
  left: -39em;
  position: absolute;
  top: 1em;
}

.station-1-arrows {
  @include param-1;
  left: 13em;
}

.station-2-arrows {
  @include param-1;
  left: 27em;
}

.station-3-arrows {
  @include param-1;
  left: 41em;
}

.station-4-arrows {
  @include param-1;
  left: 55em;
}

.station-5-arrows {
  @include param-1;
  left: 69em;
}

.station-6-arrows {
  @include param-1;
  left: 83em;
}

.station-7-arrows {
  @include param-1;
  left: 97em;
}

.station-8-arrows {
  @include param-1;
  left: 111em;
}

//   ************************* Team 1 move buttons  **********************

.team-1-buttons {
  left: 22em;
  position: absolute;
  top: 12em;
}

.bay-3-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-4-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

//   **************************  Team 2 move buttons  *******************

.template-team-2 {
  left: 23.7em;
  position: absolute;
  top: 12.5em;
}

.bay-6-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-7-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

//  ***************************  Team 3 move buttons   ++++++++++++++++++++++

.template-team-3 {
  left: 23.7em;
  position: absolute;
  top: 12.5em;
}

.bay-9-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-10-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

//    *********************************   Team 4 move buttons  *********************

.template-team-4 {
  left: 25em;
  position: absolute;
  top: 34.5em;
}

.engine-2-team-button {
  left: 9.5em;
  position: absolute;
  top: -1.5em;
}

.engine-3-team-button {
  left: 19em;
  position: absolute;
  top: -1.5em;
  z-index: 1;
}

.engine-4-team-button {
  left: 26em;
  position: absolute;
  top: -1.5em;
  z-index: 1;
}

.cooling-1-team-button {
  position: absolute;
  top: -18em;
}

.cooling-2-team-button {
  left: 10em;
  position: absolute;
  top: -19.5em;
}

.merge-1-team-button {
  left: 17em;
  position: absolute;
  top: -19.5em;
}

.merge-2-team-button {
  left: 28em;
  position: absolute;
  top: -19.5em;
}

//  **************************  Test Bay Text and boxes in Single View ********************

.front-test-bay {
  left: 85em;
  position: absolute;
  top: 6em;
}

.test-bay-1-2-container {
  left: 6em;
  position: absolute;
  top: 10em;
}

.test-bay-1-to-3-arrows {
  left: 162em;
  position: absolute;
  top: 24em;
  transform: rotate(180deg);
}

.test-bay-1-3-button {
  left: 88.5em;
  opacity: 0;
  position: absolute;
  top: -3.5em;
  transform: rotate(90deg);
}

.test-bay-1-to-4-arrows {
  left: 166em;
  position: absolute;
  top: 24em;
  transform: rotate(240deg);
}

.test-bay-2-4-button {
  left:102em;
  opacity: 0;
  position: absolute;
  top: -3.5em;
  transform: rotate(90deg);
}

.test-bay-1-4-button {
  left:92em;
  opacity: 0;
  position: absolute;
  top: -2.3em;
  transform: rotate(137deg);
}

.test-bay-2-3-button {
  left:98em;
  opacity: 0;
  position: absolute;
  top: -3.8em;
  transform: rotate(45deg);
}

.test-bay-3-4-container {
  left: 6em;
  position: absolute;
  top: -15em;
}

.test-bay-2-to-4-arrows {
  left: 181em;
  position: absolute;
  top: 24em;
  transform: rotate(180deg);
}

.test-bay-2-to-3-arrows {
  left: 177em;
  position: absolute;
  top: 24em;
  transform: rotate(120deg);
}

// ************** inside Test Bay  ******************

.scroll-down {
  --color: #ff0000;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
//  width: var(--sizeX);
 // height: var(--sizeY);
 // margin-left: var(sizeX / 2);
//  border: calc(var(--sizeX) / 10) solid var(--color);
//  border-radius: 50px;
 // box-sizing: border-box;
  margin-bottom: 16px;
}

/*

.scroll-down::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scroll-down-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}



@keyframes scroll-down-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
 */

.chevrons {
  padding: 10px 0 10px 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron-down {
  margin-top: -2px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevron-down:nth-child(odd) {
  animation: pulse 800ms ease infinite alternate;
}

.chevron-down:nth-child(even) {
  animation: pulse 800ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity:0.51;
  }
}

//  ***********************************************


@mixin test-bay-text-boxes {
  color: $text-color-engine-stations;
  font-weight: bolder;
  left: -1em;
  position: relative;
}

.test-bay-1-2-text {
  @include test-bay-text-boxes;
  top: 10em;

}

.test-bay-3-4-text {
  @include test-bay-text-boxes;
  top: -4em;
}

.canvas-test-3-4 {
  position: relative;
  top: 3em;
}


//  ***************************  Test Bay Move Buttons  ************************

.template-test-bay {
  left: 22.4em;
  position: absolute;
  top: 13em;
}

.test-2-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.test-3-team-button {
  position: absolute;
  top: 10em;
}

.test-4-team-button {
  left: 10em;
  position: absolute;
  top: 8.5em;
}

//   *********************************** Team 5 Move Buttons  *********************

.template-team-5 {
  left: 24em;
  position: absolute;
  top: 12.5em;
}

.bay-15-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-16-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

.bay-17-team-button {
  left: 30em;
  position: absolute;
  top: -1.5em;
}

.bay-18-team-button {
  left: 40em;
  position: absolute;
  top: -1.5em;
}

.bay-19-team-button {
  left: 50em;
  position: absolute;
  top: -1.5em;
}

.bay-19-back-button {
  left: 159em;
  position: absolute;
  top: 10em;

}

.move-back:hover {
  width: 90px;
  height: 40px;


}

.move-back {
  width: 80px;
  height: 30px;
  pointer-events: all;
}


//  *******************************  Team 4 Assembly  ****************

.engine-reservoir {
  color: $color-machine-reservoir;
  left: 6em;
  position: absolute;
  top: 42em;
}


.engine-assembly-container {
  left: 35em;
  position: absolute;
  top: 15.5em;
}

$station-text-color: #03ff84;

.engine-text {
  color: $station-text-color;
  position: relative;
  top: -2em;
}

//  **********************  Single position of assembly stations  ***********

.station-1 {
  left: 0;
  position: absolute;
  top: 30em;
}

.engine-canvas-correction {
  left: -12px;
  position: relative;
  top: 14px;
}

.station-2 {
  left: 13em;
  position: absolute;
  top: 30em;
}

.station-3 {
  left: 26em;
  position: absolute;
  top: 30em;
  z-index: 1;
}

.station-4 {
  left: 39em;
  position: absolute;
  top: 30em;
  z-index: 1;
}

//  **************** chevron arrows Engine Assembly  ************************

.chevron-engine-bays {
  left: 25.2em;
  position: absolute;
  top: 40em;
}

@mixin engine-param-1 {
  position: relative;
  top: 15em;
  transform: rotate(-90deg);
}

.engine-arrow-1 {
  @include engine-param-1;
  left: 1em;
}

.engine-arrow-2 {
  @include engine-param-1;
  left: 17em;
}

.engine-arrow-3 {
  @include engine-param-1;
  left: 30em;
}

.engine-arrow-4 {
  @include engine-param-1;
  left: 43em;
}

@mixin cooling-param-1 {
  position: absolute;
  top: -9em;
  transform: rotate(-90deg);
}

.cooling-arrow-1 {
  position: absolute;
  top: -20em;
  transform: rotate(180deg);
  left: 40em;
}

.cooling-arrow-2 {
  position: absolute;
  top: -20em;
  transform: rotate(180deg);
  left: 56em;
}


.merging-arrow-1 {
  position: absolute;
  top: 4em;
  transform: rotate(180deg);
  left: 55em;
}

.merging-arrow-3 {
  position: absolute;
  top: 3em;
  transform: rotate(135deg);
  left: 50em;
}

.merging-arrow-2 {
  @include cooling-param-1;
  left: 49em;
}

// ****************************  Cooling Box and Merging ****************************

.cooling-canvas-correction {
  left: -20px;
  position: relative;
}

@mixin cooling-param-2 {
  position: absolute;
  top: 5em;
}

.cooling-station-1 {
  left: -5px;
  position: absolute;
  top: 6em;
}

.my-canvas {
  left: -1em;
  position: relative;
  top: 2em;
}

.my-canvas-2 {
  left: -1em;
  position: relative;
  top: 2em;
}

.my-canvas-3 {
  position: relative;
  top: 2em;
}

.merging-canvas-correction {
  position: relative;
  top: 2em;
}

.cooling-station-2 {
  left: 13em;
  position: absolute;
  top: 5em;
}

.engine-merge-station-1 {
  left: 24.8em;
  position: absolute;
  top: 5em;
}

.engine-merge-station-2 {
  left: 40em;
  position: absolute;
  top: 5em;
}

//  --------------------------  Bay 2  -----------------------------

.team-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 50em;
  position: absolute;
  top: 12em;
}

.assembly-line-fields {
  height: 10em;
  position: absolute;
  top: 20em;
  width: 9em;
}

.bay2-fcb-merge-threshing {
  left: 30.5em;
}

.bay-2-merge-text {
  color: $color-machine-reservoir;
  font-weight: bolder;
  left: -2em;
  position: relative;
  top: -10em;
  width: 150px;
}

// -----------------------------   Assembly Line ------------------------------------
.team1-bay3 {
  left: 44em;
}

.bay-3-text {
  color: $text-color-engine-stations;
  font-weight: bolder;
  left: 2em;
  position: relative;
  top: -9em;
}

.team1-bay4 {
  left: 58em;
}

.team2-bay5 {
  left: 72em;
}

.team2-bay6 {
  left: 86em;
}

.team2-bay7 {
  left: 100em;
}

.team3-bay8 {
  left: 114em;
}

.team3-bay9 {
  left: 128em;
}

.team3-bay10 {
  left: 142em;
}

.team3-front-test-bay {
  left: 149em;
  transform: rotate(90deg);
  top: 21.5em;
}

.team-test-bay-1 {
  left: 156em;
}

.team-test-bay-2 {
  left: 170em;
}

.team-test-bay-3 {
  left: 156em;
  top: 35em;
}

.team-test-bay-4 {
  left: 170em;
  top: 35em;
}

.final-assembly-container {
  left: 105em;
  position: absolute;
  top: -20em;
}


.team5-bay-14 {
  left: 86em;
  top: 50em;
}

.team5-bay-15 {
  left: 100em;
  top: 50em;
}

.team5-bay-16 {
  left: 114em;
  top: 50em;
}

.team5-bay-17 {
  left: 128em;
  top: 50em;
}

.team5-bay-18 {
  left: 142em;
  top: 50em;
}

.team5-bay-19 {
  left: 156em;
  top: 50em;
}

// ****************  Sun Timer  ********************************************

$begin-horizon: #00f;
$end-horizon: #f00;
$box-shadow: rgba(255, 255, 255, .4);
$animation-color: rgba(255, 255, 255, .25);
$text-ilumination: rgba(0, 0, 0, .6) 0 0 3px;
$transition: all 1.5s;

.team-container-2 {
  left: 12em;
  position: absolute;
  top: .2em;
  z-index: -1;
}

.team-container-3 {
  left: -81em;
  position: absolute;
  top: 1em;
}

.team-container-4 {
  left: -153em;
  position: absolute;
  top: 1em;
}

.team-container-test-bay {
  left: -125em;
  position: absolute;
  top: 1em;
}

.chevron-test-bay {
  left: -1.3em;
  position: absolute;
  top: -.2em;
}

.team-container-5 {
  left: -151em;
  position: absolute;
  top: 1em;
}

.body-timer-block {
  left: -5em;
  position: absolute;
  top: -5em;
}
//---------------------  Team 1 -----------------------------------

.team-1-sun-burst-container {
  left: -4em;
  position: relative;
  top: 6em;
}

.clock-container-team-1 {
  left: -40em;
  position: absolute;
  top: -5em;

  .clock-team-1 {
    left: 20em;
    position: relative;
    top: 1em;

    .title {
      display: none;
      }

    .time-team-1 {
      color: $begin-horizon;
      position: relative;
      text-align: center;
      text-shadow: $text-ilumination;
      transition: $transition;

       span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: xxx-large;
        }
    }
  }
}


.sunset-container-team-1 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 2em;
  width: 350px;

  .horizon-team-1 {
    background: -webkit-linear-gradient(left, $begin-horizon 0%, $end-horizon 100%);
    box-shadow: $box-shadow 0 0 5px;
    height: 2px;
    position: relative;
    top: -1px;
    }

  .sun-team-1 {
    position: absolute;


    .sun-spot-team-1 {
      animation: pulse 4s linear infinite;
      border-radius: 100px;
      position: absolute;
      transform: scale(1, .5);

      &.pulse {
        animation: white-pulse 4s linear infinite;
        }
      }
  }
}

//----------------------------- Team 2 -------------------------------

.team-2-sun-burst-container {
  left: -4em;
  position: relative;
  top: 6em;
}

.clock-container-team-2 {
  left: -50em;
  position: relative;
  top: 40em;

  .clock-team-2 {
    position: relative;
    top: -16em;

    .title {
      display: none;
    }

    .time-team-2 {
      color: $begin-horizon;
      position: relative;
      text-align: center;
      text-shadow: $text-ilumination;
      transition: $transition;

      span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: xxx-large;
      }
    }
  }
}

.sunset-container-team-2 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 25em;
  width: 350px;

  .horizon-team-2 {
    background: -webkit-linear-gradient(left, $begin-horizon 0%, $end-horizon 100%);
    box-shadow: $box-shadow 0 0 5px;
    height: 2px;
    position: relative;
    top: -1px;
  }

  .sun-team-2 {
    height: 50px;
    left: -100px;
    position: absolute;
    top: -25px;
    width: 200px;

    .sun-spot-team-2 {
      animation: pulse 4s linear infinite;
      border-radius: 100px;
      position: absolute;
      transform: scale(1, .5);

      &.pulse {
        animation: white-pulse 4s linear infinite;
      }
    }
  }
}

//----------------------------------------------------------------
