$color-machine-reservoir: #71f323;
$background-color-machine-field: #dd7e1f;
$text-color-engine-stations: #71f323;
$text-color-tact-time: #bc171b;
$background-admin-field: rgba(17, 9, 117, 0.46);

.nav-bar {
  left: 20em;
  position: absolute;
  top: 5em;
}

.machine-reservoir {
  color: $color-machine-reservoir;
  left: 5em;
  position: absolute;
  top: 11em;
  width: 300px;
}

.in-line-date {
  max-width: 100px;
  min-width: 100px;
}

.machine-entry {
  left: 25em;
  position: absolute;
  top: 22.5em;
}

.invisible-box {
  height: 20em;
  left: 5em;
  opacity: .1;
  position: absolute;
  top: 24em;
  width: 18em;
}

.machine-field {
  background: $background-color-machine-field;
}

.canvas-class {
  height: 150px;
  left: -5px;
  position: relative;
  top: -40px;
  width: 280px;
}

.canvas-correction {
  top: -5.7em;
}

// **************************** arrows Assembly Line ****************************

.assembly-line-arrow-1 {
  display: flex;
  top: 24.5em;
  transform: rotate(-90deg);
}

.bay-arrows {
  left: 8em;
  position: absolute;
  top: 4em;
}

//  **********************************************************

.engine-lift-up {
  display: flex;
  left: -18.5em;
  position: relative;
  top: .5em;
  transform: rotate(180deg);
}

.bay-2-merge {
  left: 9em;
  position: absolute;
  top: 2.5em;
}

.engine-line-arrow-2 {
  display: flex;
  left: -3em;
  position: relative;
  top: 1em;
  transform: rotate(180deg);
}

.engine-line-arrow-3 {
  display: flex;
  left: -3em;
  position: relative;
  top: -2.7em;
  transform: rotate(-135deg);
}

.engine-station {
  left: 50em;
  position: absolute;
}

.engine-station-1 {
  top: 90em;
}

.engine-text {
  color: $text-color-engine-stations;
  font-weight: bolder;
  left: 10em;
  position: relative;
  top: -4em;
}

.cooling-text {
  color: $text-color-engine-stations;
  font-weight: bolder;
  left: -12em;
  position: relative;
  top: -4em;
}

.engine-station-2 {
  top: 83em;
}

.engine-station-3 {
  top: 76em;
}

.engine-station-3-text {
  top: -18em;
}

.engine-station-4 {
  top: 69em;
}

.engine-cooling-merge {
  left: 46em;
  top: 62em;
}

.engine-cooling-1 {
  left: 40em;
  position: absolute;
  top: 76em;
}

.engine-cooling-2 {
  left: 40em;
  position: absolute;
  top: 69em;
}
//  --------------------------  Bay 2  -----------------------------
.assembly-line-fields {
  height: 10em;
  position: absolute;
  top: 20em;
  width: 9em;
}

.bay2-fcb-merge-threshing {
  left: 30em;
}

.bay-2-merge-text {
  color: $color-machine-reservoir;
  font-weight: bolder;
  left: -2em;
  position: relative;
  top: -10em;
  width: 150px;
}


.bay-move-button {
  left: .5em;
  position: absolute;
  top: -4em;
}

// -----------------------------    Bay 3  ------------------------------------
.team1-bay3 {
  left: 44em;
}

.bay-3-text {
  color: $text-color-engine-stations;
  font-weight: bolder;
  left: 2em;
  position: relative;
  top: -9em;
}

.team1-bay4 {
  left: 58em;
}

.team2-bay5 {
  left: 72em;
}

.team2-bay6 {
  left: 86em;
}

.team2-bay7 {
  left: 100em;
}

.team3-bay8 {
  left: 114em;
}

.team3-bay9 {
  left: 128em;
}

.team3-bay10 {
  left: 142em;
}

.team-test-bay-1 {
  left: 156em;
}

.team-test-bay-2 {
  left: 170em;
}

.team-test-bay-3 {
  left: 156em;
  top: 35em;
}

.team-test-bay-4 {
  left: 170em;
  top: 35em;
}

.engine-assembly-container {
  left: 10em;
  position: absolute;
  top: 20em;
}

.test-bay-container {
  position: absolute;
  top: -.5px;
}

.final-assembly-container {
  left: 100em;
  position: absolute;
  top: -30em;
}

.team5-bay-14 {
  left: 86em;
  top: 50em;
}

.team5-bay-15 {
  left: 100em;
  top: 50em;
}

.team5-bay-16 {
  left: 114em;
  top: 50em;
}

.team5-bay-17 {
  left: 128em;
  top: 50em;
}

.team5-bay-18 {
  left: 142em;
  top: 50em;
}

.team5-bay-19 {
  left: 156em;
  top: 50em;
}

// **************** template tactTime *****************

$input-field-height: 30em;
$rgba-colors: rgba(17, 9, 117, .46);

.input-field-team-1 {
  background-color: $rgba-colors;
  height: 250px;
  left: 21em;
  position: absolute;
  top: $input-field-height;
}

.input-field-team-2 {
  background-color: $rgba-colors;
  height: 250px;
  left: 51em;
  position: absolute;
  top: $input-field-height;
}

.input-field-team-3 {
  background-color: $rgba-colors;
  height: 250px;
  left: 81em;
  position: absolute;
  top: $input-field-height;
}

.input-field-team-4 {
  background-color: $rgba-colors;
  height: 250px;
  left: 60em;
  position: absolute;
  top: 60em;
}

.input-field-team-5 {
  background-color: $rgba-colors;
  height: 250px;
  left: 141em;
  position: absolute;
  top: $input-field-height;
}

.tact-time {
  color: $text-color-tact-time;
  font-family: Cambria, serif;
  font-size: large;
}

.work-hours {
  color: $text-color-tact-time;
  font-family: Cambria, serif;
  font-size: large;
}

.work-start {
  color: $text-color-tact-time;
  font-family: Cambria, serif;
  font-size: large;
}




// ****************  Sun Timer  ********************************************

$begin-horizon: #00f;
$end-horizon: #f00;
$box-shadow: rgba(255, 255, 255, .4);
$animation-color: rgba(255, 255, 255, .25);
$text-ilumination: rgba(0, 0, 0, .6) 0 0 3px;
$transition: all 1.5s;

.team-container-2 {
  left: 30em;
  position: absolute;
  top: .2em;
}

.team-container-3 {
  left: 60em;
  position: absolute;
  top: .2em;
}

.team-container-5 {
  left: 120em;
  position: absolute;
  top: .2em;
}

.body-timer-block {
  left: -5em;
  position: absolute;
  top: -5em;
}
//---------------------  Team 1 -----------------------------------
.clock-container-team-1 {
  left: -30em;
  position: relative;
  top: 40em;

  .clock-team-1 {
    position: relative;
    top: -16em;

    .title {
      display: none;
      }

    .time-team-1 {
      color: $begin-horizon;
      position: relative;
      text-align: center;
      text-shadow: $text-ilumination;
      transition: $transition;

       span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: xxx-large;
        }
    }
  }
}


.sunset-container-team-1 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 25em;
  width: 350px;

  .horizon-team-1 {
    background: -webkit-linear-gradient(left, $begin-horizon 0%, $end-horizon 100%);
    box-shadow: $box-shadow 0 0 5px;
    height: 2px;
    position: relative;
    top: -1px;
    }

  .sun-team-1 {
    height: 50px;
    left: -100px;
    position: absolute;
    top: -25px;
    width: 200px;

    .sun-spot-team-1 {
      animation: pulse 4s linear infinite;
      border-radius: 100px;
      position: absolute;
      transform: scale(1, .5);

      &.pulse {
        animation: white-pulse 4s linear infinite;
        }
      }
  }
}

//----------------------------- Team 2 -------------------------------

.clock-container-team-2 {
  left: -30em;
  position: relative;
  top: 40em;

  .clock-team-2 {
    position: relative;
    top: -16em;

    .title {
      display: none;
    }

    .time-team-2 {
      color: $begin-horizon;
      position: relative;
      text-align: center;
      text-shadow: $text-ilumination;
      transition: $transition;

      span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: xxx-large;
      }
    }
  }
}

.sunset-container-team-2 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 25em;
  width: 350px;

  .horizon-team-2 {
    background: -webkit-linear-gradient(left, $begin-horizon 0%, $end-horizon 100%);
    box-shadow: $box-shadow 0 0 5px;
    height: 2px;
    position: relative;
    top: -1px;
  }

  .sun-team-2 {
    height: 50px;
    left: -100px;
    position: absolute;
    top: -25px;
    width: 200px;

    .sun-spot-team-2 {
      animation: pulse 4s linear infinite;
      border-radius: 100px;
      position: absolute;
      transform: scale(1, .5);

      &.pulse {
        animation: white-pulse 4s linear infinite;
      }
    }
  }
}

//----------------------------------------------------------------