.button-box {
  left: 30em;
  position: absolute;
  top: 7em;
}

.assembly-line-head-liner {
  left: 30em;
  position: absolute;
  top: 10em;
}

.over-view-table-assembly-line {
  left: 5em;
  position: absolute;
  top: 20em;
}

.in-line-field {
  width: 40px;
}


