
.header-commission-monitor {
  left: 15em;
  position: absolute;
  top: 1em;
}

.header-style {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  font-size: 5em;
  font-weight: bolder;
}

.table-commission-monitor {
  left: -15em;
  position: absolute;
  top: 0em;
}

.table-scaled {
  transform: scale(.7);
}

.machine-style {
  color: #cede0c;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.in-line-date-style {
  color: #f60cc7;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.today-result-monitor {
  left: 21em;
  position: absolute;
  top: 47em;
}

.diagram-monitor {
  left: -36em;
  position: absolute;
  top: 1em;
}
