
$base-color: #000;
$table-head: #1cbdee;

.pickers-table {
  left: 3em;
  position: absolute;
  top: 10em;
}

.table-pickers {
  overflow: auto;
  height: 330px;
}

table.table-pickers {
  overflow: auto;
  height: 331px;
}

.all-pickers-button {
  left: 67px;
  position: absolute;
  top: 600px;
}

.chosen-picker-stats {
  left: 700px;
  position: absolute;
  top: 140px;
}

.diagram-1 {
  left: 14em;
  position: absolute;
  top: 19em;
}

.diagram-2-to-4 {
  left: 1em;
  position: absolute;
  top: 5em;
}

.diagram-3 {
  position: absolute;
  top: 5em;
}

.analytics {
  left: 10em;
  position: relative;
}

.start-analyze {
  left: 20em;
  position: absolute;
  top: 10em;
}

.chosen-picker {
  left: 10em;
  position: absolute;
  top: 8em;
}

.areas-total {
  left: 10em;
  position: absolute;
  top: 10em;
}

.button-list {
  left: 10em;
  position: absolute;
  top: 10em;
}

.analyze-table {
  border: 1px solid $base-color;
}

.analyze-table-head {
  background-color: $table-head;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
  width: 65px;
}

.analyze-table-body {
  border: 1px solid $base-color;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.supplied-area-table {
  left: 10em;
  position: absolute;
  top: 14em;
}

.spacing {
  padding: 8px;
}

.daily-picks {
  left: 17em;
  position: absolute;
  top: 14em;
}

.personal-running-result {
  left: 70em;
  position: absolute;
  top: 14em;
}

.running-result {
  left: 20em;
  position: absolute;
  top: 10em;
}

.miss-picks-short-picks {
  left: 80em;
  position: absolute;
  top: 51em;
}

.today-team-result {
  left: 12em;
  position: absolute;
  top: 49em;
}

.analysis-head-year-chosen {
  position: absolute;
  top: 12em;
  left: 50em;
}

.fiscal-year {
  position: absolute;
  top: 11em;
  left: -7em;
}

.fiscal-year-table {
  position: relative;
  top: 2em;
}

.pickers-head {
  left: 5em;
  position: absolute;
  top: 10em;
}

.pickers-overview {
  left: 4em;
  position: absolute;
  top: 15em;
}

.pickers-width {
  text-align: center;
  width: 120px;
}

.analysis-selection {
  left: 6em;
  position: absolute;
  top: 44em;
}

.table-height {
  height: 30px;
}

.single-supply {
  left: 15em;
  position: absolute;
  top: 2.8em;
}

.selected-time {
  background-color: hsl(14, 100%, 53%);
}

.edit-time {
  left: 30em;
  position: absolute;
  top: 7em;
}

.edit-time-button {
  margin-top: 15px;
}

.logged-user {
  left: 8em;
  position: absolute;
  top: 8em;
}

.details-button {
  left: 20em;
  position: absolute;
  top: 1em;
}

.range-2 {
  position: absolute;
  top: 7.7em;
  left: 15em;
}

.range-input-2 {
  position: absolute;
  left: 2em;
}

.btn-range-2 {
  position: absolute;
  top: -0.25em;
  left: 15em;
}

.area-result {
  position: absolute;
  top: 60em;
  left: 25em;
}

.diagram-4 {
  position: absolute;
  top: 60em;
  left: 35em;
}

.diagram-2-personal {
  left: 1em;
  position: absolute;
  top: 5em;
}

.diagram-4-short-picks {
  left: -122px;
  position: relative;
  top: 51px;
}

//      *****************************   specific date without picker / commissionAnalysis.html Line 75 to 83

.search-for-date {
  left: 106em;
  position: absolute;
  top: 15em;
}

.date-search-table {
  left: 106em;
  position: absolute;
  top: 21em;
}

//    **********************************   Miss Picks per year   ***************************

.miss-pick-graph {
  left: 1995px;
  position: absolute;
  top: 100px;
}