

.commNav {
  position: relative;
  left: 50em;
  top: 2em;
}

.commTablet {
  position: absolute;
  top: 11.5em;
  left: 30em;
}

.commHead {
  position: relative;
  left: 20em;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 5em;
}

.machineCommissionTable {
  left: 40em;
  position: absolute;
  top: 26em;
}

.commMachineField {
  width: 5em;
}

.toggleButton {
  position: absolute;
  top: 22em;
  left: 80em;
}

.removeMachine {
  position: relative;
  left: 50em;
  top: 7.5em;
}

.inLineDate {
  position: absolute;
  top: -.1em;
}

table.commOverView {
  left: 2em;
  position: absolute;
  top: 20em;
}

.alarmHead {
  position: absolute;
  top: -4em;
}

//--------------------------- table head down wards --------------------------------

.tableSizeDate {
  width: 8em;
}

//---------------------------- rotated table head ----------------------------------*/

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; // 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; // 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; //Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; // 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}

