
$base-color: #000;
$table-head: #1cbdee;

.admins-button {
  left: 30em;
  position: absolute;
  top: 2em;
}

.pickers-table {
  left: 3em;
  position: absolute;
  top: 10em;
}

.diagram-1 {
  left: 20em;
  position: absolute;
  top: 20em;
}

.diagram-2 {
  left: 10em;
  position: absolute;
  top: 5em;
}

.diagram-4 {
  left: 30em;
  position: absolute;
  top: 50em;
}

.start-analyze {
  left: 20em;
  position: absolute;
  top: 10em;
}

.chosen-picker {
  left: 10em;
  position: absolute;
  top: 8em;
}

.areas-total {
  left: 10em;
  position: absolute;
  top: 10em;
}

.button-list {
  left: 10em;
  position: absolute;
  top: 10em;
}

.analyze-table {
  border: 1px solid $base-color;
}

.analyze-table-head {
  background-color: $table-head;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
  width: 65px;
}

.analyze-table-body {
  border: 1px solid $base-color;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.supplied-area-table {
  left: 10em;
  position: absolute;
  top: 14em;
}

.spacing {
  padding: 8px;
}

.daily-picks {
  left: 10em;
  position: absolute;
  top: 14em;
}

.running-result {
  left: 10em;
  position: absolute;
  top: 40em;
}

.admins-bar {
  left: 30em;
  position: absolute;
  top: 2em;
}

.pickers-head {
  left: 5em;
  position: absolute;
  top: 10em;
}

.pickers-overview {
  left: 5em;
  position: absolute;
  top: 15em;
}

.pickers-width {
  text-align: center;
  width: 120px;
}

.diagram-3 {
  left: 20em;
  position: absolute;
  top: -30em;
}

.analysis-selection {
  left: 6em;
  position: absolute;
  top: 40em;
}

