.machine-counter {
  left: 90em;
  position: absolute;
  top: 13em;
}

.commNav {
  left: 40em;
  position: relative;
  top: 2em;
}

.comm-tablet {
  left: 30em;
  position: absolute;
  top: 11.5em;
}

.comm-tablet-machine-list {
  left: 10em;
  position: absolute;
  top: 20em;
}

.pdiShipField {
  max-width: 92px;
  min-width: 92px;
}

.fixed-header tbody {
  display: block;
  height: 50em;
  overflow: auto;
  width: 100%;
}

.fixed-header thead tr {
  display: block;
}

.header-completed {
  left: 110em;
  position: absolute;
  top: 21em;
}

.inactive-machine-table {
  left: 120em;
  position: absolute;
  top: 26em;
}

.commHead {
  position: relative;
  left: 20em;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 5em;
}

.machineCommissionTable {
  left: 10em;
  position: absolute;
  top: 26em;
}

.commMachineField {
  width: 5em;
}

.toggleButton {
  position: absolute;
  top: 22em;
  left: 80em;
}

.removeMachine {
  position: relative;
  left: 50em;
  top: 7.5em;
}

.inLineDate {
  position: absolute;
  top: -.1em;
}

table.commOverView {
  left: 2em;
  position: absolute;
  top: 20em;
}

.alarmHead {
  position: absolute;
  top: -4em;
}

.load-production-schedule {
  position: absolute;
  top: 11em;
  left: 70em;
 // pointer-events: none;
}

.review-machine {
  left: 10em;
  position: absolute;
  top: 85em;
}

//--------------------------- table head down wards --------------------------------

.tableSizeDate {
  width: 8em;
}

//---------------------------- rotated table head ----------------------------------




.table-header-rotated th.row-header{
  width: 53px;
}

.table-header-rotated td{
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
  width: 53px;
}

.table-header-rotated th.rotate-45{
  font-size: 12px;
  height: 80px;
  line-height: .8;
  max-width: 53px;
  min-width: 53px;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  width: 53px;
}

.table-header-rotated th.rotate-45 > div{
  border-left: 1px solid #ddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  height: 100%;
  left: 40px;
  overflow: hidden;
  position: relative;
  top: 0;
   // 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle
  transform: skew(-45deg, 0deg);
}

.table-header-rotated th.rotate-45 span {
  bottom: 30px; // 40 cos(45) = 28 with an additional 2px margin
  display: inline-block;
  left: -25px; //Because it looked good, but there is probably a mathematical link here as well
  position: absolute;
  transform: skew(45deg, 0deg) rotate(315deg);
  // width: 100%;
  width: 85px; // 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 ext-align: left;
  // white-space: nowrap; /*whether to display in one line or not

}



