$tablet-color: #71f323;
$tablet-user: #D0E4F5;

.commissionTablet {
  position: absolute;
  top: 5.5em;
  left: 2em;
}

.chooseMachineTable {
  left: 1em;
  position: absolute;
  top: 18em;
}

.commissionHeadTab {
  left: 3em;
  position: absolute;
  top: 1em;
}

.marginLeft {
  margin-left: 1em;
}

.machineTablet {
  color: $tablet-color;
  white-space: nowrap;
  width: 9em;
}

.tabletUser {
  color: $tablet-user;
  margin-left: 1em;
}

.pickedMachine {
  z-index: 3;
}

.bodyHeight {
  height: 250px;
}

.supplyAreaTable {
  left: 23em;
  position: absolute;
  top: -2em;
}

table.supply-table {
  height: 50em;
  position: absolute;
  top: 20em;
  width: 22em;
}

.supplyTableHeight {
  height: 45em;
}

.commissionInitials {
  position: relative;
  left: 1.5em;
  width: 5em;
}

.supplyExecuteField {
  color: #D0E4F5;
  left: 35em;
  position: absolute;
  top: -1em;
}

.supplyButtonField {
  left: 25em;
  position: absolute;
  top: 30em;
}

.commission-cancel {
  left: 25em;
  position: relative;
  top: 50em;
}

.tabletHeader {
  left: -7em;
  position: absolute;
  width: 21em;
}

.machine-id-header {
  font-size: 50px;
  left: 4em;
  position: absolute;
  top: -.1em;
}

.text-supply {
  width: 50em;
}

.toggle-supply {
  left: 43em;
  position: absolute;
  top: 13em;
}

.commStart {
  float: left;
}

.commPause {
  left: 10em;
  position: absolute;
}

.commResume {
  float: left;
  left: 10em;
  position: absolute;
  top: 5em;
}

.commFinished {
  left: -.2em;
  position: absolute;
  top: 5em;
}

.corn-head {
  max-width: 100px;
  min-width: 100px;
  color: #5aec11;
  align-content: center;
}

.date-field {
  max-width: 200px;
  min-width: 200px;
  color: #5aec11;
}

.corn-head-finished {
  left: 66em;
  position: absolute;
  top: 0;
}

.corn-head-buttons {
  left: 148px;
  position: absolute;
  top: -71px;
}

.corn-head-header {
  left: 123px;
  position: relative;
  top: 53px;
  width: 530px;
  color: #5aec11;
}

.corn-arrow {
  left: 100px;
  position: relative;
  top: 54px;
 transform: rotate(270deg);
}

.corn-head-button-field {
  left: 128px;
  position: absolute;
  top: 302px ;
}

.add-corn-head {
  left: 107px;
  position: absolute;
  top: 839px;
  color: #5aec11;
}

.corn-head-admin {
  left: 290px;
  position: absolute;
  top: 768px;
  color: #9c11ec;
}

.add-multi-corn-heads {
  left: 407px;
  position: absolute;
  top: 839px;
  color: #5aec11;
}

.input-single-corn-head {
  left: 100px;
  position: absolute;
  top: 915px;
}

.submit-button-single-corn-head {
  left: 100px;
  position: absolute;
  top: 140px;
}

$comm-black: #000;

@keyframes glowing {
  0% { background-color: #AA3939; box-shadow: 0 0 3px  #aa5939; }
  50% { background-color: #FFB232; box-shadow: 0 0 10px #FFB232; }
  100% { background-color: #ffe800; box-shadow: 0 0 3px #FFE800; }
}

//---------------------------  Arrow Down ----------------------*/

$base: .6rem;

.arrowDown {
  display: flex;
  left: 4em;
  position: absolute;
}

.arrowSide {
  display: flex;
  left: 20em;
  position: absolute;
  top: 35em;
  transform: rotate(-90deg);
}

.arrowSide_2 {
  display: flex;
  left: 15em;
  position: absolute;
  top: 35em;
  transform: rotate(-90deg);
}

.chevron {
  animation: move-chevron 3s ease-out infinite;
  height: $base * .8;
  opacity: 0;
  position: absolute;
  transform: scale(.5);
  width: $base * 3.5;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  background: #dd7e1f;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  transform: skewY(-30deg);
  width: 50%;
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(.5);
  }
}

.open-orders-tablet {
  animation: blink 2s linear infinite;
  left: 248px;
  position: absolute;
  top: 557px;
  width: 223px;
}

.order-position-tablet {
  left: 990px;
  position: absolute;
  top: 328px;
}


.picking-button-tablet {
  left: 1010px;
  position: absolute;
  top: 438px;
}

.open-order-multi {
  left: -250px;
  position: absolute;
  top: -91px;
}