
.inProcess {
  animation: glowing 1500ms infinite;
  color: transparent;
}

@keyframes glowing {
  0% { background-color: #AA3939; box-shadow: 0 0 3px  #AA5939; }
  50% { background-color: #FFB232; box-shadow: 0 0 10px #FFB232; }
  100% { background-color: #FFE800; box-shadow: 0 0 3px #FFE800; }
}

@keyframes Siglowing {
  0% { background-color: #481317; box-shadow: 0 0 3px  #AA5939; }
  50% { background-color: #cb2aff; box-shadow: 0 0 10px #ffd855; }
  100% { background-color: #1cbdee; box-shadow: 0 0 3px #ec67ff; }
}
