
.team-1-start {
  left: 30px;
  position: absolute;
  top: 160px;
}

.team-1-end {
  left: 180px;
  position: absolute;
  top: 160px;
}

.time-frame {
  margin: 1px;
}

.shift-start-header {
  left: 50px;
  position: relative;
}

.shift-end-header {
  left: 20px;
  position: relative;
}