

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
  color:black;
}

.commissionHeadNav {
  position: absolute;
  top: 2em;
  left: 35em;
}

.templateNav {
  left: 40em;
  position: absolute;
  top: 2em;
}