.messenger-board {
  top: -26px;
  position: absolute;
  left: 899px;

}

.message-button {
  left: 996px;
  position: absolute;
  top: -132px;
}

.messenger-field {
  top: 100px;
  position: absolute;
  left: 84px;
  font-family: "DejaVu Serif";
  font-weight: bolder;
  width: 465px;
  height: 190px;
  background: #d6e0f5;
}

.urgency-degree {
  left: 106px;
  position: absolute;
  top: 86px;
}