.messenger-board {
  top: -26px;
  position: absolute;
  left: 899px;
}

.message-button {
  left: 996px;
  position: absolute;
  top: -132px;
}

.dropdown-location {
  left: 163px;
  position: absolute;
  top: 97px;
}

.message-button-team-5 {
  left: 1200px;
  position: absolute;
  top: 7px;
}

.messenger-field {
  top: 100px;
  position: absolute;
  left: 84px;
  font-family: "DejaVu Serif";
  font-weight: bolder;
  width: 465px;
  height: 190px;
  background: #d6e0f5;
}

.urgency-degree {
  left: 106px;
  position: absolute;
  top: 114px;
}

.button-parts-on-order {
  left: 652px;
  position: absolute;
  top: 65px;
}

.delivery-button {
  left: 810px;
  position: absolute;
  top: 65px;
}

.pickedOrder {
  left: 100px;
  position: absolute;
  top: 100px;
}

// *************************   table of unpicked orders  ****************************

.table.blueTable {
  width: 400px;
  height: auto;
}

.user-pick {
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}

.part-number-pick {
  max-width: 121px;
  min-width: 115px;
  text-align: center;
}

.storage-bin-pick {
  max-width: 160px;
  min-width: 160px;
  text-align: center;
}

.point-of-use-pick {
  max-width: 160px;
  min-width: 160px;
  text-align: center;
}

.order-processor {
  left: 820px;
  position: absolute;
  top: 4px;
}

.nav-bar-order-page {
  left: 100px;
  position: absolute;
  top: 25px;
}

.table-parts-on-order {
  left: 100px;
  position: absolute;
  top: 100px;
}
