
.order-by-team {
  left: 34px;
  position: absolute;
  top: 130px;
}

.team-table-text {
  left:422px;
  position: absolute;
  top: 222px;
  font-weight: bolder;
  color: #2a44d5;
  font-family: "DejaVu Sans", "sans-serif";
}

.order-complete-table {
  left: 35px;
  position: absolute;
  top: 700px;
}

.order-date-field {
  max-width: 100px;
  min-width: 100px;
}

.storage-field {
  max-width: 115px;
  min-width: 115px;
}

.order-diagram-1 {
  left: 30px;
  position: absolute;
  top: 300px;
}

.order-diagram-2 {
  left: 1200px;
  position: absolute;
  top: 315px;
}

.order-diagram-3 {
  left: 1200px;
  position: absolute;
  top: 1180px;
}