.team-lead-repair-toggle {
  left: 750px;
  position: absolute;
  top: 60px;
}

.team-lead-repairs {
  left: 100px;
  position: absolute;
  top: 100px;
}

.repair-table {
  width: 500px;
}

.repair-machine-field {
  max-width: 100px;
  min-width: 100px;
  font-weight: bolder;
}

.repair-issue-field {
  max-width: 600px;
  min-width: 600px;
  font-weight: bolder;
}

td.thumbnail-box {
  min-width: 90px;
  max-width: 90px;
}

.team-lead-repair-inputs {
  left: 1710px;
  position: absolute;
  top: 95px;
}