.single-tech-nav-box {
  left: 317px;
  position: absolute;
  top: 9px;
}

.single-result {
  left: 100px;
  position: absolute;
  top: 100px;
}

.tech-table {
  left: 100px;
  position: absolute;
  top: 150px;
}

.result-table {
  left: 320px;
  position: absolute;
  top: 150px;
}

.bay {
  width: 130px;
}

.tech-graph {
  left: 1360px;
  position: absolute;
  top: 150px;
}