
.newSupplyArea {
  left: 3em;
  position: absolute;
  top: 10em;
}

.supplyTable {
  left: 3em;
  position: absolute;
  top: 20em;
}

.deactivatedSupplyTable {
  left: 50em;
  position: absolute;
  top: 20em;
}

.supplyInactive {
  left: 12em;
  position: absolute;
  top: 20em;
}

.updateButton {
  left: 30em;
  position: absolute;
  top: 20em;
}

