$table-width-pos: 5em;
$table-width-name: 6em;
$warning-color: #fd034a;
$success-color: #03ff84;



.new-supply-area {
  left: 3em;
  position: absolute;
  top: 15em;
}

.supply-table {
  left: 3em;
  position: absolute;
  top: 23em;
}

.deactivated-supply-table {
  left: 50em;
  position: absolute;
  top: 23em;
}

.supply-inactive {
  left: 12em;
  position: absolute;
  top: 20em;
}

.update-button {
  left: 30em;
  position: absolute;
  top: 23em;
}

.activate-button {
  left: 37em;
  position: absolute;
  top: 27em;
}

.table-pos {
  text-align: center;
  width: $table-width-pos;
}

.table-name {
  text-align: center;
  width: $table-width-name;
}

.double-entry {
  color: $warning-color;
  left: 10em;
  position: absolute;
  top: 10em;
}

.inactive-areas {
  background-color: $warning-color;
}

.active-areas {
  background-color: $success-color;
}