.team-5-correction {
  left: -42px;
  position: absolute;
  top: -15px;
}

.arrows-bay-16-17 {
  left: 192px;
  position: absolute;
  top: 136px;
  transform: rotate(270deg);
}

.bay-17-canvas-screen {
  left: 196px;
  position: absolute;
  top: 97px;
}

.bay-17-screen {
  left: 270px;
  position: absolute;
  top: 28px;
  color: #e009dc;
  font-weight: bold;
  width: 100px;
}

.bay-17-time-screen {
  left: 250px;
  position: absolute;
  top: 61px;
  color: red;
  font-weight: bold;
  font-size: 19px;
}

.bay-17-unit-screen {
  left: 250px;
  position: absolute;
  top: 84px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

.arrows-bay-17-18 {
  left: 330px;
  position: absolute;
  top: 136px;
  transform: rotate(270deg);
}

.bay-18-canvas-screen {
  left: 339px;
  position: absolute;
  top: 97px;
}

.bay-18-screen {
  left: 410px;
  position: absolute;
  top: 28px;
  color: #e009dc;
  font-weight: bold;
  width: 100px;
}

.bay-18-time-screen {
  left: 108px;
  position: absolute;
  top: 61px;
  color: red;
  font-weight: bold;
  font-size: 19px;
}

.bay-18-unit-screen {
  left: 392px;
  position: absolute;
  top: 84px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

.arrows-bay-18-19 {
  left: 477px;
  position: absolute;
  top: 136px;
  transform: rotate(270deg);
}


.bay-19-canvas-screen {
  left: 490px;
  position: absolute;
  top: 97px;
}

.bay-19-screen {
  left: 140px;
  position: absolute;
  top: 28px;
  color: #e009dc;
  font-weight: bold;
  width: 100px;
}

.bay-19-time-screen {
  left: 540px;
  position: absolute;
  top: 61px;
  color: red;
  font-weight: bold;
  font-size: 19px;
}

.bay-19-unit-screen {
  left: 540px;
  position: absolute;
  top: 84px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

