.clock-test-bay {
  left: 100px;
  position: absolute;
  top: 100px;
}

.text-message {
  color: red;
  font-size: 100px;
  font-family: "DejaVu Serif";
  font-weight: bolder;
  left: 100px;
  position: absolute;
  top: 128px;
  width: 400px;
}

.overview-team-test-bay-build {
  left: 11px;
  position: absolute;
  top: 460px;
}

.clock-test-bay {
  left: 199px;
  position: absolute;
  top: 144px;
}

.test-bay-screen-head {
  left: 240px;
  position: absolute;
  top: -8px;
  font-family: "Times New Roman", Times, serif;
  color: red;
  width: 200px;
}

.test-bay-screen-view {
  left: 145px;
  position: absolute;
  top: 100px;
}

.bay-10-test-bay-screen {
  left: -119px;
  position: absolute;
  top: 54px;
  color: #e009dc;
  font-weight: bold;
  width: 100px;
}

.bay-10-test-bay-view {
  left: -186px;
  position: absolute;
  top: 138px;
}

.team-5-test-bay-screen {
  left: 267px;
  position: absolute;
  top: 197px;
}

.bay-14-15-arrows-single {
  left: -28px;
  position: relative;
  top: -253px;
  transform: rotate(270deg);
}

.test-bay-team-5-bay-15-screen {
  left: 124px;
  position: relative;
  top: -194px;
}

.testBay-1-time-screen {
  left: 4px;
  position: absolute;
  top: 77px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

.testBay-1-unit-screen {
  left: 4px;
  position: absolute;
  top: 100px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

.testBay-2-time-screen {
  left: -2px;
  position: absolute;
  top: -26px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

.testBay-2-unit-screen {
  left: -2px;
  position: absolute;
  top: -3px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
}

