
.time-study-table-1 {
  left: 10em;
  position: absolute;
  top: 20em;
}

.table-overflow {

  overflow: auto;
}

.table-time-study-height {
  height: 700px;
}

.bay {
  width: 200px;
}

.machine-number {
  width: 80px;
}

.machine-in-bay {
  width: 150px;
}

.machine-spent-time {
  width: 80px;
}

.machine-left-bay {
  width: 150px;
}
// **************************************   admin Dash Board  **************************************


.time-dash-board {
  left: 65em;
  position: absolute;
  top: 18em;
  width: 60em;
}

.shift-submit-container {
  left: 40em;
  position: absolute;
  top: 2em;
}


.input-distance {
  padding-bottom: 100px;
}

.shift-submit-button {
  left: 110px;
  position: absolute;
  top: 45em;
}
