
$opacity-1: 10;
$opa-value: .55;
$gradient-1: 3;
$angle-front: 270deg;
$angle-back: 90deg;
$rgba-field: rgba(10, 10, 10, .25);
$gradient-color: #030000;

.transparent-box {
  background: linear-gradient(
                  $angle-back, $rgba-field, $gradient-color);
  height: 100em;
  left: 70em;
  position: absolute;
  top: 5em;
  width: 400px;
  z-index: 1;
}

.transparent-box-2 {
  background: linear-gradient(
                  $angle-back, $rgba-field, $gradient-color);
  height: 100em;
  left: 57em;
  position: absolute;
  top: 5em;
  width: 400px;
  z-index: 1;
}

.transparent-box-reverse {
  background: linear-gradient(
                  $angle-front, $rgba-field, $gradient-color);
  height: 100em;
  left: 1em;
  position: absolute;
  top: 5em;
  width: 280px;
  z-index: 1;
}

