.submit-admin {
  left: 65em;
  position: absolute;
}

.total-users {
  margin-left: 25px;
  position: absolute;
  top: 35em;
}

.new-user {
  margin-left: 4em;
  position: absolute;
  top: 120px;
}

.add-fiscal-year {
  left: 70em;
  position: absolute;
  top: 19em;
}

.fiscal-year-admin {
  position: relative;
  top: 20em;
  left: 70em;
}

.font-style {
  font-weight: bold;
  font-size: 22px;
}

.active-inactive-pickers {
  left: 70em;
  position: relative;
  top: 30em;
}

.pickers-id {
  min-width: 120px;
  text-align: center;
}

.supply-frame {
  left: 20em;
  position: absolute;
  top: 10em;
}

.deactivate-button {
  position: absolute;
  top: 10em;
}

.reactivate-button {
  left: 15em;
  position: absolute;
  top: 10em;
}

.add-area {
  left: 30em;
  position: absolute;
  top: 8em;
}

.active-supply {
  left: -10em;
  position: absolute;
  top: 15em;
}

.inactive-supply {
  left: 15em;
  position: absolute;
  top: 15em;
}

.table-size table {
  height: 50px;
}

.commission-admin {
  left: 70em;
  position: absolute;
  top: 2em;
}

#logo {
  position: absolute;
  top: 4em;
  left: 2em;
}

.loginImage {
  margin-top: 100px;
}

.userName {
  position: absolute;
  top: 150px;
  left: 25px;
}

.loginPasswd {
  position: absolute;
  top: 220px;
  left: 25px;
}

.loginButton {
  position: absolute;
  top: 290px;
  left: 25px;
}

.inProcess {
  animation: glowing 1500ms infinite;
  color: transparent;
}

@keyframes glowing {
  0% {
    background-color: #AA3939;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #FFB232;
    box-shadow: 0 0 10px #FFB232;
  }
  100% {
    background-color: #FFE800;
    box-shadow: 0 0 3px #FFE800;
  }
}
@keyframes Siglowing {
  0% {
    background-color: #481317;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #cb2aff;
    box-shadow: 0 0 10px #ffd855;
  }
  100% {
    background-color: #1cbdee;
    box-shadow: 0 0 3px #ec67ff;
  }
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.repairNavButton {
  position: relative;
  left: 40em;
}

.commissionHeadNav {
  position: absolute;
  top: 2em;
  left: 35em;
}

.templateNav {
  left: 40em;
  position: absolute;
  top: 2em;
}

.buttonNotWorking {
  background: repeating-linear-gradient(45deg, #e6e6e6, #bc171b 10px, #e6e6e6 10px, #bc171b 20px);
}

table.toDoListTable {
  margin-left: 2.5em;
  position: relative;
  top: 14em;
  width: 60.5em;
}

.to-do-message {
  left: 2.2em;
  position: relative;
  top: 13em;
}

.adminLopMessage {
  left: 70em;
  position: absolute;
  top: 16em;
}

.text-box {
  width: 480px;
}

.commissionTablet {
  position: absolute;
  top: 5.5em;
  left: 2em;
}

.chooseMachineTable {
  left: 1em;
  position: absolute;
  top: 18em;
}

.commissionHeadTab {
  left: 3em;
  position: absolute;
  top: 1em;
}

.marginLeft {
  margin-left: 1em;
}

.machineTablet {
  color: #71f323;
  white-space: nowrap;
  width: 9em;
}

.tabletUser {
  color: #D0E4F5;
  margin-left: 1em;
}

.pickedMachineField {
  width: 2em;
}

.pickedMachine {
  z-index: 3;
}

.bodyHeight {
  height: 250px;
}

.supplyAreaTable {
  left: 23em;
  position: absolute;
  top: -2em;
}

table.supply-table {
  height: 50em;
  position: absolute;
  top: 20em;
  width: 22em;
}

.supplyTableHeight {
  height: 45em;
}

.commissionInitials {
  position: relative;
  left: 1.5em;
  width: 5em;
}

.supplyExecuteField {
  color: #D0E4F5;
  left: 35em;
  position: absolute;
  top: -1em;
}

.supplyButtonField {
  left: 25em;
  position: absolute;
  top: 30em;
}

.commStart {
  float: left;
}

.commPause {
  left: 10em;
  position: absolute;
}

.commResume {
  float: left;
  left: 10em;
  position: absolute;
  top: 5em;
}

.commFinished {
  left: -0.2em;
  position: absolute;
  top: 5em;
}

.commission-cancel {
  left: 25em;
  position: relative;
  top: 50em;
}

.tabletHeader {
  left: -7em;
  position: absolute;
  width: 21em;
}

.machine-id-header {
  font-size: 50px;
  left: 4em;
  position: absolute;
  top: -0.1em;
}

.supplyIdHeader {
  font-size: 50px;
  position: absolute;
  top: 2em;
}

.text-supply {
  width: 50em;
}

.toggle-supply {
  left: 43em;
  position: absolute;
  top: 13em;
}

.comm-in-process {
  animation: glowing 1500ms infinite;
  color: #000;
  opacity: 0.4;
  pointer-events: none;
}

@keyframes glowing {
  0% {
    background-color: #AA3939;
    box-shadow: 0 0 3px #aa5939;
  }
  50% {
    background-color: #FFB232;
    box-shadow: 0 0 10px #FFB232;
  }
  100% {
    background-color: #ffe800;
    box-shadow: 0 0 3px #FFE800;
  }
}
.arrowDown {
  display: flex;
  left: 4em;
  position: absolute;
}

.arrowSide {
  display: flex;
  left: 20em;
  position: absolute;
  top: 35em;
  transform: rotate(-90deg);
}

.arrowSide_2 {
  display: flex;
  left: 15em;
  position: absolute;
  top: 35em;
  transform: rotate(-90deg);
}

.chevron {
  animation: move-chevron 3s ease-out infinite;
  height: 0.48rem;
  opacity: 0;
  position: absolute;
  transform: scale(0.5);
  width: 2.1rem;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  background: #dd7e1f;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  transform: skewY(-30deg);
  width: 50%;
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
.machine-counter {
  left: 90em;
  position: absolute;
  top: 13em;
}

.commNav {
  left: 40em;
  position: relative;
  top: 2em;
}

.comm-tablet {
  left: 30em;
  position: absolute;
  top: 11.5em;
}

.comm-tablet-machine-list {
  left: 10em;
  position: absolute;
  top: 20em;
}

.pdiShipField {
  max-width: 92px;
  min-width: 92px;
}

.fixed-header tbody {
  display: block;
  height: 50em;
  overflow: auto;
  width: 100%;
}

.fixed-header thead tr {
  display: block;
}

.header-completed {
  left: 110em;
  position: absolute;
  top: 21em;
}

.inactive-machine-table {
  left: 130em;
  position: absolute;
  top: 26em;
}

.commHead {
  position: relative;
  left: 20em;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 5em;
}

.machineCommissionTable {
  left: 10em;
  position: absolute;
  top: 26em;
}

.commMachineField {
  width: 5em;
}

.toggleButton {
  position: absolute;
  top: 22em;
  left: 80em;
}

.removeMachine {
  position: relative;
  left: 50em;
  top: 7.5em;
}

.inLineDate {
  position: absolute;
  top: -0.1em;
}

table.commOverView {
  left: 2em;
  position: absolute;
  top: 20em;
}

.alarmHead {
  position: absolute;
  top: -4em;
}

.load-production-schedule {
  position: absolute;
  top: 11em;
  left: 70em;
}

.review-machine {
  left: 10em;
  position: absolute;
  top: 85em;
}

.tableSizeDate {
  width: 8em;
}

.table-header-rotated th.row-header {
  width: 53px;
}

.table-header-rotated td {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
  width: 53px;
}

.table-header-rotated th.rotate-45 {
  font-size: 12px;
  height: 80px;
  line-height: 0.8;
  max-width: 53px;
  min-width: 53px;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  width: 53px;
}

.table-header-rotated th.rotate-45 > div {
  border-left: 1px solid #ddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  height: 100%;
  left: 40px;
  overflow: hidden;
  position: relative;
  top: 0;
  transform: skew(-45deg, 0deg);
}

.table-header-rotated th.rotate-45 span {
  bottom: 30px;
  display: inline-block;
  left: -25px;
  position: absolute;
  transform: skew(45deg, 0deg) rotate(315deg);
  width: 85px;
}

.averageSupply {
  position: absolute;
  top: 10em;
  left: 2em;
}

.admins-button {
  left: 30em;
  position: absolute;
  top: 2em;
}

.pickers-table {
  left: 3em;
  position: absolute;
  top: 10em;
}

.diagram-1 {
  left: 14em;
  position: absolute;
  top: 19em;
}

.diagram-2-to-4 {
  left: 1em;
  position: absolute;
  top: 5em;
}

.diagram-9 {
  left: 35em;
  position: absolute;
  top: 88em;
}

.diagram-3 {
  position: absolute;
  top: 5em;
}

.analytics {
  left: 10em;
  position: relative;
}

.start-analyze {
  left: 20em;
  position: absolute;
  top: 10em;
}

.chosen-picker {
  left: 10em;
  position: absolute;
  top: 8em;
}

.areas-total {
  left: 10em;
  position: absolute;
  top: 10em;
}

.button-list {
  left: 10em;
  position: absolute;
  top: 10em;
}

.analyze-table {
  border: 1px solid #000;
}

.analyze-table-head {
  background-color: #1cbdee;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
  width: 65px;
}

.analyze-table-body {
  border: 1px solid #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.supplied-area-table {
  left: 10em;
  position: absolute;
  top: 14em;
}

.spacing {
  padding: 8px;
}

.daily-picks {
  left: 17em;
  position: absolute;
  top: 14em;
}

.personal-running-result {
  left: 70em;
  position: absolute;
  top: 17em;
}

.running-result {
  left: 20em;
  position: absolute;
  top: 10em;
}

.running-result-last-year {
  left: 70em;
  position: absolute;
  top: 49em;
}

.today-team-result {
  left: 12em;
  position: absolute;
  top: 49em;
}

.admins-bar {
  left: 30em;
  position: absolute;
  top: 2em;
}

.analysis-head-year-chosen {
  position: absolute;
  top: 12em;
  left: 50em;
}

.fiscal-year {
  position: absolute;
  top: 11em;
  left: -7em;
}

.fiscal-year-table {
  position: relative;
  top: 2em;
}

.pickers-head {
  left: 5em;
  position: absolute;
  top: 10em;
}

.pickers-overview {
  left: 5em;
  position: absolute;
  top: 15em;
}

.pickers-width {
  text-align: center;
  width: 120px;
}

.analysis-selection {
  left: 6em;
  position: absolute;
  top: 44em;
}

.analysis-selection-single {
  left: 6em;
  position: absolute;
  top: 80em;
}

.table-height {
  height: 30px;
}

.single-supply {
  left: 15em;
  position: absolute;
  top: 2.8em;
}

.selected-time {
  background-color: #ff470f;
}

.edit-time {
  left: 30em;
  position: absolute;
  top: 7em;
}

.edit-time-button {
  margin-top: 15px;
}

.logged-user {
  left: 8em;
  position: absolute;
  top: 8em;
}

.details-button {
  left: 20em;
  position: absolute;
  top: 1em;
}

.range-2 {
  position: absolute;
  top: 7.7em;
  left: 15em;
}

.range-input-2 {
  position: absolute;
  left: 2em;
}

.btn-range-2 {
  position: absolute;
  top: -0.25em;
  left: 15em;
}

.area-result {
  position: absolute;
  top: 60em;
  left: 25em;
}

.diagram-4 {
  position: absolute;
  top: 60em;
  left: 35em;
}

.search-for-date {
  left: 3em;
  position: absolute;
  top: 60em;
}

.date-search-table {
  left: 1em;
  position: absolute;
  top: 65em;
}

.new-supply-area {
  left: 3em;
  position: absolute;
  top: 15em;
}

.supply-table {
  left: 3em;
  position: absolute;
  top: 23em;
}

.deactivated-supply-table {
  left: 50em;
  position: absolute;
  top: 23em;
}

.supply-inactive {
  left: 12em;
  position: absolute;
  top: 20em;
}

.update-button {
  left: 30em;
  position: absolute;
  top: 23em;
}

.activate-button {
  left: 37em;
  position: absolute;
  top: 27em;
}

.table-pos {
  text-align: center;
  width: 5em;
}

.table-name {
  text-align: center;
  width: 6em;
}

.double-entry {
  color: #fd034a;
  left: 10em;
  position: absolute;
  top: 10em;
}

.inactive-areas {
  background-color: #fd034a;
}

.active-areas {
  background-color: #03ff84;
}

.multi-button {
  left: 20em;
  position: absolute;
  top: 0.1em;
}

.choose-machine-table {
  float: left;
  left: 2em;
  position: relative;
  top: 8em;
}

.head-liner {
  left: -2em;
  position: absolute;
  top: -6em;
  width: 20em;
}

.multi-id-header {
  font-size: 30px;
  left: 6em;
  position: absolute;
  top: -0.1em;
}

.arrow-side-multi {
  display: flex;
  left: 25em;
  position: absolute;
  top: 25em;
  transform: rotate(-90deg);
}

.supply-multi-machines {
  left: 38em;
  position: absolute;
  top: -5em;
}

table.supply-multi-table {
  border: 1px solid #a49892;
  border-collapse: collapse;
  height: 10em;
  position: absolute;
  text-align: left;
  top: 20em;
  width: 5em;
}

table.supply-multi-table thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
  border-left: 2px solid #d0e4f5;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
}

table.supply-multi-table tbody td {
  font-size: 13px;
  word-wrap: break-word;
}

table.supply-multi-table td, table.supply-multi-table th {
  border: 1px solid #aaa;
  padding: 3px 5px;
}

.supply-button-field {
  left: 20em;
  position: absolute;
  text-align: left;
  top: 20em;
}

.arrow-side-2 {
  display: flex;
  left: 13em;
  position: absolute;
  top: 25em;
  transform: rotate(-90deg);
}

.multi-start {
  float: left;
}

.multi-pause {
  left: 10em;
  position: absolute;
}

.multi-resume {
  float: left;
  left: 10em;
  position: absolute;
  top: 5em;
}

.multi-finished {
  left: -0.2em;
  position: absolute;
  top: 5em;
}

.cancel-request {
  margin-bottom: 10px;
  width: 240px;
}

.cancellation-request {
  position: relative;
  top: 15em;
}

.cancel-multi {
  left: 24em;
  position: absolute;
  top: 39em;
}

.button-box {
  left: 30em;
  position: absolute;
  top: 7em;
}

.assembly-line-head-liner {
  left: 30em;
  position: absolute;
  top: 10em;
}

.over-view-table-assembly-line {
  left: 5em;
  position: absolute;
  top: 20em;
}

.in-line-field {
  width: 40px;
}

.lop-nav {
  left: 30em;
  position: absolute;
}

.nav-bar {
  left: 20em;
  position: absolute;
  top: 5em;
}

.machine-reservoir {
  color: #71f323;
  left: 5em;
  position: absolute;
  top: 11em;
}

.in-line-date {
  max-width: 100px;
  min-width: 100px;
}

.machine-entry {
  left: 25em;
  position: absolute;
  top: 22.5em;
}

.overview-assembly-line {
  left: -1em;
  position: relative;
  top: 10em;
}

.rectangle {
  background: #0000FFFF;
  height: 22em;
  left: 5em;
  opacity: 0.1;
  position: relative;
  top: 21em;
  width: 200px;
  z-index: 1;
}

.rectangle-2 {
  background: #0000FFFF;
  height: 22em;
  left: 55.5em;
  opacity: 0.1;
  position: relative;
  top: 53em;
  width: 200px;
  z-index: 1;
}

.rectangle-engines-1 {
  background: #0000FFFF;
  height: 22em;
  left: 5.5em;
  opacity: 0.1;
  position: relative;
  top: 44em;
  width: 200px;
  z-index: 1;
}

.rectangle-cooling-1 {
  background: #0000FFFF;
  height: 12em;
  left: 5.5em;
  opacity: 0.1;
  position: relative;
  top: 30em;
  width: 200px;
  z-index: 1;
}

.unauthorized-box {
  left: 3em;
  position: relative;
  top: -32em;
  width: 206px;
  height: 1019px;
}

.unauthorized-cover-team-4 {
  left: 3em;
  position: relative;
  top: -12em;
  width: 206px;
  height: 568px;
}

.view-cover-box {
  background: #0000FFFF;
  height: 22em;
  opacity: 0.1;
  position: relative;
  width: 200px;
  z-index: 1;
}

.cover-box {
  height: 20em;
  left: 5em;
  position: relative;
  width: 20em;
}

.move-buttons-over-view {
  left: 22em;
  position: absolute;
  top: 12em;
}

.bay-3-button {
  position: absolute;
  top: -1.5em;
  left: 10em;
}

.bay-4-button {
  position: absolute;
  top: -1.5em;
  left: 20em;
}

.bay-5-button {
  position: absolute;
  top: -1.5em;
  left: 30em;
}

.bay-6-button {
  position: absolute;
  top: -1.5em;
  left: 40em;
}

.bay-7-button {
  position: absolute;
  top: -1.5em;
  left: 50em;
}

.bay-8-button {
  position: absolute;
  top: -1.5em;
  left: 60em;
}

.bay-9-button {
  position: absolute;
  top: -1.5em;
  left: 70em;
}

.bay-10-button {
  position: absolute;
  top: -1.5em;
  left: 80em;
}

.test-bay-move-buttons {
  left: 90em;
  position: absolute;
  top: -2em;
}

.test-3-4-text {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: -9em;
}

.final-assembly-container-button {
  left: 5em;
  position: absolute;
  top: 8em;
}

.bay-14-button {
  position: absolute;
  top: -1.5em;
  left: 110em;
}

.bay-15-button {
  position: absolute;
  top: -1.5em;
  left: 120em;
}

.bay-16-button {
  position: absolute;
  top: -1.5em;
  left: 130em;
}

.bay-17-button {
  position: absolute;
  top: -1.5em;
  left: 140em;
}

.bay-18-button {
  position: absolute;
  top: -1.5em;
  left: 150em;
}

.bay-19-button {
  position: absolute;
  top: -1.5em;
  left: 160em;
}

.machine-field {
  background: #dd7e1f;
}

.canvas-class {
  height: 150px;
  left: -5px;
  position: relative;
  top: -40px;
  width: 280px;
}

.canvas-correction {
  position: absolute;
  top: 1px;
}

.assembly-line-arrow-1 {
  display: flex;
  top: 24.5em;
  transform: rotate(-90deg);
}

.assembly-line-bay-10-arrow {
  display: flex;
  top: 24.5em;
  transform: rotate(-45deg);
}

.test-bay-4-arrow {
  display: flex;
  top: 24.5em;
  transform: rotate(-45deg);
}

.bay-arrows {
  left: 8em;
  position: absolute;
  top: 4em;
}

.team-1-arrows {
  left: 38.1em;
  position: absolute;
  top: 24em;
}

.team-2-position {
  left: -39em;
  position: absolute;
  top: 1em;
}

.station-1-arrows {
  position: absolute;
  top: 18.5em;
  transform: rotate(-90deg);
  left: 8em;
}

.station-2-arrows {
  left: 19em;
  position: absolute;
  top: 17em;
  transform: rotate(-45deg);
}

.station-3-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 41em;
}

.station-4-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 55em;
}

.station-5-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 69em;
}

.station-6-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 83em;
}

.station-7-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 97em;
}

.station-8-arrows {
  position: absolute;
  top: 24.9em;
  transform: rotate(-90deg);
  left: 111em;
}

.team-1-buttons {
  left: 22em;
  position: absolute;
  top: 12em;
}

.bay-3-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-4-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

.team-2-1-arrows {
  position: absolute;
  top: 24.8em;
  transform: rotate(-90deg);
  left: 13em;
}

.team-2-2-arrows {
  position: absolute;
  top: 24.8em;
  transform: rotate(-90deg);
  left: 27em;
}

.template-team-2 {
  left: 23.7em;
  position: absolute;
  top: 12.5em;
}

.bay-6-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-7-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

.team-3-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 47em;
  position: absolute;
  top: 4em;
}

.team-3-overView-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 128em;
  position: absolute;
  top: 4em;
}

.team-3-test-bay-view {
  left: 30em;
  position: relative;
  top: -3em;
}

.template-team-3 {
  left: 23.7em;
  position: absolute;
  top: 12.5em;
}

.bay-9-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-10-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

.bay-10-to-test-bay-arrow {
  left: 47em;
  position: relative;
  top: -32em;
  transform: rotate(-45deg);
}

.template-team-4 {
  left: 25em;
  position: absolute;
  top: 34.1em;
}

.engine-2-team-button {
  left: 9.5em;
  position: absolute;
  top: -1.5em;
}

.engine-3-team-button {
  left: 19em;
  position: absolute;
  top: -1.5em;
  z-index: 1;
}

.engine-4-team-button {
  left: 26em;
  position: absolute;
  top: -1.5em;
  z-index: 1;
}

.cooling-1-team-button {
  position: absolute;
  top: -18em;
}

.cooling-box-1-text {
  color: #71f323;
  left: 2em;
  position: relative;
  top: -3em;
}

.cooling-box-2-text {
  color: #71f323;
  left: 2em;
  position: relative;
  top: -2em;
}

.merge-1-text {
  color: #71f323;
  left: 2em;
  position: relative;
  top: -2em;
}

.merge-2-text {
  color: #71f323;
  left: 2em;
  position: relative;
  top: -2em;
}

.canvas-box-1 {
  left: -1em;
  position: relative;
  top: 1em;
}

.canvas-box-2 {
  left: -1em;
  position: relative;
  top: 2em;
}

.canvas-cooling-1 {
  position: relative;
  top: -14em;
  width: 91px;
  height: 70px;
  border: 2px solid #ee0e0e;
}

.cooling-2-team-button {
  left: 10em;
  position: absolute;
  top: -19.5em;
}

.canvas-cooling-2 {
  position: relative;
  top: -14em;
  width: 91px;
  height: 70px;
  border: 2px solid #ee0e0e;
}

.merge-1-team-button {
  left: 17em;
  position: absolute;
  top: -19.5em;
}

.merge-2-team-button {
  left: 28em;
  position: absolute;
  top: -19.5em;
}

.engine-reservoir {
  color: #71f323;
  left: 6em;
  position: absolute;
  top: 42em;
}

.cooling-box-reservoir {
  color: #71f323;
  position: absolute;
  top: -25em;
}

.cooling-table-height {
  height: 150px;
}

.engine-assembly-container {
  left: 35em;
  position: absolute;
  top: 15.5em;
}

.engine-text {
  color: #03ff84;
  position: relative;
  top: -2em;
}

.station-1 {
  left: 0;
  position: absolute;
  top: 30em;
}

.engine-canvas-correction {
  left: -12px;
  position: relative;
  top: 14px;
}

.station-2 {
  left: 13em;
  position: absolute;
  top: 30em;
}

.station-3 {
  left: 26em;
  position: absolute;
  top: 30em;
  z-index: 1;
}

.station-4 {
  left: 39em;
  position: absolute;
  top: 30em;
  z-index: 1;
}

.chevron-engine-bays {
  left: 25.2em;
  position: absolute;
  top: 40em;
}

.engine-arrow-1 {
  position: relative;
  top: 15em;
  transform: rotate(-90deg);
  left: 1em;
}

.engine-arrow-2 {
  position: relative;
  top: 15em;
  transform: rotate(-90deg);
  left: 17em;
}

.engine-arrow-3 {
  position: relative;
  top: 15em;
  transform: rotate(-90deg);
  left: 30em;
}

.engine-arrow-4 {
  position: relative;
  top: 15em;
  transform: rotate(-90deg);
  left: 43em;
}

.box-arrow-1 {
  left: 2em;
  position: relative;
  top: -10em;
  transform: rotate(-90deg);
}

.box-arrow-2 {
  left: 17em;
  position: relative;
  top: -10em;
  transform: rotate(-90deg);
}

.box-arrow-3 {
  left: 30em;
  position: relative;
  top: -10em;
  transform: rotate(-90deg);
}

.cooling-arrow-1 {
  position: absolute;
  top: -20em;
  transform: rotate(180deg);
  left: 40em;
}

.cooling-arrow-2 {
  position: absolute;
  top: -20em;
  transform: rotate(180deg);
  left: 56em;
}

.merging-arrow-1 {
  position: absolute;
  top: 4em;
  transform: rotate(180deg);
  left: 55em;
}

.merging-arrow-3 {
  position: absolute;
  top: 3em;
  transform: rotate(135deg);
  left: 50em;
}

.merging-arrow-2 {
  position: absolute;
  top: -9em;
  transform: rotate(-90deg);
  left: 49em;
}

.cooling-canvas-correction {
  left: -20px;
  position: relative;
}

.cooling-station-1 {
  left: -5px;
  position: absolute;
  top: 6em;
}

.my-canvas {
  left: -1em;
  position: relative;
  top: 2em;
}

.my-canvas-2 {
  left: -1em;
  position: relative;
  top: 2em;
}

.my-canvas-3 {
  position: relative;
  top: 4em;
}

.merging-canvas-correction {
  position: relative;
  top: 2em;
}

.cooling-station-2 {
  left: 13em;
  position: absolute;
  top: 5em;
}

.engine-merge-station-1 {
  left: 24.8em;
  position: absolute;
  top: 5em;
}

.engine-merge-station-2 {
  left: 40em;
  position: absolute;
  top: 5em;
}

.test-bay-main-view {
  left: 89em;
  position: relative;
  top: -18em;
}

.test-bay-head {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 43em;
  position: absolute;
  top: 7em;
}

.bay-9-text {
  color: #71f323;
  font-weight: bolder;
  left: -1em;
  position: relative;
  top: -11em;
}

.bay-10-text {
  color: #71f323;
  font-weight: bolder;
  left: 8em;
  position: relative;
  top: -25em;
}

.canvas-class-bay-9 {
  left: -2em;
  position: relative;
  top: -8.5em;
}

.canvas-class-bay-10 {
  left: 7em;
  position: relative;
  top: -22.3em;
}

.test-bay-single-view {
  left: 37em;
  position: absolute;
  top: 8em;
}

.test-bay-single-view-buttons {
  left: 37em;
  position: absolute;
  top: 7em;
}

.bay-test-1-button-single {
  left: -10em;
  position: relative;
  top: 17em;
  z-index: 1;
}

.test-bay-1-text-single {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 13em;
}

.canvas-test-bay-1-single {
  position: relative;
}

.test-bay-1-3-button-single {
  left: -12em;
  opacity: 0;
  position: relative;
  top: 2em;
  transform: rotate(90deg);
  z-index: 1;
}

.test-bay-1-to-3-arrows-single {
  left: -27em;
  top: -20em;
  transform: rotate(180deg);
  z-index: -1;
}

.test-bay-1-to-4-arrows-single {
  left: -14em;
  top: -41em;
  transform: rotate(240deg);
  z-index: -1;
}

.test-bay-2-4-button-single {
  left: 3em;
  opacity: 0;
  position: relative;
  top: 1em;
  transform: rotate(90deg);
  z-index: 1;
}

.test-bay-1-4-button-single {
  left: -8em;
  opacity: 0;
  position: relative;
  transform: rotate(135deg);
  z-index: 1;
}

.test-bay-2-3-button-single {
  opacity: 0;
  position: relative;
  top: -1.5em;
  transform: rotate(45deg);
  z-index: 1;
}

.test-bay-1-2-arrows-single {
  left: -6em;
  position: relative;
  top: -8em;
  transform: rotate(-90deg);
}

.team-test-bay-2-single {
  left: 15em;
  position: relative;
  top: -24em;
}

.bay-test-2-button-single {
  left: 0.5em;
  position: relative;
  top: 14.7em;
  z-index: 1;
}

.test-bay-2-text-single {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 3em;
}

.test-bay-2-4-arrows-single {
  left: -7em;
  top: -58em;
  transform: rotate(180deg);
  z-index: -1;
}

.test-bay-2-to-3-arrows-single {
  left: -8em;
  top: -57em;
  transform: rotate(135deg);
  z-index: -1;
}

.bay-test-3-button-single {
  left: -10em;
  position: relative;
  top: -2em;
  z-index: 1;
}

.test-bay-3-4-arrows-single {
  left: -7em;
  position: relative;
  top: 17.5em;
  transform: rotate(-90deg);
}

.canvas-test-bay-3-single {
  left: -0.5em;
  position: relative;
  top: 25.5em;
}

.canvas-test-bay-4-single {
  left: -0.5em;
  position: relative;
  top: 28.5em;
}

.bay-test-4-button-single {
  left: 1em;
  position: relative;
  top: -4.5em;
  z-index: 1;
}

.test-bay-4-14-arrows-single {
  left: 4em;
  position: relative;
  top: 25.5em;
  transform: rotate(-45deg);
}

.front-test-bay-arrow-single {
  left: -12em;
  position: relative;
  top: -9em;
  transform: rotate(-135deg);
}

.front-test-bay-single-button {
  left: -19em;
  position: relative;
  top: 13em;
  z-index: 1;
}

.bay-9-10-container {
  left: 3em;
  position: absolute;
  top: 21em;
}

.team3-bay10-single {
  left: 14em;
  position: relative;
  top: -19.4em;
}

.station-5-arrows-single {
  left: 56em;
  position: relative;
  top: 26em;
  transform: rotate(-90deg);
}

.canvas-front-test-bay {
  left: 3em;
  position: relative;
  top: -4em;
}

.final-assembly-single-container {
  left: 48em;
  position: relative;
  top: 17.5em;
}

.bay-14-text {
  color: #71f323;
  font-weight: bolder;
  left: 1em;
  position: relative;
  top: -2em;
}

.bay-15-text {
  color: #71f323;
  font-weight: bolder;
  left: 12em;
  position: relative;
  top: -15.8em;
}

.canvas-class-bay-15 {
  left: 11em;
  position: relative;
  top: -13.8em;
}

.test-bay-2-14-arrows-single {
  left: -6em;
  position: relative;
  top: -18em;
  transform: rotate(-90deg);
}

.team5-bay-14-single {
  top: 28em;
  position: relative;
}

.team5-bay-15-single {
  top: 8.7em;
  position: relative;
  left: 14em;
}

.test-bay-container {
  left: 163em;
  position: absolute;
  top: 5.6em;
}

.front-test-bay {
  left: -12em;
  position: relative;
  top: 23em;
  z-index: 1;
}

.front-test-bay-arrow {
  left: -16em;
  position: relative;
  top: -8em;
  transform: rotate(-135deg);
}

.team3-front-test-bay {
  left: -26em;
  position: relative;
  transform: rotate(90deg);
  top: 19em;
}

.team-test-bay-1 {
  position: relative;
  top: 4em;
}

.bay-test-1-button {
  left: 1em;
  position: relative;
  top: 7em;
  z-index: 1;
}

.test-bay-1-text {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 8em;
}

.canvas-test-bay-1 {
  position: relative;
  top: -7em;
}

.test-bay-1-2-arrows {
  left: -6em;
  position: relative;
  top: -14em;
  transform: rotate(-90deg);
}

.test-bay-1-3-button {
  left: -14em;
  opacity: 0;
  position: relative;
  top: -7em;
  transform: rotate(90deg);
  z-index: 1;
}

.test-bay-1-to-3-arrows {
  left: -27em;
  top: -28em;
  transform: rotate(180deg);
  z-index: -1;
}

.test-bay-1-4-button {
  left: -18em;
  opacity: 0;
  position: relative;
  top: -23em;
  transform: rotate(137deg);
  z-index: 1;
}

.test-bay-1-to-4-arrows {
  left: -14em;
  top: -52em;
  transform: rotate(240deg);
  z-index: -1;
}

.team-test-bay-2 {
  left: 15em;
  position: relative;
  top: -40em;
}

.test-bay-2-text {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 5em;
}

.bay-test-2-button {
  left: 0.5em;
  position: relative;
  top: 4em;
  z-index: 1;
}

.canvas-test-bay-2 {
  left: -0.5em;
  position: relative;
  top: -10em;
}

.test-bay-2-14-arrows {
  left: -7em;
  position: relative;
  top: -17em;
  transform: rotate(-90deg);
}

.test-bay-2-4-button {
  left: 7em;
  opacity: 0;
  position: relative;
  top: -53.5em;
  transform: rotate(90deg);
  z-index: 1;
}

.test-bay-2-4-arrows {
  left: -7em;
  top: -75em;
  transform: rotate(180deg);
  z-index: -1;
}

.test-bay-2-to-3-arrows {
  left: -6em;
  top: -84em;
  transform: rotate(120deg);
  z-index: -1;
}

.test-bay-2-3-button {
  width: 40px;
  left: 11em;
  opacity: 0;
  position: relative;
  top: -80em;
  transform: rotate(45deg);
  z-index: 1;
}

.team-test-bay-3 {
  left: 1em;
  position: relative;
  top: -108em;
  z-index: -1;
}

.bay-test-3-button {
  left: 0.5em;
  position: relative;
  top: -4.5em;
}

.test-bay-3-4-arrows {
  left: -7em;
  position: relative;
  top: -15.5em;
  transform: rotate(-90deg);
}

.test-bay-3-text {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 20.9em;
}

.canvas-test-bay-3 {
  left: -0.5em;
  position: relative;
  top: -8.5em;
}

.team-test-bay-4 {
  left: 15em;
  position: relative;
  top: -130.5em;
  z-index: -1;
}

.bay-test-4-button {
  left: 0.5em;
  position: relative;
  top: -4.5em;
}

.test-bay-4-14-arrows {
  left: 4em;
  position: relative;
  top: -11.5em;
  transform: rotate(-45deg);
}

.test-bay-4-text {
  color: #71f323;
  font-weight: bolder;
  position: relative;
  top: 24em;
}

.canvas-test-bay-4 {
  left: -0.5em;
  position: relative;
  top: -8.5em;
}

.scroll-down {
  --color: #ff0000;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  margin-bottom: 16px;
}

/*

.scroll-down::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scroll-down-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}



@keyframes scroll-down-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
 */
.chevrons {
  padding: 10px 0 10px 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron-down {
  margin-top: -2px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevron-down:nth-child(odd) {
  animation: pulse 800ms ease infinite alternate;
}

.chevron-down:nth-child(even) {
  animation: pulse 800ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.51;
  }
}
.test-bay-team-5-view {
  left: -21em;
  position: relative;
  top: -2em;
}

.chevron-box-team-4 {
  left: 7em;
  position: relative;
  top: 9em;
}

.team-5-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 75em;
  position: absolute;
  top: 14em;
}

.team-5-overView-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 226em;
  position: absolute;
  top: 14em;
  width: 110px;
}

.template-team-5 {
  left: 24em;
  position: absolute;
  top: 12.5em;
}

.bay-15-team-button {
  left: 10em;
  position: absolute;
  top: -1.5em;
}

.bay-16-team-button {
  left: 20em;
  position: absolute;
  top: -1.5em;
}

.bay-17-team-button {
  left: 30em;
  position: absolute;
  top: -1.5em;
}

.bay-18-team-button {
  left: 40em;
  position: absolute;
  top: -1.5em;
}

.bay-19-team-button {
  left: 50em;
  position: absolute;
  top: -1.5em;
}

.bay-19-back-button {
  left: 159em;
  position: absolute;
  top: 10em;
}

.move-back:hover {
  width: 90px;
  height: 40px;
}

.move-back {
  width: 80px;
  height: 30px;
  pointer-events: all;
}

.team-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 53em;
  position: absolute;
  top: 7em;
}

.assembly-line-fields {
  height: 10em;
  position: absolute;
  top: 20em;
  width: 9em;
}

.bay2-fcb-merge-threshing {
  left: 30.5em;
}

.bay-2-merge-text {
  color: #71f323;
  font-weight: bolder;
  left: -2em;
  position: relative;
  top: -10em;
  width: 150px;
}

.team1-bay3 {
  left: 44em;
}

.bay-3-text {
  color: #71f323;
  font-weight: bolder;
  left: 2em;
  position: relative;
  top: -9em;
}

.team1-bay4 {
  left: 58em;
}

.team2-bay5 {
  left: 72em;
}

.team2-bay6 {
  left: 86em;
}

.team2-bay7 {
  left: 100em;
}

.team3-bay8 {
  left: 114em;
}

.team3-bay9 {
  left: 128em;
}

.team3-bay10 {
  left: 142em;
}

.final-assembly-container {
  left: 105em;
  position: absolute;
  top: -18em;
}

.team5-bay-14 {
  left: 86em;
  top: 50em;
}

.team5-bay-15 {
  left: 100em;
  top: 50em;
}

.team5-bay-16 {
  left: 114em;
  top: 50em;
}

.team5-bay-17 {
  left: 128em;
  top: 50em;
}

.team5-bay-18 {
  left: 142em;
  top: 50em;
}

.team5-bay-19 {
  left: 156em;
  top: 50em;
}

.team-container-2 {
  left: 12em;
  position: absolute;
  top: 0.2em;
  z-index: -1;
}

.team-container-3 {
  left: -81em;
  position: absolute;
  top: 1em;
}

.team-container-4 {
  left: -153em;
  position: absolute;
  top: 1em;
}

.team-container-test-bay {
  left: -125em;
  position: absolute;
  top: 1em;
}

.chevron-test-bay {
  left: -1.3em;
  position: absolute;
  top: -0.2em;
}

.team-container-5 {
  left: -151em;
  position: absolute;
  top: 1em;
}

.body-timer-block {
  left: -5em;
  position: absolute;
  top: -5em;
}

.team-1-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 43em;
  position: absolute;
  top: 4em;
}

.team-1-sun-burst-container {
  left: -4em;
  position: relative;
  top: 6em;
}

.clock-container-team-1 {
  left: -40em;
  position: absolute;
  top: -5em;
}
.clock-container-team-1 .clock-team-1 {
  left: 20em;
  position: relative;
  top: 1em;
}
.clock-container-team-1 .clock-team-1 .title {
  display: none;
}
.clock-container-team-1 .clock-team-1 .time-team-1 {
  color: #00f;
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 3px;
  transition: all 1.5s;
}
.clock-container-team-1 .clock-team-1 .time-team-1 span {
  font-family: "Josefin Sans", sans-serif;
  font-size: xxx-large;
}

.sunset-container-team-1 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 2em;
  width: 350px;
}
.sunset-container-team-1 .horizon-team-1 {
  background: -webkit-linear-gradient(left, #00f 0%, #f00 100%);
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 5px;
  height: 2px;
  position: relative;
  top: -1px;
}
.sunset-container-team-1 .sun-team-1 {
  position: absolute;
}
.sunset-container-team-1 .sun-team-1 .sun-spot-team-1 {
  animation: pulse 4s linear infinite;
  border-radius: 100px;
  position: absolute;
  transform: scale(1, 0.5);
}
.sunset-container-team-1 .sun-team-1 .sun-spot-team-1.pulse {
  animation: white-pulse 4s linear infinite;
}

.team-2-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 47em;
  position: absolute;
  top: 4em;
}

.team-2-overView-header {
  color: #c80b0b;
  font-family: "Times New Roman", Times, serif;
  left: 86em;
  position: absolute;
  top: 4em;
}

.team-2-sun-burst-container {
  left: -4em;
  position: relative;
  top: 6em;
}

.clock-container-team-2 {
  left: -50em;
  position: relative;
  top: 40em;
}
.clock-container-team-2 .clock-team-2 {
  position: relative;
  top: -16em;
}
.clock-container-team-2 .clock-team-2 .title {
  display: none;
}
.clock-container-team-2 .clock-team-2 .time-team-2 {
  color: #00f;
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 3px;
  transition: all 1.5s;
}
.clock-container-team-2 .clock-team-2 .time-team-2 span {
  font-family: "Josefin Sans", sans-serif;
  font-size: xxx-large;
}

.sunset-container-team-2 {
  bottom: auto;
  left: 25em;
  position: relative;
  top: 25em;
  width: 350px;
}
.sunset-container-team-2 .horizon-team-2 {
  background: -webkit-linear-gradient(left, #00f 0%, #f00 100%);
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 5px;
  height: 2px;
  position: relative;
  top: -1px;
}
.sunset-container-team-2 .sun-team-2 {
  height: 50px;
  left: -100px;
  position: absolute;
  top: -25px;
  width: 200px;
}
.sunset-container-team-2 .sun-team-2 .sun-spot-team-2 {
  animation: pulse 4s linear infinite;
  border-radius: 100px;
  position: absolute;
  transform: scale(1, 0.5);
}
.sunset-container-team-2 .sun-team-2 .sun-spot-team-2.pulse {
  animation: white-pulse 4s linear infinite;
}

.define-work-days {
  left: 5em;
  position: absolute;
  top: 5em;
}

.schedule-config-header {
  font-weight: bolder;
  left: 30em;
  position: absolute;
  top: 21em;
}

.shift-config-table {
  left: 5em;
  position: absolute;
  top: 25em;
}

.pdiShipField {
  max-width: 90px;
  min-width: 90px;
}

.monthly-table-view {
  left: 5em;
  position: absolute;
  top: 45em;
}

.weekly-desired-machines {
  left: 40em;
  position: absolute;
  top: 45em;
}

.week-date {
  max-width: 95px;
  min-width: 95px;
}

th,
td .shift-config {
  font-family: Bahnschrift, Arial, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
}

tbody tr:nth-child(odd) .shift-config {
  background-color: #9fcdd2;
}

tbody tr:nth-child(even) .shift-config {
  background-color: #e5a0bb;
}

.generate-list {
  left: 55em;
  position: absolute;
  top: 45em;
}

thead {
  background-color: lightgrey;
}

table tbody, table thead {
  display: block;
}

table tbody {
  overflow: auto;
}

table.blueTable {
  border: 1px solid #a49892;
  border-collapse: collapse;
  text-align: left;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 5px;
}

table.blueTable tbody td {
  font-size: 13px;
  word-wrap: break-word;
}

table.blueTable thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}

table.blueTable thead th {
  border-left: 2px solid #d0e4f5;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #d6e0f5;
  border-top: 2px solid #444444;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #8f8e8c;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

th {
  height: 50px;
}

table.tableAdminPos {
  width: 853px;
}

.adminUserId {
  max-width: 170px;
  min-width: 170px;
}

.adminUser {
  max-width: 80px;
  min-width: 80px;
}

.userRole {
  max-width: 80px;
  min-width: 80px;
}

.userCreated {
  max-width: 120px;
  min-width: 120px;
}

.userCreatedBy {
  max-width: 80px;
  min-width: 80px;
}

.userLastLogin {
  max-width: 110px;
  min-width: 110px;
}

.userIP {
  max-width: 100px;
  min-width: 100px;
}

.userStatus {
  max-width: 60px;
  min-width: 60px;
}

.partsOnOrder {
  max-width: 50px;
  min-width: 50px;
}

.userLogOut {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.userErase {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.shippingMachines {
  height: 100px;
}

.tablePdiOverview {
  position: absolute;
  top: 300px;
}

.pdiMachineField {
  max-width: 80px;
  min-width: 80px;
}

.pdiShipField {
  max-width: 90px;
  min-width: 90px;
}

.pdiDestination {
  max-width: 100px;
  min-width: 100px;
}

.pdiTransporter {
  max-width: 100px;
  min-width: 100px;
}

.pdiTruckOnOrder {
  max-width: 70px;
  min-width: 70px;
}

.pdiTruckDate {
  min-width: 6em;
  max-width: 6em;
}

.truckDateCorrection {
  min-width: 6.8em;
}

.pdiKitList {
  max-width: 80px;
  min-width: 80px;
}

.pdiComments {
  max-width: 450px;
  min-width: 450px;
}

.pdiKitField {
  max-width: 145px;
  min-width: 145px;
}

.pdiTireField {
  max-width: 145px;
  min-width: 145px;
}

.pdiPDIField {
  max-width: 50px;
  min-width: 50px;
}

.pdiRepField {
  max-width: 50px;
  min-width: 50px;
}

.pdiVariantDescription {
  max-width: 250px;
  min-width: 250px;
}

.pdiWashField {
  max-width: 50px;
  min-width: 50px;
}

.pdiShipField {
  max-width: 90px;
  min-width: 90px;
}

.pdiLocation {
  max-width: 70px;
  min-width: 70px;
}

.pdiConfig {
  max-width: 60px;
  min-width: 60px;
}

.pdiTrailer {
  max-width: 80px;
  min-width: 80px;
}

.headerKit {
  max-width: 320px;
  min-width: 320px;
}

.pdiUser {
  max-width: 200px;
  min-width: 200px;
}

table.headerTable {
  width: 230px;
}

.headerId {
  max-width: 80px;
  min-width: 80px;
}

.headerShipDate {
  max-width: 90px;
  min-width: 90px;
}

.headerStatus {
  max-width: 80px;
  min-width: 80px;
}

.headerPos {
  position: absolute;
  left: 450px;
  top: 300px;
}

.transparent-box {
  background: linear-gradient(90deg, rgba(10, 10, 10, 0.25), #030000);
  height: 100em;
  left: 70em;
  position: absolute;
  top: 5em;
  width: 400px;
  z-index: 1;
}

.transparent-box-2 {
  background: linear-gradient(90deg, rgba(10, 10, 10, 0.25), #030000);
  height: 100em;
  left: 48em;
  position: absolute;
  top: 5em;
  width: 400px;
  z-index: 1;
}

.transparent-box-reverse {
  background: linear-gradient(270deg, rgba(10, 10, 10, 0.25), #030000);
  height: 100em;
  left: -3em;
  position: absolute;
  top: 5em;
  width: 280px;
  z-index: 1;
}

.time-study-table-1 {
  left: 10em;
  position: absolute;
  top: 20em;
}

.table-overflow {
  overflow: auto;
}

.table-time-study-height {
  height: 700px;
}

.bay {
  width: 200px;
}

.machine-number {
  width: 80px;
}

.machine-in-bay {
  width: 150px;
}

.machine-spent-time {
  width: 80px;
}

.machine-left-bay {
  width: 150px;
}

.time-dash-board {
  left: 65em;
  position: absolute;
  top: 18em;
  width: 60em;
}

.shift-submit-container {
  left: 40em;
  position: absolute;
  top: 2em;
}

.input-distance {
  padding-bottom: 100px;
}

.shift-submit-button {
  left: 110px;
  position: absolute;
  top: 45em;
}

.insideNavBar {
  margin-top: 25px;
}

.topNav {
  left: 40em;
  margin-top: 25px;
  position: relative;
}

#logo {
  margin: 10px;
}

.selected {
  background-color: #978f93;
}

.selectedMachine {
  background-color: #978f93;
}

.selectedArea {
  background-color: #978f93;
}

.selectedBackgroundGreen {
  background-color: green;
}

.individualNavigation {
  font-size: 16px;
}

.navigation {
  margin-left: 25px;
}

.marginMain {
  margin-left: 25px;
}

.mainLayout {
  color: #000;
  left: 560px;
  position: relative;
}

.in-active-button {
  background-color: #252525;
  opacity: 0.5;
  pointer-events: none;
}

.activeButton {
  opacity: 1;
  pointer-events: auto;
}

.inActive {
  background: repeating-linear-gradient(45deg, #e6e6e6, #bc171b 10px, #e6e6e6 10px, #bc171b 20px);
}

/*# sourceMappingURL=main.css.map */
