@import 'admin';
@import 'login';
@import 'glowingBox';
@import 'mainLayout';
@import 'buttonNotWorking';
@import 'toDoList';
@import 'commission_tablet';
@import 'commissionOverView';
@import 'averagePerSupply';
@import 'commission_statistics';
@import 'supplyArea';
@import 'tablet_multi_machines';
@import 'col_assembly_line';
@import 'assemblyLineMoveMachines';
@import 'lineBasicCondition';
@import 'tables';
@import 'transparentBox';
@import 'time_studie_table_1';
@import 'commissionMonitor';
@import 'team_4_merge_station';
@import 'singleTechView';
@import 'lineAdministration';
@import 'team_1_screen';
@import 'team_2_screen';
@import 'team_4_screen';
@import 'team_5_screen';
@import 'team_test_bay_screen';



.topNav {
  left: 40em;
  margin-top: 25px;
  position: relative;
}



#logo {
  margin: 10px;
}

.selected {
  background-color: #978f93;
}

.selectedMachine {
  background-color: #978f93;
}

.selectedArea {
  background-color: #978f93;
}

.navigation {
  margin-left: 25px;
}

//  Inactive Buttons

$comm-status: #252525;

.in-active-button {
  background-color: $comm-status;
  opacity: .5;
  pointer-events: none;
}

.inActive {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}