<template name="overview">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            {{> adminLayout}}
            <div>
                {{> addMachine}}
                {{> tabletEntry}}
                {{> machine_picking_list}}
                {{> reviewMachine}}
            </div>
        {{/if}}
        {{#if isInRole  'Picker'}}
            {{> commissionNav}}
            {{> tabletEntry}}
            {{> machine_picking_list}}
        {{/if}}
        {{#if isInRole 'teamLead'}}
            {{> teamLeadNav}}
            {{> machine_picking_list}}
            {{> teamLead}}
            {{/if}}
    {{else}}
       {{> login}}
    {{/if}}
</template>

<template name="addMachine">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div  style="position: relative; top: 10em; left:41em;">
        <h3><strong>{{alarmMachine}}</strong></h3>
    </div>
    <form class="newCommMachine"  style="position: relative; top: 10em; left:41em;">
        <label for="newMachine" >Adding Machine&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date in Line</label>
        <br>
        <input type="text" name="newMachine" id="newMachine" placeholder="Machine Number" required>
        <label for="newDate" class="inLineDate" ></label>
        <input type="date" name="newDate" id="newDate" required>
        <br><br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <button class="btn btn-danger removeMachine" type="button">Delete</button>
    <div class="load-production-schedule">
        <form class="fileContainer">
            <h4 style="font-weight: bolder">It is recommend not to upload during working hours</h4>
            <h4 style="font-weight: bolder">Load Production Schedule. Must Convert Excel to CSV first !!</h4>
            <br>
            <input class="loadProductionSchedule" type="file" id="files" name="files[] " >
        </form>
    </div>
    <div class="machine-counter">
        <h4>Machines Updated : {{updatedMachines}} / New Machines inserted : {{newMachines}}</h4>
    </div>
</template>

<template name="tabletEntry">
    <div class="comm-tablet">
        <button type="button" class="btn btn-success btn-primary buttonToTablet">Tablet entry</button>
    </div>
</template>


<template name="machine_picking_list">
    {{#if isInRole 'admin'}}
            <div class="comm-tablet-machine-list">
                <button type="button" class="btn btn-danger btn-primary buttonComplete">Mark Machine as complete</button>
            </div>
        {{/if}}
    <div class="machineCommissionTable">
        <div class="">
            <table class="table table-header-rotated fixed-header">
                <thead>
                <tr>
                    <th class="pdiMachineField"><strong>Machine Id</strong></th>
                    <th class="pdiShipField"><strong>Date In Line</strong></th>
                    {{#each supplyList}}
                        <th class="rotate-45"><div><span>{{_id}}</span></div></th>
                    {{/each}}
                    <th class=""></th>
                </tr>
                </thead>
                <tbody>
                {{#each machineList}}
                    <tr class="commissionMachine {{selectedMachine}}">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="pdiShipField">{{inLineDate}}</td>
                        {{#each supplyAreas}}
                            <td class="{{getStatusColor supplyStatus}}"
                                style="background-color:{{getStatusColor supplyStatus}};
                                        font-size: 14px;
                                        font-weight: bolder;
                                        text-align: left;
                                        white-space: nowrap">{{pickingTime}}</td>
                        {{/each}}
                        <td class="commMachineField">{{machineId}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="header-completed">
        <h4>Completed Machines</h4>
    </div>
       <div class="inactive-machine-table">
            <table class="table fixed-header">
                <thead>
                <tr>
                    <th class="pdiMachineField"><strong>Machine Id</strong></th>
                    <th class="pdiShipField"><strong>Date In Line</strong></th>
                </tr>
                </thead>
                <tbody>
                {{#each inactiveMachineList}}
                    <tr class="inactiveMachine">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="pdiShipField">{{inLineDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
</template>

<template name="reviewMachine">
    <div class="review-machine">
        <h4>Review Machine</h4>
        <div class="">
            <table class="table table-header-rotated fixed-header">
                <thead>
                <tr>
                    <th class="pdiMachineField"><strong>Machine Id</strong></th>
                    <th class="pdiShipField"><strong>Date In Line</strong></th>
                    {{#each supplyList}}
                        <th class="rotate-45"><div><span>{{_id}}</span></div></th>
                    {{/each}}
                    <th class=""></th>
                </tr>
                </thead>
                <tbody>
                {{#each machineReview}}
                    <tr class="{{machineToReview}}">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="pdiShipField">{{inLineDate}}</td>
                        {{#each supplyAreas}}
                            <td class="{{getStatusColor supplyStatus}}"
                                style="background-color:{{getStatusColor supplyStatus}};
                                        font-size: 14px;
                                        font-weight: bolder;
                                        text-align: left;
                                        white-space: nowrap">{{pickingTime}}</td>
                        {{/each}}
                        <td class="commMachineField">{{machineId}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="teamLead">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <form class="newCommMessage"  style="position: relative; top: 10em; left:41em;">
        <label for="newPart">Part request or Message to Commissioning</label>
        <br>
        <input type="text" name="newPart" id="newPart" placeholder="Part Nr" required>
        <label for="newMessage" class="message" ></label>
        <input type="text" name="newMessage" id="newMessage" placeholder="Message" required>
        <br><br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</template>
