<template name="commissionStatistics">
    {{#if currentUser}}
        <div class="commNav">
            {{> statisticsNav}}
        </div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        {{> dailyResult}}
            {{#if isInRole 'admin'}}
                    <div class="commission-admin">
                      <a class="btn btn-danger"  href="commissionAnalysis.html">Commissions Analysis</a>
                      <a>|</a>
                      <a class="btn btn-danger" href="admin.html">Admin</a>
                    </div>
                {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="dailyResult">

    <div class="logged-user">
        <h3 style="font-weight: bolder">User: {{loggedInUser.username}}</h3>
        <button class="btn btn-default btn-success details-button">Details</button>
    </div>

    <div class="daily-picks">
        <h3>From {{resultToday.uniqueAreas}} Supply Area were {{resultToday.dayCount}} carts picked with an overall average of {{resultToday.averageDuration}} min</h3>
    </div>

    <div class="diagram-1">
        <div  id="chart_1">{{dayChart}}</div>
    </div>

    <!-- Last 5 Days overview, including todays result -->

    <div class="running-result">
        <h3>Annual Overview {{runningResult}}</h3>
        <div class="diagram-2">
            <div  id="chart_2">{{runningAnnualResult}}</div>
        </div>
    </div>
</template>

<template name="adminStatistics">
    <div class="admins-bar">
        <button class="btn btn-default btn-success">Advanced Statistics</button>
    </div>
</template>
