<template name="commissionStatistics">
    {{#if currentUser}}
        <div class="commNav">
            {{> statisticsNav}}
        </div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        {{> dailyResult}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="dailyResult">

    <div class="daily-picks">
        <h3>From {{resultToday.uniqueAreas}} Supply Area were {{resultToday.dayCount}} carts picked with an overall average of {{resultToday.averageDuration}} min</h3>
    </div>

    <div class="diagram-1">
        <div  id="chart_1">{{dayChart}}</div>
    </div>

    <!-- Last 5 Days overview, including todays result -->

    <div class="running-result">
        <h3>Annual Overview</h3>
        <div class="diagram-2">
            <div  id="chart_2">{{runningAnnualResult}}</div>
        </div>
    </div>

    <!--
    <div class="overview-month">
        <h3>Overview this month</h3>
    </div>

    <div class="overview-last-month">
        <h3>Overview last month</h3>
    </div>

    <div class="overview-running-year">
        <h3>Annual Overview</h3>
    </div>
-->
</template>
