<template name="commission">
    {{#if currentUser}}
        <div class="tabletCommissioning">
            {{> commTablet}}
        </div>
        <div class='tablet-order-position'>
            {{> open_order}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="commTablet">
 <html lang="">
    <style>
         body{
            background-color:black;
          }
    </style>
    <div class="commissionHeadTab">
        <nav>
            <a  class="btn btn-default btn-info btn-group-lg" href="/overview"><strong>Back to Overview</strong></a>
        </nav>
    </div>
    <div class="commissionTablet">
        <div class="commissionInitials input-group input-group-lg">
           <h3 class="machineTablet">User :</h3>
            <h3 class="tabletUser">{{currentUser.username}}</h3>
        </div>
           <div class="arrowDown">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
           </div>
        <div class="chooseMachineTable">
           <div class="">
              <table class="blueTable pdiMachineField">
                  <thead>
                    <tr>
                      <th class="pdiMachineField "><strong>Machines</strong></th>
                        <th class="pdiShipField "><strong>Date in Line</strong></th>
                    </tr>
                  </thead>
                  <tbody class="bodyHeight {{inActive_1}} {{inActive_2}} {{inActive_3}}" >
                     {{#each machineCommList}}
                        <tr class="pickedMachine {{selectedMachine}}">
                          <td class="pdiMachineField machineTablet" >{{machineId}}</td>
                            <td class="pdiShipField machineTablet" >{{inLineDate}}</td>
                        </tr>
                     {{/each}}
                  </tbody>
              </table>
           </div>
        </div>
        <div class="arrowSide">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
        <div class="supplyAreaTable">
            <table class="blueTable supply-table">
                <thead>
                <tr>
                    <th class="userLastLogin"><strong>Supply Area</strong></th>
                    <th class="userLastLogin"><strong>Picker</strong></th>
                </tr>
                </thead>
                <tbody class="supplyTableHeight {{inActive_1}} {{inActive_2}} {{inActive_3}}">
                {{#with supplyAreaShow}}
                   {{#each supplyAreas}}
                    <tr class="supplyAreas {{selectedArea}}">
                        <td class="supplyAreaField machineTablet {{getStatusColor supplyStatus}}"
                            style="background-color: {{getStatusColor supplyStatus}}">{{_id}}</td>
                        <td class="supplyAreaField machineTablet" style="pointer-events: none">{{pickerStart}}</td>
                    </tr>
                       {{/each}}
                {{/with}}
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-danger toggle-supply
                                   {{inActive_1}} {{inActive_2}} {{inActive_3}}">
                                   Toggle => MANY Machines ONE Supply Area</button>
        </div>
        <div class="supplyExecuteField">
            <div class="tabletHeader">
               <h1>Machine Id:</h1> <h1 class="machine-id-header">{{selectedSupplyMachine}}</h1>
               <h1 class="text-supply">Supply Area: {{supplyStart}}</h1>
            </div>
            <div class="arrowSide_2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="supplyButtonField" >
               <button type="button" class="btn btn-lg btn-success commStart
                                            {{inActive_1}} {{inActive_2}} {{inActive_3}} {{inActive_9}}">Start</button>
               <button class="btn btn-lg btn-primary commPause
                                            {{inActive_0}} {{inActive_2}} {{inActive_4}} ">Pause</button>
               <button class="btn btn-lg btn-primary commResume
                                            {{inActive_0}} {{inActive_1}} {{inActive_3}} {{inActive_4}} ">Resume</button>
               <button class="btn btn-lg btn-success commFinished
                                            {{inActive_0}} {{inActive_2}} {{inActive_4}} ">Finished</button>
            </div>
            <div class="commission-cancel">
                <label for="commission-cancel"></label>
                <button type="button" class="btn btn-danger cancelForm">Cancel Commissioning</button>
            </div>
           <div class="tablet-view-open-order">

           </div>
      </div>
    </div>
 </html>
</template>



<!--  ***************************************   Corn Head Section  *************************  -->



<template name="cornHead">
    {{#if isInRole 'admin'}}
            {{> addCornHead}}
    {{/if}}
    {{#if currentUser}}
        <div class="tabletCommissioning">
            {{> pickingCornHead}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="pickingCornHead">
    <html lang="">
    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="commissionHeadTab">
        <nav>
            <a  class="btn btn-default btn-info btn-group-lg" href="/overview"><strong>Back to Overview</strong></a>
        </nav>
    </div>
    <div class="commissionTablet">
        <div class="commissionInitials input-group input-group-lg">
            <h3 class="machineTablet">User :</h3>
            <h3 class="tabletUser">{{currentUser.username}}</h3>
        </div>
        <div class="arrowDown">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="chooseMachineTable">
            <div class="">
                <table class="blueTable pdiMachineField">
                    <thead>
                    <tr>
                        <th class="pdiMachineField "><strong>Corn Heads</strong></th>
                        <th class="pdiShipField "><strong>Date in Line</strong></th>
                    </tr>
                    </thead>
                    <tbody class="bodyHeight {{inActive_1}} {{inActive_2}} {{inActive_3}}" >
                    {{#each cornPickingList}}
                        <tr class="pickedCornHead {{selectedCornHead}}">
                            <td class="pdiMachineField machineTablet {{getCommStatus supplyStatus}}"
                                style="background-color: {{getCommStatus supplyStatus}}" >{{newHeadId}}</td>
                            <td class="pdiShipField machineTablet" >{{inLineDate}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="corn-arrow">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="corn-head-finished">
            <table class="blueTable supply-table">
                <thead>
                <tr>
                    <th class="corn-head"><strong>Corn Head</strong></th>
                    <th class="date-field"><strong>Finish Date</strong></th>
                </tr>
                </thead>
                <tbody class="supplyTableHeight">
                    {{#each finishedCornHead}}
                        <tr class="selectedCornHead">
                            <td class="corn-head">{{newHeadId}}</td>
                            <td class="date-field">{{date}}</td>
                        </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div class="corn-head-buttons">
            <div class="corn-head-header">
                <h1>Corn Head Serial Nr: {{cornHeadChosen}}</h1>
            </div>
            <div class="corn-head-button-field" >
                <button type="button" class="btn btn-lg btn-success cornHeadStart
                                            {{cornInActive_1}} {{cornInActive_2}} {{cornInActive_3}} {{cornInActive_9}}">Start</button>
                <button class="btn btn-lg btn-primary cornCommPause
                                            {{cornInActive_0}} {{cornInActive_2}} {{cornInActive_4}} ">Pause</button>
                <button class="btn btn-lg btn-primary cornCommResume
                                            {{cornInActive_0}} {{cornInActive_1}} {{cornInActive_3}} {{cornInActive_4}} ">Resume</button>
                <button class="btn btn-lg btn-success cornHeadFinished
                                            {{cornInActive_0}} {{cornInActive_2}} {{cornInActive_4}} ">Finished</button>
            </div>
            <div class="commission-cancel">
                <label for="commission-cancel"></label>
                <button type="button" class="btn btn-danger cornCancelForm">Cancel Commissioning</button>
            </div>
        </div>
    </div>
    </html>
</template>

<template name="addCornHead">
    <div class="corn-head-admin">
        <h2>Admin Section</h2>
    </div>
    <div class="add-corn-head">
        <h3>Add a single Corn Head</h3>
    </div>

    <div class="input-single-corn-head">
        <form class="submit-single-corn-head">
            <label for="singleCornHead" style="color: #5aec11;">Machine Number</label>
            <br>
            <input type="number" id="singleCornHead" name="singleCornHead" placeholder="Single Corn Head Machine">
            <label for="singleCornHeadDate"></label>
            <br><br>
            <input type="date" id="singleCornHeadDate" name="singleCornHeadDate">
            <div class="submit-button-single-corn-head">
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </form>
    </div>



    <div class="add-multi-corn-heads">
        <h3>Upload Corn Head List (CSV File)</h3>
    </div>

</template>