<template name="commission">
    {{#if currentUser}}
        <div class="tabletCommissioning">
            {{> commTablet}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="commTablet">
 <html>
    <style>
         body{
            background-color:black;
          }
    </style>
    <div class="commissionHeadTab">
        <nav>
            <a  class="btn btn-default btn-info btn-group-lg" href="/"><strong>Back to Overview</strong></a>
        </nav>
    </div>
    <div class="commissionTablet">
        <div class="commissionInitials input-group input-group-lg">
           <h3 class="machineTablet">Tablet User</h3>
            <h3 class="tabletUser">{{currentUser.username}}</h3>
        </div>
           <div class="arrowDown">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
           </div>
        <div class="chooseMachineTable">
           <div class="">
              <table class="blueTable pdiMachineField " cellpadding="10" >
                  <thead>
                    <tr>
                      <th class="pdiMachineField "><strong>Machines</strong></th>
                        <th class="pdiShipDate "><strong>Date in Line</strong></th>
                    </tr>
                  </thead>
                  <tbody class="bodyHeight {{inActive_1}} {{inActive_2}} {{inActive_3}}" >
                     {{#each machineCommList}}
                        <tr class="pickedMachine {{selectedMachine}}">
                          <td class="pdiMachineField machineTablet" >{{machineId}}</td>
                            <td class="pdiShipDate machineTablet" >{{inLineDate}}</td>
                        </tr>
                     {{/each}}
                  </tbody>
              </table>
           </div>
        </div>
        <div class="arrowSide">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
        <div class="supplyAreaTable">
            <table class="blueTable supply-table" cellpadding="10">
                <thead>
                <tr>
                    <th class="userLastLogin"><strong>Supply Area</strong></th>
                    <th class="userLastLogin"><strong>Picker</strong></th>
                </tr>
                </thead>
                <tbody class="supplyTableHeight {{inActive_1}} {{inActive_2}} {{inActive_3}}">
                {{#with supplyAreaShow}}
                   {{#each supplyAreas}}
                    <tr class="supplyAreas {{selectedArea}}">
                        <td class="supplyAreaField machineTablet {{getCommStatus supplyStatus}}"
                            style="background-color: {{getCommStatus supplyStatus}}">{{_id}}</td>
                        <td class="supplyAreaField machineTablet" style="pointer-events: none">{{pickerStart}}</td>
                    </tr>
                       {{/each}}
                {{/with}}
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-danger toggle-supply
                                   {{inActive_1}} {{inActive_2}} {{inActive_3}}">
                                   Toggle => MANY Machines ONE Supply Area</button>
        </div>
        <div class="supplyExecuteField">
            <div class="tabletHeader">
               <h1>Machine Id:</h1> <h1 class="machine-id-header">{{selectedSupplyMachine}}</h1>
               <h1 class="text-supply">Supply Area: {{supplyStart}}</h1>
            </div>
            <div class="arrowSide_2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="supplyButtonField" >
               <button type="button" class="btn btn-lg btn-success commStart
                                            {{inActive_1}} {{inActive_2}} {{inActive_3}} {{inActive_9}}">Start</button>
               <button class="btn btn-lg btn-primary commPause
                                            {{inActive_0}} {{inActive_2}} {{inActive_4}} ">Pause</button>
               <button class="btn btn-lg btn-primary commResume
                                            {{inActive_0}} {{inActive_1}} {{inActive_3}} {{inActive_4}} ">Resume</button>
               <button class="btn btn-lg btn-success commFinished
                                            {{inActive_0}} {{inActive_2}} {{inActive_4}} ">Finished</button>
            </div>
      </div>
    </div>
 </html>
</template>