<template name="multiMachines">
    {{#if currentUser}}
        <div class="tabletCommissioning">
            {{> commTablet_2}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="commTablet_2">
    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="commissionHeadTab">
        <div class="commissionHeadTab">
            <nav>
                <a  class="btn" href="/commission"><strong>Back</strong></a>
            </nav>
        </div>
    </div>
    <div class="commissionTablet">
        <div >
            <h3 class="machineTablet">Tablet User</h3>
            <h3 class="tabletUser">{{currentUser.username}}</h3>
        </div>

        <div class="choose-machine-table">
            <div class="tabletUser head-liner">
                <h3>Chose Multiple Machines</h3>
            </div>
                <table class="blueTable pdiMachineField">
                    <thead >
                        <tr>
                            <th class="pdiMachineField "><strong>Machines</strong></th>
                            <th class="pdiShipDate "><strong>Date in Line</strong></th>
                            <th class=""><strong>Check</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each machineCommList_2}}
                        <tr >
                            <td class="pdiMachineField tabletUser" >{{machineId}}</td>
                            <td class="pdiShipDate tabletUser" >{{inLineDate}}</td>
                            <td class="{{inActive_1}} {{inActive_2}} {{inActive_3}}">
                                <label>
                                    <input type="checkbox" class="userLogOut" name="machine" id="machine"  value={{machineId}}>
                                </label>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            <form class="multiMachines multi-button {{inActive_1}} {{inActive_2}} {{inActive_3}}">
                <button type="button" class="btn btn-danger">Submit chosen Machines</button>
            </form>
        </div>

        <div class="arrow-side-multi">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="supply-multi-machines">
            <table class="supply-multi-table" >
                <thead>
                <tr>
                    <th class="userLastLogin"><strong>Available Supply Area</strong></th>
                </tr>
                </thead>
                <tbody class="{{inActive_1}} {{inActive_2}} {{inActive_3}}">
                    {{#each supplySet}}
                        <tr class="supplyAreas {{selectedArea}}">
                            <td class="supplyAreaField machineTablet {{getCommStatus supplyStatus}}"
                                style="background-color: {{getCommStatus supplyStatus}}" >{{_id}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="supplyExecuteField">
            <div class="tabletHeader">
                <h2>Machine Id:</h2> <h2 class="multi-id-header">{{selectedMultiMachines}}</h2>
                <h1 class="text-supply">Supply Area: {{supplyStart}}</h1>
            </div>
            <div class="arrow-side-2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="supply-button-field" >
                <button type="button" class="btn btn-lg btn-success multi-start
                                            {{inActive_1}} {{inActive_2}} {{inActive_3}} {{inActive_9}}">Start</button>
                <button class="btn btn-lg btn-primary multi-pause
                                            {{inActive_0}} {{inActive_2}} {{inActive_4}} ">Pause</button>
                <button class="btn btn-lg btn-primary multi-resume
                                            {{inActive_0}} {{inActive_1}} {{inActive_3}} {{inActive_4}} ">Resume</button>
                <button class="btn btn-lg btn-success multi-finished
                                       <!--     {{inActive_0}} {{inActive_2}} {{inActive_4}} -->">Finished</button>
            </div>
        </div>
    </div>
</template>