<template name="assemblyLineOverView">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="button-box">
        <label for="button_1"></label>
        <button type="button" class="btn btn-default btn-success assemblyLine" id="button_1" >Assembly Line</button>
        <label for="button_6"></label>
        <button type="button" class="btn btn-default btn-danger jumpBack" id="button_6">Back to Admin Dashboard</button>
    </div>
    <div class="time-study-table-1">
        {{> timeStudies }}
    </div>
    <div class="diagrams">
       {{> average_time_in_bay}}
    </div>
</template>

<template name="timeStudies">
  <div>
      <table class="blueTable">
          <thead>
          <tr>
              <th class="bay">Bay</th>
              <th class="machine-number">Machine Nr</th>
              <th class="machine-in-bay">Machine reaches Bay</th>
              <th class="machine-spent-time">Minutes spent</th>
              <th class="machine-left-bay">Machine left Bay</th>
          </tr>
          </thead>
          <tbody class="table-time-study-height">
          {{#each timeMachineMoved}}
          <tr>
              <td class="bay">{{bay}}</td>
              <td class="machine-number">{{machineId}}</td>
              <td class="machine-in-bay">{{comingIn}}</td>
              <td class="machine-spent-time">{{timeSpent}}</td>
              <td class="machine-left-bay">{{goingOut}}</td>
          </tr>
          {{/each}}
          </tbody>
      </table>
  </div>
</template>

<template name="adminDashboard">
    <div class="current-time-settings col-md-12">
        <div>
            <h3>Current Time Settings</h3>
        </div>
        <div>
            <h4>Shift Start : {{shiftStart}}</h4>
        </div>
        <div>
            <h4>Shift Ends : {{shiftEnd}}</h4>
        </div>
        <div>
            <h4>First Break : <strong>{{firstBreak}}</strong> Duration : {{firstBreakDuration}} min</h4>
        </div>
        <div>
            <h4>Second Break : {{secondBreak}}</h4>
        </div>
        <div>
            <h4>Third Break : {{thirdBreak}}</h4>
        </div>
        <div>
            <h4>Fourth Break: {{fourthBreak}}</h4>
        </div>
        <div>
            <h4>Machines Planned per Day: {{machinesPerDay}}</h4>
        </div>
        <div>
            <h4>Calculated Cycle Time  {{fourthBreak}}</h4>
        </div>
    </div>



<div class="shift-submit-container">
    <form class="row setShiftTime">
        <div class="input-distance">
            <div class="col-md-6">
               <label for="shiftStart" class="form-group-lg">Shift Start</label>
                <input type="time" id="shiftStart" name="shiftStart" class="form-control">
            </div>
           <div class="col-md-6">
              <label for="shiftEnd" class="form-group-lg">Shift End</label>
               <input type="time" id="shiftEnd" name="shiftEnd" class="form-control">
           </div>
       </div>
       <div class="input-distance">
           <div class="col-md-6">
               <p><label for="break-1" class="form-group-lg">Break 1 Start </label></p>
               <input type="time" id="break-1" name="break_1" class="form-control">
           </div>
           <div class="col-md-6">
               <p><label for="break-1-duration" class="form-group-lg">Duration</label></p>
               <input type="time" id="break-1-duration" name="break_1_duration" class="form-control">
           </div>
       </div>
        <div class="input-distance">
            <div class="col-md-6">
                <p><label for="break-2" class="form-group-lg">Break 2 Start</label></p>
                <input type="time" id="break-2" name="break_2" class="form-control">
            </div>
            <div class="col-md-6">
                <p><label for="break-2-duration" class="form-group-lg">Duration</label></p>
                <input type="time" id="break-2-duration" name="break_2_duration" class="form-control">
            </div>
        </div>
        <div class="input-distance">
            <div class="col-md-6">
                <p><label for="break-3" class="form-group-lg">Break 3 Start</label></p>
                <input type="time" id="break-3" name="break_3" class="form-control">
            </div>
            <div class="col-md-6">
                <p><label for="break-3-duration" class="form-group-lg">Duration</label></p>
                <input type="time" id="break-3-duration" name="break_3_duration" class="form-control">
            </div>
        </div>
        <div class="input-distance">
            <div class="col-md-6">
                <p><label for="break-4" class="form-group-lg">Break 4 Start</label></p>
                <input type="time" id="break-4" name="break_4" class="form-control">
            </div>
            <div class="col-md-6">
                <p><label for="break-4-duration" class="form-group-lg">Duration</label></p>
                <input type="time" id="break-4-duration" name="break_4_duration" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <label for="machinesPerDay" class="form-group-lg">Planned Machines per Day</label>
            <input type="number" id="machinesPerDay" name="machinesPerDay" class="form-control">
        </div>
        <div class="col-12 shift-submit-button">
            <button type="submit" class="btn btn-success">Submit Times</button>
        </div>
    </form>
</div>
</template>