<template name="admin_navi_buttons">
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title></title>
        </head>
        <body>
            <label for="button-back"></label>
            <button class="btn btn-default btn-success btn-back">Back to Over View</button>

            <label for="lop"></label>
            <button class="btn btn-default btn-info lop" id="lop">List of open Points</button>

            <label for="log_out"></label>
            <button class="btn btn-default btn-danger log_out">Logout</button>
<!--
            <label for="specFunc"></label>
            <button class="btn btn-default btn-danger specFunc" id="specFunc" disabled>Special Server Functions</button>
            -->
        </body>
    </html>
</template>

<template name="navigation_buttons">
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title></title>
        </head>
        <body>
            <label for="button-back"></label>
            <button class="btn btn-default btn-success btn-back">Minutes spent per Bay</button>

            <label for="button-back"></label>
            <button class="btn btn-default btn-success btn-assembly">Assembly line Overview</button>

            <label for="team_button"></label>
            <button class="btn btn-default btn-success btn-team">Team Overview</button>

            <label for="lop"></label>
            <button class="btn btn-default btn-info lop" id="lop">List of open Points</button>

            <label for="log_out"></label>
            <button class="btn btn-default btn-danger log_out">Logout</button>


        </body>
   </html>
</template>

