<template name="team_1">
    {{#if currentUser}}
            {{#if isInRole 'team_1' }}
                <div class="navigation-buttons">
                    {{> navigation_buttons}}
                </div>
                <div>
                    {{> team_1_over_view }}
                    {{> team_1_move_buttons }}
                </div>
                <div>
                    {{> team_2_over_view }}
                </div>
                <div class="team-4-over-view">
                    {{> team_4_over_view}}
                </div>
            {{/if }}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="team_1_move_buttons">
    <div class="team-1-buttons">
        <div class="bay-2-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-2-move-button">Move</button>
        </div>

        <div class="bay-3-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-3-move-button">Move</button>
        </div>

        <div class="bay-4-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-4-move-button">Move</button>
        </div>

        <div class="bay-4-engine-1-button">
            <label for="bay-button"></label>
            <button type="button" id="engine-1-move-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-4-engine-1-move-button" {{disableBay_4_MoveButton_1}}>Move to Bay 4</button>
        </div>

        <div class="bay-4-engine-2-button">
            <label for="bay-button"></label>
            <button type="button" id="engine-2-move-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-4-engine-2-move-button" {{disableBay_4_MoveButton_2}}>Move to Bay 4</button>
        </div>
    </div>
</template>


<template name="team_1_over_view">
 <html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Team 1</title>
    </head>

    <style>body{
            background-color:black;
        }</style>
<div class="team-1-template">
        <div class="team-1-header">
            <h1>Team 1 </h1>
        </div>
        <div class="rectangle"></div>
        <div>
            <div class="machine-reservoir">
                <h4 class="">Machine Reservoir</h4>
                <table class="table blueTable pdiMachineField">
                    <thead>
                    <tr>
                        <th class="pdiMachineField">Machine</th>
                        <th class="in-line-date">Planned to be in Line</th>
                    </tr>
                    </thead>
                    <tbody class="bodyHeight">
                    {{#each machineReservoir}}
                        <tr class="selectedAssemblyMachine">
                            <td class="pdiMachineField">{{machineId}}</td>
                            <td class="in-line-date">{{inLineDate}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="machine-entry assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="assembly-line-fields bay2-fcb-merge-threshing">
            <div class="bay-2-merge-text">
                <h4>Merge FCB with Threshing Unit</h4>
            </div>
            <div>
                <canvas {{draw_fcb_threshing_team_1}} id="machine_field_fcb_threshing"
                                               class="canvas-class" style="position: relative; top: -57px;"></canvas>
            </div>
        </div>

        <div class="team-1-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="assembly-line-fields team1-bay3">
            <div class="bay-arrows assembly-line-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="bay-3-text">
                <h4>Bay 3</h4>
            </div>
            <div>
                <canvas {{draw_bay3}} id="machine_field_bay_3" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team1-bay4">
            <div class="bay-arrows assembly-line-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="bay-3-text">
                <h4>Bay 4</h4>
            </div>
            <div>
                <canvas {{draw_bay4}} id="machine_field_bay_4" class="canvas-class"></canvas>
            </div>
        </div>
</div>
 </html>
</template>
