<template name="team_1">
    {{#if currentUser}}
            {{#if isInRole 'team_1' }}
                <div class="navigation-buttons">
                    {{> navigation_buttons}}
                </div>
                <div class="team-1-over-view">
                    <div class="message-button">
                        {{> message_board}}
                    </div>
                    {{> team_1_over_view }}
                    {{> team_1_move_buttons }}
                </div>
                <div class="team-4-over-view">
                    {{> team_4_over_view}}
                </div>
                <div class="admin-view-team-2">
                    {{> team_2_over_view }}
                </div>
            {{/if }}
    {{else}}
        <!--
        <div class="team-1-over-view">
            {{> team_1_over_view }}
        </div>
        <div class="team-4-over-view">
            {{> team_4_over_view}}
        </div>
        <div class="admin-view-team-2">
            {{> team_2_over_view }}
        </div>
        -->
        {{> login}}
    {{/if}}
</template>

<template name="message_board">
<!--
    <div class="team-1-repair-button">
        <label for="team_1_repair_button"></label>
        <button type="button" id="team_1_repair_button"
                class="btn btn-success t1-rep-bt">Print PDI-repairs</button>
    </div>
-->
    <div class="team-order-button">
        <label for="messageButton"></label>
        <button type="button" id="messageButton"
                class="btn
                        btn-default
                        messageButton">Parts Needed</button>
    </div>


    <table class="team-order-table blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>

        </tr>
        </thead>
        <tbody>
        {{#each lineOrders}}
            <tr class="">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField {{getPickingStatus urgency}}"
                    style="background-color: {{getPickingStatus urgency}}; font-size: 0">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField {{getOrderStatus status}}"
                    style="background-color: {{getOrderStatus status}}; font-size: 0">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <table class="team-order-history blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>
            <th class="order-storage-bin"><strong>Time completed</strong></th>
        </tr>
        </thead>
        <tbody>
        {{#each historyOrders}}
            <tr class="">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField" style="text-align: center">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField" style="text-align: center">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
                <td class="order-storage-bin">{{order_completed}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>


<template name="team_1_move_buttons">

    <div class="team-1-buttons">
            <label for="fcb-1-button"></label>
            <button type="button" id="fcb-1-button"
                    class="btn
                           btn-default
                           btn-success
                           fcb-1-move-button">Go -> Station 2</button>


        <div class="arrow-button-fcb-1">
            <div class="arrow-fcb-1"></div>
           <svg height="200" width="70">
               <polyline points=
                         "60,120 60,90 0,30 0,0"
                         style="fill: none; stroke: red; stroke-width: 3px">
               </polyline>
           </svg>
        </div>

        <div class="fcb-2-button">
            <label for="fcb-2-button"></label>
            <button type="button" id="fcb-2-button"
                    class="btn
                       btn-default
                       btn-success
                       fcb-2-move-button">Go -> Merge</button>
        </div>


        <div class="arrow-button-fcb-2">
            <div class="arrow-fcb-2"></div>
            <svg height="200" width="70">
                <polyline points=
                                  "60,120 60,90 0,30 0,0"
                          style="fill: none; stroke: red; stroke-width: 3px">
                </polyline>
            </svg>
        </div>

        <label for="bay-2-move"></label>
        <button type="button" id="bay-2-move"
                class="btn
                           btn-default
                           btn-success
                           bay-2-move-button">Move</button>



            <label for="bay-3-move"></label>
            <button type="button" id="bay-3-move"
                    class="btn
                           btn-default
                           btn-success
                           bay-3-move-button">Move</button>

            <label for="bay-4-move"></label>
            <button type="button" id="bay-4-move"
                    class="btn
                           btn-default
                           btn-success
                           bay-4-move-button">Move</button>

        <div class="bay-4-engine-1-button">
            <label for="engine-1-move-button"></label>
            <button type="button" id="engine-1-move-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-4-engine-1-move-button" {{disable_Bay_4_MoveButton}}>Move Engine to Bay 4</button>
        </div>

<!-- ********************   Rear Axle  Move and Start-Stop Buttons  **********************  -->

        <label for="rear-axle"></label>
        <button type="button" id="rear-axle"
                class="btn
                           btn-default
                           btn-success
                           rear-axle-move-button" disabled>Move</button>

<!--  ****************************   Front Axle  Move and Start-Stop Buttons  ***********************  -->

        <label for="front-axle-move-button"></label>
        <button type="button" id="front-axle-move-button"
                class="btn
                           btn-default
                           btn-success
                           front-axle-move-button" disabled>Move</button>

        <label for="threshing-move-button"></label>
        <button type="button" id="threshing-move-button"
                class="btn
                           btn-default
                           btn-success
                          threshing-move-button" disabled>Move</button>


  <!-- ****************** Front Axle Threshing Unit Merge  Move and Start-Stop Buttons  ***********************  -->

        <label for="front-threshing-move"></label>
        <button type="button" id="front-threshing-move"
                class="btn
                           btn-default
                           btn-success
                          front-threshing-move-button" disabled>Move</button>

  <!-- *****************   lines and arrows   ***********************************  -->

        <div class="sub-components-lines-team-1">

            <div class="rear-axle-move-arrow-1">
                <svg height="40" width="3">
                    <polyline points="0,0 0,40">
                    </polyline>
                </svg>
            </div>

            <div class="rear-axle-move-arrow-2">
                <svg height="70" width="70">
                    <polyline points="0,60 80,0">
                    </polyline>
                </svg>
            </div>

            <div class="front-axle-move-arrow-1">
                <svg height="60" width="3">
                    <polyline points="0,0 0,60">
                    </polyline>
                </svg>
            </div>

            <div class="front-axle-move-arrow-2">
         <!--       <div class="basic-arrow-front-axle"></div>  -->
                <svg height="70" width="70">
                    <polyline points="0,60 80,0">
                    </polyline>
                </svg>
            </div>

            <div class="threshing-move-arrow-1">
                <svg height="60" width="3">
                    <polyline points="0,0 0,60">
                    </polyline>
                </svg>
            </div>

            <div class="threshing-move-arrow-2">
                <!--       <div class="basic-arrow-front-axle"></div>  -->
                <svg height="70" width="70">
                    <polyline points="0,60 80,0">
                    </polyline>
                </svg>
            </div>

            <div class="front-threshing-fcb-move-arrow-1">
                <svg height="70" width="3">
                    <polyline points="0,0 0,65">
                    </polyline>
                </svg>
            </div>

            <div class="front-threshing-fcb-move-arrow-2">
                <svg height="95" width="3">
                    <polyline points="0,0 0,95">
                    </polyline>
                </svg>
            </div>
        </div>
    </div>
</template>


<template name="team_1_over_view">
 <html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Team 1</title>
    </head>

    <style>body{
            background-color:black;
        }</style>
<div class="team-1-template">
        <div class="team-1-header">
            <h1>Team 1 </h1>
        </div>
        <div class="rectangle"></div>

            <div class="machine-reservoir">
                <h4 class="">Machine Reservoir</h4>
                <table class="table blueTable pdiMachineField">
                    <thead>
                    <tr>
                        <th class="pdiMachineField">Machine</th>
                        <th class="in-line-date">Bay 2 Date</th>
                        <th class="in-line-time">Leaving Bay 2</th>
                    </tr>
                    </thead>
                    <tbody class="fcb-body-height">
                    {{#each machineReservoir}}
                        <tr class="selectedAssemblyMachine">
                            <td class="pdiMachineField">{{machineId}}</td>
                            <td class="in-line-date">{{inLineDate}}</td>
                            <td class="in-line-time">{{inLineTime}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

    <div class="arrows-2-list-fcb">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="fcb-station-1">
        <div>
            <canvas {{draw_fcb_station_1}} id="fcb_station_1"
                                                  class="fcb-1-canvas"></canvas>
        </div>
    </div>

    <div class="arrows-team-1-fcb-1-2">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="fcb-station-2">
        <div>
            <canvas {{draw_fcb_station_2}} id="fcb_station_2"
                                                  class="fcb-2-canvas" ></canvas>
        </div>
    </div>

    <div class="arrows-team-1-fcb-2-bay">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

        <div class="arrows-team-1-bay-2">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="bay2-fcb-merge-threshing">
            <div>
                <canvas {{draw_fcb_threshing_team_1}} id="machine_field_fcb_threshing"
                                               class="bay-2-canvas"></canvas>
            </div>
        </div>

        <div class="team1-bay3">
            <div class="bay-3-header">
                <h4>Bay 3</h4>
            </div>
            <div>
                <canvas {{draw_bay3}} id="machine_field_bay_3" class="bay-3-canvas"></canvas>
            </div>
        </div>

        <div class="arrows-team-1-bay-3">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="team1-bay4">
            <div class="bay-4-text">
                <h4>Bay 4</h4>
            </div>
            <div>
                <canvas {{draw_bay4}} id="machine_field_bay_4"
                                      class="bay-4-canvas"></canvas>
            </div>
            <div class="bay-4-check-mark" id="bay-4-text-area" {{bay_4_engine_mount}}>
               <p>&#10004;</p>
            </div>
        </div>

        <div class="arrows-team-1-bay-4">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="show-engine">
            <h5>Engine Ready for : {{first_engine}}</h5>
            <h5>Engine Ready for : {{second_engine}}</h5>
            <h5>Engine Ready for : {{third_engine}}</h5>
        </div>
<!-- *********************   Components for fcb merging  *******************  -->

    <div class="rear-axle-reservoir">
        <div class="rear-axle-text">
            <h4>Rear Axle Reservoir</h4>
        </div>
        <table class="table blueTable pdiMachineField">
            <thead>
            <tr>
                <th class="">Machine</th>
                <th class="in-line-date">Bay 2 Date</th>
                <th class="in-line-time">Leaving Bay 2</th>
            </tr>
            </thead>
            <tbody class="axle-body-height">
            {{#each rearAxleReservoir}}
                <tr class="selectedRearAxle">
                    <td class="pdiMachineField">{{machineId}}</td>
                    <td class="in-line-date">{{inLineDate}}</td>
                    <td class="in-line-time">{{inLineTime}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
        <div class="team-1-rear-axle">
            <div class="rear-axle-arrow">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>

            <div>
                <canvas {{draw_rear_axle}} id="rear_axle_canvas"
                                      class="rear-axle-canvas"></canvas>
            </div>
        </div>

        <div class="team-1-rear-axle-fcb-merge">
            <div class="">
            </div>
            <div>
                <canvas {{draw_rear_axle_machine_merge}} id="rear_axle_machine_merge"
                                                         class="rear-axle-merge-canvas"></canvas>
            </div>
        </div>

    <div class="front-axle-reservoir">
        <div class="front-axle-text">
            <h4>Front Axle Reservoir</h4>
        </div>
        <table class="table blueTable pdiMachineField">
            <thead>
            <tr>
                <th class="">Machine</th>
                <th class="in-line-date">Bay 2 Date</th>
                <th class="in-line-time">Leaving Bay 2</th>
            </tr>
            </thead>
            <tbody class="axle-body-height">
            {{#each frontAxleReservoir}}
                <tr class="selectedFrontAxle">
                    <td class="pdiMachineField">{{machineId}}</td>
                    <td class="in-line-date">{{inLineDate}}</td>
                    <td class="in-line-time">{{inLineTime}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="front-axle-bay">
        <div class="front-axle-arrow">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div>
            <canvas {{draw_front_axle}} id="front_axle"
                                                   class="front-axle-canvas"></canvas>
        </div>
    </div>

    <div class="threshing-reservoir">
        <div class="threshing-text">
            <h4>Threshing House Reservoir</h4>
        </div>
        <table class="table blueTable pdiMachineField">
            <thead>
            <tr>
                <th class="">Machine</th>
                <th class="in-line-date">Bay 2 Date</th>
                <th class="in-line-time">Leaving Bay 2</th>
            </tr>
            </thead>
            <tbody class="axle-body-height">
            {{#each threshingReservoir}}
                <tr class="selectedThreshing">
                    <td class="pdiMachineField">{{machineId}}</td>
                    <td class="in-line-date">{{inLineDate}}</td>
                    <td class="in-line-time">{{inLineTime}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="team-1-threshing">
        <div class="threshing-arrow">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div>
            <canvas {{draw_threshing_house}} id="threshing_house"
                                                   class="threshing-house"></canvas>
        </div>
    </div>

    <div class="team-1-front-threshing-merge">
        <div>
            <canvas {{draw_front_threshing_merge}} id="front_threshing_merge"
                                                           class="front-threshing-merge"></canvas>
        </div>
    </div>


    <div class="team-1-front-threshing-fcb-merge">
        <div>
            <canvas {{draw_front_threshing_machine_merge}} id="front_threshing_machine_merge"
                                                           class="front-threshing-fcb-merge"></canvas>
        </div>
    </div>

    <div class="bay-2-merge-text">
      <h4>Bay 2</h4>
    </div>

    <div class="front-threshing-merge-text">
        <h4>Front Axle &</h4>
        <h4>Threshing Unit Merge</h4>
    </div>

    <div class="time-goal-bay-2">
        <div class="bay-2-unit-result">
            <p>{{units_bay_2}}</p>
        </div>
        <div class="bay-3-unit-result">
            <p>{{units_bay_3}}</p>
        </div>
        <div class="bay-4-unit-result">
            <p>{{units_bay_4}}</p>
        </div>
    </div>


</div>
 </html>
</template>

<template name="date_time_shift">
    <div>
        <h1>{{todayDate}}</h1>
    </div>
    <div>
        <h3>{{todayTime}}</h3>
    </div>
    <div>
        <h3>{{todayShift}}</h3>
    </div>
</template>