<template name="team_1">
    {{#if currentUser}}
            {{#if isInRole 'team_1' }}
            {{> back_to_assembly_line }}
            {{> team_2_buttons }}
            {{> team_3_buttons }}
            {{> team_4_buttons }}
            {{> team_test_bay_buttons }}
            {{> team_5_buttons }}
            {{> list_of_points }}
            {{> log_out_button }}
            {{> team_1_over_view }}
            {{> team_1_move_buttons }}
            {{> burstSunTimerTeam_1}}
            {{/if }}
       {{#if isInRole 'team_2, team_3, team_4, test_bay, team_5' }}
           {{> back_to_assembly_line }}
           {{> team_2_buttons }}
           {{> team_3_buttons }}
           {{> team_4_buttons }}
           {{> team_test_bay_buttons }}
           {{> team_5_buttons }}
           {{> log_out_button }}
           {{> team_1_over_view }}
           {{/if }}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="back_to_assembly_line">
        <label for="button-back"></label>
        <button class="btn btn-default btn-success btn-back">Back to Over View</button>
</template>
<template name="team_1_buttons">
        <label for="team_1_button"></label>
        <button class="btn btn-default btn-success btn-team_1">Team 1</button>
</template>
<template name="team_2_buttons">
    <label for="team_2_button"></label>
    <button class="btn btn-default btn-success btn-team_2">Team 2</button>
</template>
<template name="team_3_buttons">
    <label for="team_3_button"></label>
    <button class="btn btn-default btn-success btn-team_3">Team 3</button>
</template>
<template name="team_4_buttons">
    <label for="team_4_button"></label>
    <button class="btn btn-default btn-success btn-team_4">Team 4</button>
</template>
<template name="team_test_bay_buttons">
    <label for="team_5_button"></label>
    <button class="btn btn-default btn-success btn-team_test_bay">Test Bay</button>
</template>
<template name="team_5_buttons">
    <label for="team_5_button"></label>
    <button class="btn btn-default btn-success btn-team_5">Team 5</button>
</template>
<template name="list_of_points">
    <label for="lop"></label>
    <button class="btn btn-default btn-info lop" id="lop">List of open Points</button>
</template>
<template name="log_out_button">
    <label for="log_out"></label>
    <button class="btn btn-default btn-danger log_out">Logout</button>
</template>

<template name="team_1_move_buttons">
<div class="team-1-buttons">
    <div class="bay-2-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-2-move-button">Move</button>
    </div>

    <div class="bay-3-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-3-move-button">Move</button>
    </div>

    <div class="bay-4-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-4-move-button">Move</button>
    </div>

</div>
</template>


<template name="team_1_over_view">
    <html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Team 1</title>
    </head>

    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="team-header">
        <h1>Team 1 </h1>
    </div>
    <div class="rectangle"></div>
    <div>
        <div class="machine-reservoir">
            <h4 class="">Machine Reservoir</h4>
            <table class="table blueTable pdiMachineField">
                <thead>
                <tr>
                    <th class="pdiMachineField">Machine</th>
                    <th class="in-line-date">Planned to be in Line</th>
                </tr>
                </thead>
                <tbody class="bodyHeight">
                {{#each machineReservoir}}
                    <tr class="selectedAssemblyMachine">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="in-line-date">{{inLineDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="machine-entry assembly-line-arrow-1">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="assembly-line-fields bay2-fcb-merge-threshing">
        <div class="bay-2-merge-text">
            <h4>Merge FCB with Threshing Unit</h4>
        </div>
        <div>
            <canvas {{draw_fcb_threshing_team_1}} id="machine_field_fcb_threshing"
                                           class="canvas-class" style="position: relative; top: -57px;"></canvas>
        </div>
    </div>

    <div class="team-1-arrows assembly-line-arrow-1">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="assembly-line-fields team1-bay3">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 3</h4>
        </div>
        <div>
            <canvas {{draw_bay3}} id="machine_field_bay_3" class="canvas-class"></canvas>
        </div>
    </div>

    <div class="assembly-line-fields team1-bay4">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 4</h4>
        </div>
        <div>
            <canvas {{draw_bay4}} id="machine_field_bay_4" class="canvas-class"></canvas>
        </div>
    </div>
    <div class="transparent-box">
    </div>
    <div class="assembly-line-fields team2-bay5">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 5</h4>
        </div>
        <div>
            <canvas {{draw_bay5}} id="machine_field_bay_5" class="canvas-class"></canvas>
        </div>
    </div>

    <div class="assembly-line-fields team2-bay6">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 6</h4>
        </div>
        <div>
            <canvas {{draw_bay6}} id="machine_field_bay_6" class="canvas-class"></canvas>
        </div>
    </div>
    </html>
</template>

<template name="moveMachines_team_1">
    <style>
        body{
            background-color:black;
        }
    </style>

    <div>
        <div class="nav-bar">
            <label for="button-back"></label>
            <button class="btn btn-default btn-success btn-back">Back to Over View</button>
            <label for="team_1_button"></label>
            <button class="btn btn-default btn-success btn-team_1">Team 1</button>
        </div>
        <div class="machine-reservoir">
            <h4 class="">Machine Reservoir</h4>
            <table class="table blueTable pdiMachineField">
                <thead>
                <tr>
                    <th class="pdiMachineField">Machine</th>
                    <th class="in-line-date">Planned to be in Line</th>
                </tr>
                </thead>
                <tbody class="bodyHeight">
                {{#each machineReservoir}}
                    <tr class="selectedAssemblyMachine">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="in-line-date">{{inLineDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="invisible-box">
        </div>
    </div>

    <div class="machine-entry assembly-line-arrow-1">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
</template>