<template name="team_2">
    {{#if currentUser}}
            {{#if isInRole 'team_2' }}
                <div class="navigation-buttons">
                    {{> navigation_buttons}}
                </div>
                <div class="message-button-team-2">
                    {{> message_board_team_2}}
                </div>
                <div class="team-1-over-view">
                    {{> team_1_over_view }}
                </div>
                <div class="admin-view-team-2">
                    {{> team_2_over_view }}
                    {{> team_2_move_buttons }}
                </div>
                <div class="admin-view-team-3">
                    {{> team_3_over_view }}
                </div>
            {{/if }}
    {{else}}
        {{> login}}
    {{/if }}
</template>

<template name="message_board_team_2">
<!--
    <div class="team-2-repair-button">
        <label for="team_2_repair_button"></label>
        <button type="button" id="team_2_repair_button"
                class="btn btn-success t2-rep-bt">Print PDI-repairs</button>
    </div>
-->
    <div class="team-order-button">
        <label for="messageButton_team_2"></label>
        <button type="button" id="messageButton_team_2"
                class="btn
                        btn-default
                        messageButton_team_2">Parts Needed</button>
    </div>

    <div class="team-cancel-button">
        <label for="messageButton"></label>
        <button type="button" id="messageButton"
                class="btn
                        btn-danger
                        cancelButton">Cancel Order</button>
    </div>

    <table class="team-order-table blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>

        </tr>
        </thead>
        <tbody>
        {{#each lineOrders}}
            <tr class="selectedOrder {{markedSelectedOrder}}">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField {{getPickingStatus urgency}}"
                    style="background-color: {{getPickingStatus urgency}}; font-size: 0">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField {{getOrderStatus status}}"
                    style="background-color: {{getOrderStatus status}}; font-size: 0">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <table class="team-order-history blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>
            <th class="order-storage-bin"><strong>Time completed</strong></th>
        </tr>
        </thead>
        <tbody>
        {{#each historyOrders}}
            <tr class="">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField" style="text-align: center">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField" style="text-align: center">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
                <td class="order-storage-bin">{{order_completed}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>


<template name="team_2_move_buttons">
<div class="team-2-buttons">
    <div class="bay-5-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-5-move-button">Move</button>
    </div>

    <div class="bay-6-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-6-move-button">Move</button>
    </div>

    <div class="bay-7-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-7-move-button">Move</button>
    </div>
</div>
</template>


<template name="team_2_over_view">
 <html lang="en-US">
    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="team-2-template">
            <div class="team-2-header">
                <h1>Team 2 </h1>
            </div>
            <div class="station-3-arrows">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="station-4-arrows">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
         <div class="team-2-position">
            <div class="assembly-line-fields team2-bay5">
                <div class="bay-3-text">
                    <h4>Bay 5</h4>
                </div>
                <div>
                    <canvas {{draw_bay5}} id="machine_field_bay_5" class="canvas-class"></canvas>
                </div>
            </div>

            <div class="assembly-line-fields team2-bay6">
                <div class="bay-3-text">
                    <h4>Bay 6</h4>
                </div>
                <div>
                    <canvas {{draw_bay6}} id="machine_field_bay_6" class="canvas-class"></canvas>
                </div>
            </div>

            <div class="assembly-line-fields team2-bay7">
                <div class="bay-3-text">
                    <h4>Bay 7</h4>
                </div>
                <div>
                    <canvas {{draw_bay7}} id="machine_field_bay_7" class="canvas-class"></canvas>
                </div>
            </div>
        </div>
    </div>
 </html>
</template>


