<template name="team_2">
    {{#if currentUser}}
            {{#if isInRole 'team_2' }}
                <div class="navigation-buttons">
                    {{> navigation_buttons}}
                </div>
                <div class="team-1-over-view">
                    {{> team_1_over_view }}
                </div>
                <div class="admin-view-team-2">
                    {{> team_2_over_view }}
                    {{> team_2_move_buttons }}
                </div>
                <div class="admin-view-team-3">
                    {{> team_3_over_view }}
                </div>
            {{/if }}
    {{else}}
        {{> login}}
    {{/if }}
</template>

<template name="team_2_move_buttons">
<div class="team-2-buttons">
    <div class="bay-5-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-5-move-button">Move</button>
    </div>

    <div class="bay-6-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-6-move-button">Move</button>
    </div>

    <div class="bay-7-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-7-move-button">Move</button>
    </div>
</div>
</template>


<template name="team_2_over_view">
 <html lang="en-US">
    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="team-2-template">
            <div class="team-2-header">
                <h1>Team 2 </h1>
            </div>
            <div class="station-3-arrows">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="station-4-arrows">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
         <div class="team-2-position">
            <div class="assembly-line-fields team2-bay5">
                <div class="bay-3-text">
                    <h4>Bay 5</h4>
                </div>
                <div>
                    <canvas {{draw_bay5}} id="machine_field_bay_5" class="canvas-class"></canvas>
                </div>
            </div>

            <div class="assembly-line-fields team2-bay6">
                <div class="bay-3-text">
                    <h4>Bay 6</h4>
                </div>
                <div>
                    <canvas {{draw_bay6}} id="machine_field_bay_6" class="canvas-class"></canvas>
                </div>
            </div>

            <div class="assembly-line-fields team2-bay7">
                <div class="bay-3-text">
                    <h4>Bay 7</h4>
                </div>
                <div>
                    <canvas {{draw_bay7}} id="machine_field_bay_7" class="canvas-class"></canvas>
                </div>
            </div>
        </div>
    </div>
 </html>
</template>


