<template name="team_3">
    {{#if currentUser}}
        {{#if isInRole 'team_3, admin' }}
        {{> back_to_assembly_line }}
        {{> team_1_buttons }}
        {{> team_2_buttons }}
        {{> team_4_buttons }}
        {{> team_test_bay_buttons }}
        {{> team_5_buttons }}
        {{> list_of_points }}
        {{> log_out_button }}
        {{> team_3_over_view }}
        {{> team_3_move_buttons }}
    {{/if }}
    {{#if isInRole 'team_1, team_2, team_4, team_5, test_bay' }}
        {{> back_to_assembly_line }}
        {{> team_1_buttons }}
        {{> team_2_buttons }}
        {{> team_4_buttons }}
        {{> team_test_bay_buttons }}
        {{> team_5_buttons }}
        {{> list_of_points }}
        {{> log_out_button }}
        {{> team_3_over_view }}
    {{/if }}
        {{else}}
            {{> login}}
        {{/if}}
</template>

<template name="team_3_move_buttons">

    <div class="template-team-3">

        <div class="">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-8-move-button">Move</button>
        </div>

        <div class="bay-9-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-9-move-button">Move</button>
        </div>

        <div class="bay-10-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-10-move-button">Move</button>
        </div>

    </div>
</template>

<template name="team_3_over_view">
<html lang="en">
<head>
    <title>Team 3</title>
</head>

    <style>
        body{
            background-color:black;
        }
    </style>
<div class="team-header">
    <h1>Team 3 </h1>
</div>
    <div class="station-1-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="station-2-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="station-3-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="station-4-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="station-5-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="station-6-arrows">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
    <div class="transparent-box-reverse"></div>
    <div class="team-container-3">
        <div class="assembly-line-fields team2-bay6">
            <div class="bay-3-text">
                <h4>Bay 6</h4>
            </div>
            <div>
                <canvas {{draw_bay6}} id="machine_field_bay_6" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team2-bay7">
            <div class="bay-3-text">
                <h4>Bay 7</h4>
            </div>
            <div>
                <canvas {{draw_bay7}} id="machine_field_bay_7" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team3-bay8">
            <div class="bay-3-text">
                <h4>Bay 8</h4>
            </div>
            <div>
                <canvas {{draw_bay8}} id="machine_field_bay_8" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team3-bay9">
            <div class="bay-3-text">
                <h4>Bay 9</h4>
            </div>
            <div>
                <canvas {{draw_bay9}} id="machine_field_bay_9" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team3-bay10">
            <div class="bay-3-text">
                <h4>Bay 10</h4>
            </div>
            <div>
                <canvas {{draw_bay10}} id="machine_field_bay_10" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team-test-bay-1">
            <div class="bay-3-text">
                <h4>Test Bay 1</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_1}} id="machine_field_test_bay_1" class="canvas-class"></canvas>
            </div>
        </div>

        <div class="assembly-line-fields team-test-bay-2">
            <div class="bay-3-text">
                <h4>Test Bay 2</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_2}} id="machine_field_test_bay_2" class="canvas-class"></canvas>
            </div>
        </div>
    </div>
    <div class="transparent-box"></div>
</html>
</template>