<template name="team_3">
    {{#if currentUser}}
        {{#if isInRole 'team_3' }}
            <div class="navigation-buttons">
                {{> navigation_buttons}}
            </div>
            <div class="team-3-template-2-over-view">
                {{> team_2_over_view }}
            </div>
            <div class="team-3-template-3-over-view">
                {{> team_3_over_view }}
                {{> team_3_move_buttons }}
            </div>
        <div class="team-3-test-bay-view">
            <div class="test-bay-over-view ">
                {{> test_bay_over_view }}
                {{> test_bay_move_buttons}}
            </div>
        </div>


    {{/if }}
        {{else}}
            {{> login}}
        {{/if}}
</template>

<template name="team_3_move_buttons">

    <div class="team-3-buttons">

        <div class="bay-8-team-button">
            <label for="bay-8-move-button"></label>
            <button type="button" id="bay-8-move-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-8-move-button">Move</button>
        </div>

        <div class="bay-9-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       bay-9-move-button">Move</button>
        </div>

        <div class="bay-10-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-10-move-button">Move</button>
        </div>
    </div>
</template>

<template name="team_3_over_view">
<html lang="en">
    <style>
        body{
            background-color:black;
        }
    </style>
    <div class="team-3-template">

    </div>
<div class="team-3-header">
    <h1>Team 3 </h1>
</div>
    <div class="team-3-arrow-package">
        <div class="bay-7-8-arrows">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-8-9-arrows">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-9-10-arrows">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-10-to-test-bay-arrow">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>


        <div class="team3-bay8">
            <div class="bay-3-text">
                <h4>Bay 8</h4>
            </div>
            <div>
                <canvas {{draw_bay8}} id="machine_field_bay_8"
                                      class="canvas-team3-bay8"></canvas>
            </div>
        </div>

        <div class="team3-bay9">
            <div class="bay-3-text">
                <h4>Bay 9</h4>
            </div>
            <div>
                <canvas {{draw_bay9}} id="machine_field_bay_9"
                                      class="canvas-team3-bay9"></canvas>
            </div>
        </div>

        <div class="team3-bay10">
            <div class="bay-3-text">
                <h4>Bay 10</h4>
            </div>
            <div>
                <canvas {{draw_bay10}} id="machine_field_bay_10"
                                       class="canvas-team3-bay10"></canvas>
            </div>
        </div>
</html>
</template>