<template name="team_4">
    {{#if currentUser}}
        {{#if isInRole 'team_4'}}
            <div class="navigation-buttons">
                {{> navigation_buttons}}
            </div>
            <div>
                {{> team_1_over_view }}
            </div>
        <div class="message-button-team-4">
            {{> message_board_team_4}}
        </div>
            <div class="team-4-over-view">
                {{> team_4_over_view }}
                {{> team_4_move_buttons }}
            </div>
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>




<template name="team_4_move_buttons">
    <div class="team-4-buttons">
        <div class="engine-1-move-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           engine-1-move">Move</button>
        </div>

        <div class="engine-2-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           engine-2-move">Move</button>
        </div>

        <div class="engine-3-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           engine-3-move">Move</button>
        </div>

        <div class="engine-4-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           engine-4-move">Move to Merge</button>
        </div>

        <div class="cooling-1-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           cooling-1-move-button">Move</button>
        </div>

        <div class="cooling-2-team-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           cooling-2-move-button">Move</button>
        </div>

        <div class="merge-1-team-button">
            <label for="bay-button"></label>
            <button type="button" id="engine-ready-1"
                    class="btn
                           btn-default
                           btn-success
                           engine-1-ready-button">Engine Ready</button>
        </div>

        <div class="merge-2-team-button">
            <label for="bay-button"></label>
            <button type="button" id="engine-ready-2"
                    class="btn
                           btn-default
                           btn-success
                           engine-2-ready-button">Engine Ready</button>
        </div>

        <div class="merge-3-team-button">
            <label for="bay-button"></label>
            <button type="button" id="engine-ready-3"
                    class="btn
                           btn-default
                           btn-success
                           engine-3-ready-button">Engine Ready</button>
        </div>
    </div>
</template>
<!--  ******************************   Team 4 Over View  **********************  -->
<template name="team_4_over_view">
 <html lang="en">
    <head>
        <title>Team 4</title>
    </head>
    <style>
        body{
            background-color:black;
        }
    </style>
     <div class="team-4-template">
        <div class="team-4-header">
            <h1>Team 4 </h1>
        </div>
        <div class="chevron-engine-bays">
            <div class="engine-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="engine-arrow-2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="engine-arrow-3">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="engine-arrow-4">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="box-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="box-arrow-2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="box-arrow-3">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="cooling-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="cooling-arrow-2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="cooling-arrow-3">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="merging-arrow-3">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="merging-arrow-1">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="merging-arrow-2">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
        </div>

         <div class="engine-move-arrows" style="visibility: {{engineReady}}">
                 <div class="engine-move-arrows-1">
                     <div class="indicator indicator_1">
                         <span></span>
                         <span></span>
                         <span></span>
                     </div>
                 </div>
         </div>

           <div class="rectangle-cooling-1"></div>

           <div class="cooling-box-reservoir">
                <h4 class="">Cooling Box Reservoir</h4>
                <table class="table blueTable pdiMachineField">
                    <thead>
                    <tr>
                        <th class="pdiMachineField">Machine</th>
                        <th class="in-line-date">Cooler Assembly</th>
                        <th class="in-line-time">Planned Time</th>
                    </tr>
                    </thead>
                    <tbody class="cooling-table-height">
                    {{#each coolingBoxReservoir}}
                        <tr class="selectedCoolingBox">
                            <td class="pdiMachineField">{{machineId}}</td>
                            <td class="in-line-date">{{timeLine.station3}}</td>
                            <td class="in-line-time">{{timeLine.station_3_time}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
           </div>

            <div class="rectangle-engines-1"></div>

            <div class="engine-reservoir">
                <h4 class="">Engine Reservoir</h4>
                <table class="table blueTable pdiMachineField">
                    <thead>
                    <tr>
                        <th class="pdiMachineField">Machine</th>
                        <th class="in-line-date">Planned in Station 1</th>
                        <th class="in-line-time">Planned Time</th>
                    </tr>
                    </thead>
                    <tbody class="bodyHeight">
                    {{#each engineReservoir}}
                        <tr class="selectedAssemblyMachine">
                            <td class="pdiMachineField">{{machineId}}</td>
                            <td class="in-line-date">{{timeLine.station1}}</td>
                            <td class="in-line-time">{{timeLine.station_1_time}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

    <!-- ************  Engine Assembly Line starts here **************** -->

          <div class="engine-assembly-container">
                <div class="station-1">
                    <div class="engine-text">
                        <h4>Station 1</h4>
                    </div>
                    <div class="engine-canvas-correction">
                            <canvas {{draw_engine_1}} id="engine-station-1" class=""></canvas>
                    </div>
                </div>

                <div class="station-2">
                    <div class="engine-text">
                        <h4>Station 2</h4>
                    </div>
                    <div class="engine-canvas-correction">
                        <canvas {{draw_engine_2}} id="engine-station-2" class=""></canvas>
                    </div>
                </div>

                <div class="station-3">
                    <div class="engine-text">
                        <h4>Station 3</h4>
                    </div>
                    <div class="engine-canvas-correction">
                        <canvas {{draw_engine_3}} id="engine-station-3" class=""></canvas>
                    </div>
                </div>

                <div class="station-4">
                    <div class="engine-text">
                        <h4>Station 4</h4>
                    </div>
                    <div class="engine-canvas-correction">
                        <canvas {{draw_engine_4}} id="engine-station-4" class=""></canvas>
                    </div>
                </div>

          <!-- *******************************  Cooling Box Pre and Merging **********************  -->

                <div class="cooling-station-1">
                    <div class="cooling-box-1-text">
                        <h4>Box 1</h4>
                    </div>
                    <div class="canvas-box-1">
                    <canvas {{draw_cooling_1}} id="cooling-station-1"></canvas>
                    </div>
                </div>

                <div class="cooling-station-2">
                    <div class="cooling-box-2-text">
                        <h4>Box 2</h4>
                    </div>
                    <div class="canvas-box-2">
                        <canvas {{draw_cooling_2}} id="cooling-station-2"></canvas>
                    </div>
                </div>

                <div class="engine-merge-station-1">
                    <div class="merge-1-text">
                        <h4>Merge 1</h4>
                    </div>

                    <div class="">
                        <canvas {{draw_cooling_merge_1}} id="cooling-merge-1" class="cooling-engine-1"></canvas>
                        <canvas {{draw_merge_1}} id="merge-station-1" class="merging-canvas-correction"></canvas>
                    </div>
                    <div class="merge-1-check-mark" id="merge-1-field" {{merge_1_result}}>
                        <p>&#10004;</p>
                    </div>
                </div>

                <div class="engine-merge-station-2">
                    <div class="merge-2-text">
                        <h4>Merge 2</h4>
                    </div>
                    <div class="">
                        <canvas {{draw_cooling_merge_2}} id="cooling-merge-2" class="cooling-engine-2"></canvas>
                        <canvas {{draw_merge_2}} id="merge-station-2" class="merging-canvas-correction"></canvas>
                    </div>
                    <div class="merge-2-check-mark" id="merge-2-field" {{merge_2_result}}>
                        <p>&#10004;</p>
                    </div>
                </div>

              <div class="engine-merge-station-3">
                  <div class="merge-3-text">
                      <h4>Merge 3</h4>
                  </div>
                  <div class="">
                      <canvas {{draw_cooling_merge_3}} id="cooling-merge-3" class="cooling-engine-3"></canvas>
                      <canvas {{draw_merge_3}} id="merge-station-3" class="merging-canvas-correction"></canvas>
                  </div>
                  <div class="merge-3-check-mark" id="merge-3-field" {{merge_3_result}}>
                      <p>&#10004;</p>
                  </div>
              </div>

          </div>
    </div>
 </html>
</template>

<template name="table_cover_box">
    <div class="view-cover-box">
    </div>
</template>