<template name="team_4">
    {{#if currentUser}}
        {{#if isInRole 'admin, team_4'}}
            {{> back_to_assembly_line }}
            {{> team_1_buttons }}
            {{> team_2_buttons }}
            {{> team_3_buttons }}
            {{> team_test_bay_buttons }}
            {{> team_5_buttons }}
            {{> list_of_points }}
            {{> log_out_button }}
            {{> team_4_over_view }}
            {{> team_4_move_buttons }}
        {{/if}}
        {{#if isInRole 'team_1, team_2, team_3, team_5, test_bay' }}
            {{> back_to_assembly_line }}
            {{> team_1_buttons }}
            {{> team_2_buttons }}
            {{> team_3_buttons }}
            {{> team_test_bay_buttons }}
            {{> team_5_buttons }}
            {{> list_of_points }}
            {{> log_out_button }}
            {{> team_4_over_view }}
            <div class="unauthorized-cover-team-4">
                {{> unauthorized_box}}
            </div>
            {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="team_4_move_buttons">
<div class="template-team-4">
    <div class="engine-1-move-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       engine-1-move">Move</button>
    </div>

    <div class="engine-2-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       engine-2-move">Move</button>
    </div>

    <div class="engine-3-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       engine-3-move">Move</button>
    </div>

    <div class="engine-4-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       engine-4-move">Move to Merge</button>
    </div>

    <div class="cooling-1-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       cooling-1-move-button">Move</button>
    </div>

    <div class="cooling-2-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       cooling-2-move-button">Move</button>
    </div>

    <div class="merge-1-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       merge-1-move-button">Move to Bay 4</button>
    </div>

    <div class="merge-2-team-button">
        <label for="bay-button"></label>
        <button type="button" id="bay-button"
                class="btn
                       btn-default
                       btn-success
                       merge-2-move-button">Move to Bay 4</button>
    </div>
</div>

</template>
<!--  ******************************   Team 4 Over View  **********************  -->
<template name="team_4_over_view">
    <html lang="en">
    <head>
        <title>Team 4</title>
    </head>
    <style>
        body{
            background-color:black;
        }
    </style>

    <div class="team-header">
        <h1>Team 4 </h1>
    </div>
    <div class="chevron-engine-bays">
        <div class="engine-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="engine-arrow-2">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="engine-arrow-3">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="engine-arrow-4">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="box-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="box-arrow-2">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="box-arrow-3">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="cooling-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="cooling-arrow-2">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="merging-arrow-3">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="merging-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>

    <div class="rectangle-cooling-1"></div>
    <div class="cooling-box-reservoir">
        <div class="engine-reservoir">
            <h4 class="">Machine Reservoir</h4>
            <table class="table blueTable pdiMachineField">
                <thead>
                <tr>
                    <th class="pdiMachineField">Machine</th>
                    <th class="in-line-date">Cooler Assembly</th>
                </tr>
                </thead>
                <tbody class="cooling-table-height">
                {{#each coolingBoxReservoir}}
                    <tr class="selectedCoolingBox">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="in-line-date">{{timeLine.station3}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="rectangle-engines-1"></div>
        <div class="engine-reservoir">
            <h4 class="">Machine Reservoir</h4>
            <table class="table blueTable pdiMachineField">
                <thead>
                <tr>
                    <th class="pdiMachineField">Machine</th>
                    <th class="in-line-date">Planned in Station 1</th>
                </tr>
                </thead>
                <tbody class="bodyHeight">
                {{#each machineReservoir}}
                    <tr class="selectedAssemblyMachine">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="in-line-date">{{timeLine.station1}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

<!-- ************  Engine Assembly Line starts here **************** -->

    <div class="engine-assembly-container">
        <div class="station-1">
            <div class="engine-text">
                <h4>Station 1</h4>
            </div>
            <div class="engine-canvas-correction">
                    <canvas {{draw_engine_1}} id="engine-station-1" class=""></canvas>
            </div>
        </div>

        <div class="station-2">
            <div class="engine-text">
                <h4>Station 2</h4>
            </div>
            <div class="engine-canvas-correction">
                <canvas {{draw_engine_2}} id="engine-station-2" class=""></canvas>
            </div>
        </div>

        <div class="station-3">
            <div class="engine-text">
                <h4>Station 3</h4>
            </div>
            <div class="engine-canvas-correction">
                <canvas {{draw_engine_3}} id="engine-station-3" class=""></canvas>
            </div>
        </div>

        <div class="station-4">
            <div class="engine-text">
                <h4>Station 4</h4>
            </div>
            <div class="engine-canvas-correction">
                <canvas {{draw_engine_4}} id="engine-station-4" class=""></canvas>
            </div>
        </div>

  <!-- *******************************  Cooling Box Pre and Merging **********************  -->

        <div class="cooling-station-1">
            <div class="cooling-box-1-text">
                <h4>Box 1</h4>
            </div>
            <div class="canvas-box-1">
            <canvas {{draw_cooling_1}} id="cooling-station-1"></canvas>
            <canvas class="canvas-cooling-1" id="myCanvas"></canvas>
            </div>
        </div>

        <div class="cooling-station-2">
            <div class="cooling-box-2-text">
                <h4>Box 2</h4>
            </div>
            <div class="canvas-box-2">
                <canvas {{draw_cooling_2}} id="cooling-station-2"></canvas>
                <canvas class="canvas-cooling-2"></canvas>
            </div>
        </div>

        <div class="engine-merge-station-1">
            <div class="merge-1-text">
                <h4>Merge 1</h4>
            </div>

            <div class="">
                <canvas class="my-canvas-3" id="myCanvas" width="90" height="70" style="border: 2px solid #ee0e0e"></canvas>
                <canvas {{draw_merge_1}} id="merge-station-1" class="merging-canvas-correction"></canvas>
            </div>
        </div>

        <div class="engine-merge-station-2">
            <div class="merge-2-text">
                <h4>Merge 2</h4>
            </div>
            <div class="">
                <canvas class="my-canvas-3" id="myCanvas" width="90" height="70" style="border: 2px solid #ee0e0e"></canvas>
                <canvas {{draw_merge_2}} id="merge-station-2" class="merging-canvas-correction"></canvas>
            </div>
        </div>
        <div>

        </div>
    </div>
 </html>
</template>

<template name="table_cover_box">
    <div class="view-cover-box">
    </div>
</template>