<template name="test_bay">
    {{#if currentUser}}
       {{#if isInRole 'test_bay' }}
           <div class="navigation-buttons">
               {{> navigation_buttons}}
           </div>
       <div class="test-bay-view">
           <div class="admin-view-team-3">
               {{> team_3_over_view }}
           </div>
           <div class="test-bay-over-view">
               {{> test_bay_over_view }}
               {{> test_bay_move_buttons}}
           </div>
           <div class="team-5">
               {{> team_5_over_view }}
           </div>
       </div>

       {{/if }}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="test_bay_move_buttons">

    <div class="test-bay-single-view-buttons">
        <div class="front-test-bay-single-button">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           front-test-bay-button">Move</button>
        </div>

        <!-- *********************  Test Bay  *******************************  -->

        <div class="bay-test-1-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                            btn-default
                            btn-success
                            bay-test-bay-1-move-button">Move</button>
        </div>

        <div class="bay-test-2-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-test-bay-2-move-button">Move</button>
        </div>

        <div class="bay-test-3-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-test-bay-3-move-button">Move</button>
        </div>


        <div class="bay-test-4-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           bay-test-bay-4-move-button">Move</button>
        </div>

        <div class="test-bay-1-3-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                            test-bay-1-3-move-button"></button>
        </div>

        <div class="test-bay-2-4-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           test-bay-2-4-move-button"></button>
        </div>

        <div class="test-bay-1-4-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           test-bay-1-4-move-button"></button>
        </div>

        <div class="test-bay-2-3-button-single">
            <label for="bay-button"></label>
            <button type="button" id="bay-button"
                    class="btn
                           btn-default
                           btn-success
                           test-bay-2-3-move-button"></button>
        </div>
    </div>
</template>

<template name="test_bay_over_view">
    <html lang="en">
        <style>
            body{
                background-color:black;
            }
        </style>
    <div class="test-bay-head">
        <h1>Test Bay </h1>
    </div>
    <div class="test-bay-single-view">
        <!-- front of Test Bay  -->
        <div class="team3-front-test-bay">
            <div class="front-test-bay-arrow-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div>
                <canvas {{draw_front_test_bay}} id="machine_field_front_test_bay"
                                                class="canvas-front-test-bay"></canvas>
            </div>
        </div>
        <!-- Test bay 1    -->
        <div class="team-test-bay-1">
            <div class="test-bay-1-2-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="test-bay-1-text-single">
                <h4>Test Bay 1</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_1}} id="machine_field_test_bay_1"
                                            class="canvas-test-bay-1-single"></canvas>
            </div>
        </div>

        <div class='scroll-down test-bay-1-to-3-arrows-single'>
            <div class="chevrons">
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
            </div>
        </div>
<!--      toDo      new chevrons for test bay   ************************************************ -->
        <div class="indicator indicator_1">
            <span></span>
            <span></span>
            <span></span>
        </div>
<!-- ************************************************************************************************* -->
        <div class='scroll-down test-bay-1-to-4-arrows-single'>
            <div class="chevrons">
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
            </div>
        </div>
        <!--  *******************************  Test Bay 2  ********************** -->

        <div class="team-test-bay-2-single">
            <div class="test-bay-2-14-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="test-bay-2-text-single">
                <h4>Test Bay 2</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_2}} id="machine_field_test_bay_2" class="canvas-test-bay-2"></canvas>
            </div>
        </div>

        <div class="scroll-down test-bay-2-4-arrows-single">
            <div class="chevrons">
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
            </div>
        </div>

        <div class='scroll-down test-bay-2-to-3-arrows-single'>
            <div class="chevrons">
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
                <div class='chevron-down'></div>
            </div>
        </div>
        <!-- ****************************  Test Bay 3  **************************** -->


        <div class="team-test-bay-3">
            <div class="test-bay-3-4-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="test-bay-3-text">
                <h4>Test Bay 3</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_3}} id="machine_field_test_bay_3" class="canvas-test-bay-3"></canvas>
            </div>
        </div>
        <!-- ****************************   Test Bay 4  ************************** -->

        <div class="team-test-bay-4">
            <div class="test-bay-4-14-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="test-bay-4-text">
                <h4>Test Bay 4</h4>
            </div>
            <div>
                <canvas {{draw_test_bay_4}} id="machine_field_test_bay_4" class="canvas-test-bay-4"></canvas>
            </div>
        </div>
    </div>

        <!-- *************************************** Test Bay End ***********************************  -->
    </html>

</template>

<template name="bay_9_10_to_14_15">
    <div class="transparent-box-reverse"></div>
    <div class="chevron-test-bay">
        <div class="station-1-arrows">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="station-2-arrows">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="station-5-arrows-single">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>
</template>