<template name="team1OverView">
    <html lang="">
    <style>
        body{
            background-color:black;
        }
    </style>

    <div>
        <div class="nav-bar">
            <label for="button-back"></label>
            <button class="btn btn-default btn-success btn-back">Back to Over View</button>
        </div>
        <div class="machine-reservoir">
            <h4 class="">Machine Reservoir</h4>
            <table class="table blueTable pdiMachineField">
                <thead>
                <tr>
                    <th class="pdiMachineField">Machine</th>
                    <th class="in-line-date">Planned to be in Line</th>
                </tr>
                </thead>
                <tbody class="bodyHeight">
                {{#each machineReservoir}}
                    <tr class="selectedAssemblyMachine">
                        <td class="pdiMachineField">{{machineId}}</td>
                        <td class="in-line-date">{{inLineDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="invisible-box">
        </div>
    </div>

    <div class="machine-entry assembly-line-arrow-1">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="assembly-line-fields bay2-fcb-merge-threshing">
        <div class="bay-2-merge-text">
            <h4>Merge FCB with Threshing Unit</h4>
        </div>
        <div class="bay-move-button">
            <label for="bay2-button"></label>
            <button type="button"
                    class="btn
                               btn-default
                               btn-success
                               bay-2-move-button">Move</button>
        </div>
        <div>
            <canvas {{draw_fcb_threshing}} id="machine-field-fcb-threshing"
                                           class="canvas-class" style="position: relative; top: -57px;"></canvas>
        </div>
    </div>

    <div class="bay-arrows assembly-line-arrow-1">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

    <div class="assembly-line-fields team1-bay3">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 3</h4>
        </div>
        <div class="bay-move-button">
            <label for="bay2-button"></label>
            <button type="button"
                    class="btn
                               btn-default
                               btn-success
                               bay-3-move-button">Move</button>
        </div>
        <div>
            <canvas {{draw_bay3}} id="machine-field-bay3" class="canvas-class"></canvas>
        </div>
    </div>

    <div class="assembly-line-fields team1-bay4">
        <div class="bay-arrows assembly-line-arrow-1">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
        <div class="bay-3-text">
            <h4>Bay 4</h4>
        </div>
        <div class="bay-move-button">
            <label for="bay2-button"></label>
            <button type="button"
                    class="btn
                               btn-default
                               btn-success
                               bay-4-move-button">Move</button>
        </div>
        <div>
            <canvas {{draw_bay4}} id="machine-field-bay4" class="canvas-class"></canvas>
        </div>
    </div>
        <div class="transparent-box">
        </div>
            <div class="assembly-line-fields team2-bay5">
                <div class="bay-arrows assembly-line-arrow-1">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </div>
                <div class="bay-3-text">
                    <h4>Bay 5</h4>
                </div>
                <div>
                    <canvas {{draw_bay5}} id="machine-field-bay5" class="canvas-class"></canvas>
                </div>
            </div>

            <div class="assembly-line-fields team2-bay6">
                <div class="bay-arrows assembly-line-arrow-1">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </div>
                <div class="bay-3-text">
                    <h4>Bay 6</h4>
                </div>
                <div>
                    <canvas {{draw_bay6}} id="machine-field-bay6" class="canvas-class"></canvas>
                </div>
            </div>
    </html>
</template>

<template name="team2OverView">


</template>