<template name="order_analysis">
    <html lang="en">
        <head>
            <title>Analysis</title>
            <meta name="viewport" content="width=device-width">
        </head>
        <body>
        {{#if currentUser}}
            {{#if isInRole 'admin'}}
                <div>
                    {{> adminLayout}}
                    {{> orderAnalysis}}
                </div>
            {{/if}}
            {{#if isInRole  'Picker'}}

            {{/if}}
        {{else}}
            {{> logout}}
        {{/if}}
        </body>
    </html>
</template>

<template name="orderAnalysis">
   <div>
       {{loadingOrderList}}
   </div>

    <div id="logo">
        <img src="claas_logo.png" />
    </div>

    <div class="order-by-team">
        <label for="team_1"></label>
        <button  type="button" id="team_1" class="btn btn-success">Team 1</button>
        <label for="team_2"></label>
        <button type="button" id="team_2" class="btn btn-success">Team 2</button>
        <label for="team_3"></label>
        <button type="button" id="team_3" class="btn btn-success">Team 3</button>
        <label for="team_4"></label>
        <button type="button" id="team_4" class="btn btn-success">Team 4</button>
        <label for="team_5"></label>
        <button type="button" id="team_5" class="btn btn-success">Team 5</button>
        <label for="all-teams"></label>
        <button type="button" id="all_teams" class="btn btn-success">All Teams</button>
    </div>

    <div class="team-table-text">
        <h1>Analysis for {{team_order}}, {{team_miss_picks}} Miss Picks since Jan 16th 2023</h1>
    </div>


    <div class="order-complete-table">
        <table class="table table-header-rotated fixed-header">
            <thead>
            <tr>
                <th class="pdiMachineField"><strong>Team</strong></th>
                <th class="order-date-field"><strong>Order Initiated</strong></th>
                <th class="pdiMachineField"><strong>Machine Nr</strong></th>
                <th class="pdiMachineField"><strong>Quantity</strong></th>
                <th class="storage-field"><strong>Part Number</strong></th>
                <th class="storage-field"><strong>Storage Bin</strong></th>
                <th class="pdiMachineField"><strong>Point of Use</strong></th>
                <th class="pdiMachineField"><strong>Status</strong></th>
                <th class="order-date-field"><strong>Picking End</strong></th>
                <th class="pdiMachineField"><strong>Order processing in min</strong></th>
                <th class="pdiMachineField"><strong>Miss Pick by</strong></th>
                <th class="order-date-field"><strong>Picking Date / Time</strong></th>
            </tr>
            </thead>
            <tbody>
            {{#each orderList}}
                <tr class="">
                    <td class="pdiMachineField">{{team}}</td>
                    <td class="order-date-field">{{orderStart}}</td>
                    <td class="pdiMachineField">{{machineId}}</td>
                    <td class="pdiMachineField">{{quantity}}</td>
                    <td class="storage-field">{{partNumber}}</td>
                    <td class="storage-field">{{storage}}</td>
                    <td class="pdiMachineField">{{pou}}</td>
                    <td class="pdiMachineField">{{status}}</td>
                    <td class="order-date-field">{{pickingEndTime}}</td>
                    <td class="pdiMachineField">{{overAllDuration}}</td>
                    <td class="pdiMachineField">{{picker}}</td>
                    <td class="order-date-field">{{pickingDate}}</td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="order-diagram-1">
        <div  id="part_numbers">{{partNumbers}}</div>
    </div>
    <!--
    <div class="order-diagram-2">
        <div  id="order_reason">{{orderPerReason}}</div>
    </div>

    <div class="order-diagram-3">
        <div  id="reason_bin">{{reasonPerStorageBin}}</div>
    </div>
    -->

</template>