<template name="team_5_screen">
    {{> team_5_screen_view }}
    <div class="overview-team-5-build">
        {{> over_view_all_teams}}
    </div>
</template>



<template name="team_5_screen_view">

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Team 5</title>
    </head>

    <style>body{
        background-color:black;
    }</style>

    <body>
    <div class="team-screen-template">  <!-- css class defined in team 1 css -->
        <h1 class="team-screen-header">Team 5 </h1>

        <div class="canvas-boxes team-5-correction">

            <h4  class="bay-5-screen">Bay 14</h4>

            <p class="bay-5-canvas-screen">
                <canvas {{draw_bay14}} id="machine_field_bay_14"></canvas>
            </p>

            <p class="bay-5-time-screen" id="realTimerBay14">{{time_bay_14}}</p>
            <p  class="bay-5-unit-screen">{{units_bay_14}}</p>

            <div class="arrows-bay-5-6">
                <p class="chevron"></p>
                <p class="chevron"></p>
                <p class="chevron"></p>
            </div>

            <h4 class="bay-6-screen">Bay 15</h4>

            <p class="bay-6-canvas-screen">
                <canvas {{draw_bay15}} id="machine_field_bay_15"></canvas>
            </p>

            <p class="bay-6-time-screen" id="realTimerBay15">{{time_bay_15}}</p>
            <p class="bay-6-unit-screen">{{units_bay_15}}</p>

            <div class="arrows-bay-6-7">
                <p class="chevron"></p>
                <p class="chevron"></p>
                <p class="chevron"></p>
            </div>

            <h4 class="bay-7-screen">Bay 16</h4>

            <p class="bay-7-canvas-screen">
                <canvas {{draw_bay16}} id="machine_field_bay_16"></canvas>
            </p>

            <p class="bay-7-time-screen" id="realTimerBay16">{{time_bay_16}}</p>
            <p class="bay-7-unit-screen">{{units_bay_16}}</p>

            <div class="arrows-bay-16-17">
                <p class="chevron"></p>
                <p class="chevron"></p>
                <p class="chevron"></p>
            </div>

            <h4 class="bay-17-screen">Bay 17</h4>

            <p class="bay-17-canvas-screen">
                <canvas {{draw_bay17}} id="machine_field_bay_17"></canvas>
            </p>

            <p class="bay-17-time-screen" id="realTimerBay17">{{time_bay_17}}</p>
            <p class="bay-17-unit-screen">{{units_bay_17}}</p>

            <div class="arrows-bay-17-18">
                <p class="chevron"></p>
                <p class="chevron"></p>
                <p class="chevron"></p>
            </div>

            <h4 class="bay-18-screen">Bay 18</h4>

            <p class="bay-18-canvas-screen">
                <canvas {{draw_bay18}} id="machine_field_bay_18"></canvas>
            </p>

            <p class="bay-18-time-screen" id="realTimerBay18">{{time_bay_18}}</p>
            <p class="bay-18-unit-screen">{{units_bay_18}}</p>

            <div class="arrows-bay-18-19">
                <p class="chevron"></p>
                <p class="chevron"></p>
                <p class="chevron"></p>
            </div>

            <h4 class="bay-19-screen">Bay 19</h4>

            <p class="bay-19-canvas-screen">
                <canvas {{draw_bay19}} id="machine_field_bay_19"></canvas>
            </p>

            <p class="bay-19-time-screen" id="realTimerBay19">{{time_bay_19}}</p>
            <p class="bay-19-unit-screen">{{units_bay_19}}</p>

        </div>

        <div id="clock">
            <p id="date" class="date-clock">{{ date }}</p>
            <p id="time" class="time-clock">{{ time }}</p>
        </div>

        <div class="team-5-shift">
            <h3>Shift &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 9h</h3>
            <h3>Shift End: 03:30 PM</h3>
        </div>

    </div>
    </body>
    </html>
</template>