<template name="team_test_bay_screen">
    {{> team_test_bay_screen_view }}
    <div class="overview-team-test-bay-build">
        {{> over_view_all_teams}}
    </div>
</template>

<template name="team_test_bay_screen_view">
    <html lang="en">
    <style>
        body{
            background-color:black;
        }
    </style>

        <h1 class="test-bay-screen-head">Test Bay </h1>

    <div class="test-bay-screen-view">
        <h4 class="bay-10-test-bay-screen">Bay 10</h4>
        <p class="bay-10-test-bay-view">
            <canvas {{draw_bay10}} id="machine_field_bay_10"></canvas>
        </p>

        <div class="bay-10-test-bay-front">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>

        <div class="test-bay-screen-correction">
            <div class="front-test-bay-arrow-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <canvas {{draw_front_test_bay}} id="machine_field_front_test_bay"
                                            class="canvas-front-test-bay"></canvas>

            <div class="test-bay-1-2-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <h4 class="test-bay-1-text-single">Bay 1</h4>
            <canvas {{draw_test_bay_1}} id="machine_field_test_bay_1"
                                        class="canvas-test-bay-1-single"></canvas>
            <div class="bay-1-unit-time-view">
                <p class="testBay-1-time-screen" id="realTimerTestBay1">{{time_test_bay_1}}</p>
                <p  class="testBay-1-unit-screen">{{units_test_bay_1}}</p>
            </div>

            <h4 class="test-bay-2-text-single">Bay 2</h4>
            <canvas {{draw_test_bay_2}} id="machine_field_test_bay_2" class="canvas-test-bay-2"></canvas>
            <div class="bay-2-unit-time-view">
                <p class="testBay-2-time-screen" id="realTimerTestBay2">{{time_test_bay_2}}</p>
                <p  class="testBay-2-unit-screen">{{units_test_bay_2}}</p>
            </div>


            <div class="test-bay-3-4-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <h4 class="test-bay-3-text">Bay 3</h4>
            <canvas {{draw_test_bay_3}} id="machine_field_test_bay_3" class="canvas-test-bay-3"></canvas>

            <div class="test-bay-4-14-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <h4 class="test-bay-4-text">Bay 4</h4>
            <canvas {{draw_test_bay_4}} id="machine_field_test_bay_4" class="canvas-test-bay-4"></canvas>
        </div>
    </div>

    <div class="test-bay-2-bay-14">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>

        <div class="team-5-test-bay-screen">
            <div class="bay-3-text">
                <h4>Bay 14</h4>
            </div>
            <div>
                <canvas {{draw_bay_14}} id="machine_field_bay_14" class="canvas-class"></canvas>
            </div>

            <div class="bay-14-15-arrows-single">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>

            <div class="test-bay-team-5-bay-15-screen">
                <div class="bay-3-text">
                    <h4>Bay 15</h4>
                </div>
                <div>
                    <canvas {{draw_bay_15}} id="machine_field_bay_15" class="canvas-class"></canvas>
                </div>
            </div>
        </div>

    <div class="clock-test-bay" id="clock">
        <p id="date" class="date-clock">{{ date }}</p>
        <p id="time" class="time-clock">{{ time }}</p>
    </div>

    <!-- *************************************** Test Bay End ***********************************  -->
    </html>
</template>