<template name="admin">
{{#if currentUser}}
     {{#if isInRole 'admin'}}
           {{> adminView}}
             {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="adminView">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="topNav">
        <nav>
            <a class="btn btn-info" href="/">Overview</a>
            <a>|</a>
            <a class="btn btn-success"  href="commissionAnalysis.html">Commissions Analysis</a>
            <a>|</a>
            <a class="btn btn-danger"  href="/adminNewUser">New User</a>
            <a>|</a>
            <a class="btn btn-default btn-info shippingApp" href="http://10.40.1.47:3000/" >Shipping App</a>
            <a>|</a>
            <a class="btn btn-default btn-info" href="/assemblyLineOverView">Assembly Line</a>
            <a>|</a>
            <a class="btn btn-default btn-danger" href="/lineAdministration">Assembly Line Definitions</a>
        </nav>
    </div>
<!--
    <div>
        <button class="btn btn-danger failureCorrection">Test</button>
    </div>
-->
    <div class="add-fiscal-year">
        <div class="fiscal-year-button">
                <form class="addingFiscalYear">
                    <label for="addNewYear">Year</label>
                    <input type="number"
                           id="addNewYear"
                           name="addNewYear"
                           placeholder="YYYY"
                           min="2020"
                           max="2100"
                           maxlength="4"
                           size=4
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           required
                    >

                    <label for="addNewMonth">Month</label>
                    <input type="number"
                           id="addNewMonth"
                           name="addNewMonth"
                           placeholder="MM"
                           min="1"
                           max="12"
                           maxlength="2"
                           size="2"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           required
                    >

                    <label for="addNewDay">Day</label>
                    <input type="number"
                           id="addNewDay"
                           name="addNewDay"
                           placeholder="DD"
                           min="1"
                           max="31"
                           maxlength="2"
                           size="2"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           required
                    >
                    <button type="submit" class="btn btn-success btn-default" disabled>Submit new Fiscal Year</button>
                </form>
        </div>
    </div>
    <div class="fiscal-year-admin">
        <h3>Fiscal Years</h3>
        {{#each availableFiscalYearAdmin}}
            <tr class=" {{selected}}">
                <td class="pickers-width font-style">{{year}}</td>
            </tr>
        {{/each}}
    </div>

    <div class="active-inactive-pickers">
        <h3>Set Pickers In-active or Active</h3>
        <table class="">
            <thead>
            <tr>
                <th class="pickers-id"><strong>Picker</strong></th>
            </tr>
            </thead>
            <tbody>
        {{#each activePickers}}
            <tr class="{{selected}}">
                <td class="pickers-width font-style">{{_id}}</td>
                <td>
                    <button type="button" value="{{_id}}" class="btn btn-success picker-active" disabled>Active</button>
                </td>
                <td>
                    <button type="button" value="{{_id}}"  class="btn btn-danger picker-in-active" disabled>In-Active</button>
                </td>
            </tr>
        {{/each}}
            </tbody>
        </table>
    </div>
    <div class="supply-frame">
        <div class="deactivate-button">
             <button type="button" class="btn btn-danger btn-default setInactive" disabled>Set Area inactive</button>
        </div>
        <div class="active-supply">
            <h4><strong>Active Supply</strong></h4>
            <table class="table fixed-header">
                <thead>
                <tr>
                    <th class="">Supply Area</th>
                </tr>
                </thead>
                <tbody>
                {{#each supplyArea}}
                <tr class="table-size area {{selectedArea}}">
                    <th>{{_id}}</th>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="reactivate-button">
            <form class="reactivate">
                <button class="btn btn-success btn-default reActivate" disabled>Set Area Active</button>
            </form>
        </div>
        <div class="inactive-supply">
            <h4><strong>Inactive Supply</strong></h4>
            <table class="table fixed-header">
                <thead>
                <tr>
                    <th class="">Supply Area</th>
                </tr>
                </thead>
                <tbody>
                {{#each inActive}}
                    <tr class="table-size inactiveArea {{selectedInactiveArea}}">
                        <th>{{_id}}</th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="add-area">
            <form class="addingArea">
                <label for="addNewArea"></label>
                <input type="text" id="addNewArea" name="addNewArea" placeholder="Add new Area" disabled>
                <button type="submit" class="btn btn-success btn-default" disabled>Submit new Area</button>
            </form>
        </div>
    </div>

<!-- Add Bays to Assembly Line   -->

    <!--
<div>
    <form class="addingBay">
        <label for="addNewBay"></label>
        <input type="text" id="addNewBay" name="addNewBay" placeholder="Add new Bay">
        <button type="submit" class="btn btn-success btn-default">Submit Bay</button>
    </form>
</div>
   -->

</template>

<template name="adminNewUser">
    <nav class="topNav">
        <a class="btn btn-default btn-info" href="/admin">Overview Admin</a>
        <a>|</a>
        <a class="btn btn-default btn-success" href="/">Over View</a>
    </nav>
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="new-user">
        <h2>New User</h2>
        <form class="adminRegisterNewUser">
            <label for="userName"></label>
            <input class="omInput" id="userName" name="registerUser" placeholder="User Name">
            <label for="password"></label>
            <input class="omInput" id="password" name="registerPassword" placeholder="Password">
            <label for="selectMe"></label>
            <select name="userRole" class="omInput omInputButton"  id="selectMe">
                <option>Admin</option>
                <option>Logistics</option>
                <option>Quality PDI</option>
                <option>Repair Team</option>
                <option>Wash Bay</option>
                <option>Loading</option>
                <option>Operation Supervisor</option>
                <option>Team Lead</option>
                <option>Picker</option>
                <option>Team 1</option>
                <option>Team 2</option>
                <option>Team 3</option>
                <option>Team 4</option>
                <option>Team 5</option>
                <option>Test Bay</option>
            </select>
            <input type="submit" value="Register" class="adminRegister">
            <p>Roles are</p>
            <p>Admin = Admin or SuperUser</p>
            <p>Logistics = mostly CTD like Mary, Amanda....</p>
            <p>PDI = Quality Guys, the best ever...</p>
            <p>Repair Team = JoAnn's Group for Repair Machines</p>
            <p>Wash Bay = Thomas Nelson's group like Shawn or a temp washing the Machine</p>
            <p>Loading = Thomas Nelson's Group like Shawn, moving the Machine to the Trailer</p>
        </form>
        <h1>{{result}}</h1>
    </div>
    <div class="total-users">
        <h2>Users Total: {{usersTotal}}</h2>
        <br>
        <form class="submit-admin">
            <button type="button" class="btn btn-danger">Send</button>
        </form>
        <table class="blueTable tableAdminPos"  cellpadding="10">
            <thead>
            <tr>
                <th class="adminUserId"><strong>User id</strong></th>
                <th class="adminUser"><strong>User</strong></th>
                <th class="userRole"><strong>Role</strong></th>
                <th class="userCreated"><strong>Date Created</strong></th>
                <th class="userCreatedBy"><strong>Issuer</strong></th>
                <th class="userLastLogin"><strong>Last Login</strong></th>
                <th class="userIP"><strong>Client IP</strong></th>
                <th class="userStatus"><strong>Online</strong></th>
                <th class="userLogOut"><strong>Log out</strong></th>
                <th class="userErase"><strong>Erase User</strong></th>
            </tr>
            </thead>
            <tbody>
            {{#each userResult}}
                <tr class=" {{selectedClass}}">
                    <td class="adminUserId">{{_id}}</td>
                    <td class="adminUser">{{username}}</td>
                    <td class="userRole">{{role}}</td>
                    <td class="userCreated">{{createdAt}}</td>
                    <td class="userCreatedBy">{{createdBy.username}}</td>
                    <td class="userLastLogin">{{lastLogin}}</td>
                    <td class="userIP">{{clientIp}}</td>
                    <td class="userStatus {{getStatusLogin loginStatus}}"
                        style="background-color:{{getStatusLogin loginStatus}}; color:{{getStatusLogin
                                loginStatus}}" >{{services.resume.loginTokens}}</td>
                    <td class="userLogOut">
                        <label>
                            <input class="rTableStyle"
                                   type="checkbox"
                                   name="logOut"
                                   id="logOut"
                                   value="{{_id}}">
                        </label>
                    </td>
                    <td class="userErase">
                        <label>
                            <input class="rTableStyle"
                                   type="checkbox"
                                   name="deleteMe"
                                   value="{{_id}}">
                        </label>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>