<template name="assemblyLine">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            <div class="navigation-buttons">
                {{> admin_navi_buttons}}
            </div>
            <div class="team-1-over-view">
                {{> team_1_over_view }}
                {{> team_1_move_buttons }}
            </div>
            <div class="team-4-over-view">
                {{> team_4_over_view}}
                {{> team_4_move_buttons }}
            </div>
            <div class="admin-view-team-2">
                {{> team_2_over_view }}
                {{> team_2_move_buttons }}
            </div>
            <div class="admin-view-team-3">
                {{> team_3_over_view }}
                {{> team_3_move_buttons }}
            </div>
            <div class="test-bay-over-view">
                {{> test_bay_over_view }}
                {{> test_bay_move_buttons}}
            </div>
            <div class="team-5">
                {{> team_5_over_view }}
                {{>team_5_move_buttons }}
            </div>
            <div class="message-button-admin">
                {{> message_board_admin}}
            </div>
        {{/if}}
        {{#if isInRole 'team_1, team_2, team_3, team_4, team_5, test_bay' }}
            <div class="navigation-buttons">
                {{> navigation_buttons}}
            </div>
            <div class="team-1-over-view">
                {{> team_1_over_view }}
            </div>
            <div class="team-4-over-view">
                {{> team_4_over_view}}
            </div>
            <div class="admin-view-team-2">
                {{> team_2_over_view }}
            </div>
            <div class="admin-view-team-3">
                {{> team_3_over_view }}
            </div>
            <div class="test-bay-over-view">
                {{> test_bay_over_view }}
            </div>
            <div class="team-5">
                {{> team_5_over_view }}
            </div>

        {{/if}}
   {{else}}
     <!--  {{> login}}  -->
        <div class="team-1-over-view">
            {{> loginView }}
            {{> team_1_over_view }}
            {{> unauthorized_box }}
        </div>
        <div class="team-4-over-view">
            {{> team_4_over_view}}
        </div>
        <div class="admin-view-team-2">
            {{> team_2_over_view }}
        </div>
        <div class="admin-view-team-3">
            {{> team_3_over_view }}
        </div>
        <div class="test-bay-over-view">
            {{> test_bay_over_view }}
        </div>
        <div class="team-5">
            {{> team_5_over_view }}
        </div>
    {{/if}}
</template>

<template name="loginView">
    <div class="login-view">
        <button class="btn btn-default btn-danger loginView">Login</button>
    </div>
</template>

<template name="unauthorized_box">
    <div class="unauthorized-machine-res"></div>
    <div class="unauthorized-rear-axle"></div>
    <div class="unauthorized-front-axle"></div>
    <div class="unauthorized-threshing-house"></div>
    <div class="unauthorized-cooling-box"></div>
    <div class="unauthorized-engine"></div>
</template>
<!--
<template name="burstSunTimerTeam_1">
    <div class="team-1-sun-burst-container">
        <div class="clock-container-team-1">
            <div class="clock-team-1">
                <div class="time-team-1">
                    <span>loading</span>
                </div>
            </div>
        </div>
        <div class="sunset-container-team-1">
            <div class="horizon-team-1"></div>  paint horizon
      <div class="sun-team-1 sun-container-team-1"></div>
        </div>
    </div>
</template>
-->

<template name="message_board_admin">

    <!--
    <div class="team-2-repair-button">
        <label for="team_2_repair_button"></label>
        <button type="button" id="team_2_repair_button"
                class="btn btn-success t2-rep-bt">Print PDI-repairs</button>
    </div>
-->
    <div class="team-order-button">
        <label for="messageButton_team_2"></label>
        <button type="button" id="messageButton_admin"
                class="btn
                        btn-default
                        messageButton_admin">Parts Needed</button>
    </div>

    <div class="team-cancel-button">
        <label for="messageButton"></label>
        <button type="button" id="messageButton"
                class="btn
                        btn-danger
                        cancelButton-admin">Cancel Order</button>
    </div>

    <table class="table team-order-admin-table blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>

        </tr>
        </thead>
        <tbody class="order-table ">
        {{#each lineOrders}}
            <tr class="selectedOrder {{markedSelectedOrder}}">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField {{getPickingStatus urgency}}"
                    style="background-color: {{getPickingStatus urgency}}; font-size: 0">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField {{getOrderStatus status}}"
                    style="background-color: {{getOrderStatus status}}; font-size: 0">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <table class="team-order-admin-history blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>
            <th class="order-storage-bin"><strong>Time completed</strong></th>
        </tr>
        </thead>
        <tbody>
        {{#each historyOrders}}
            <tr class="">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField" style="text-align: center">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField" style="text-align: center">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
                <td class="order-storage-bin">{{order_completed}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>




</template>