<template name="assemblyLine">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}

            <div class="navigation-buttons">
                {{> admin_navi_buttons}}
            </div>
            <div class="team-1-over-view">
                {{> team_1_over_view }}
                {{> team_1_move_buttons }}
            </div>
            <div class="team-4-over-view">
                {{> team_4_over_view}}
                {{> team_4_move_buttons }}
            </div>

            <div class="admin-view-team-2">
                {{> team_2_over_view }}
                {{> team_2_move_buttons }}
            </div>
            <div class="admin-view-team-3">
                {{> team_3_over_view }}
                {{> team_3_move_buttons }}
            </div>
            <div class="test-bay-over-view">
                {{> test_bay_over_view }}
                {{> test_bay_move_buttons}}
            </div>
            <div class="team-5">
                {{> team_5_over_view }}
                {{>team_5_move_buttons }}
            </div>

        {{/if}}
        {{#if isInRole 'team_1, team_2, team_3, team_4, team_5, test_bay' }}
            <div class="navigation-buttons">
                {{> navigation_buttons}}
            </div>
            <div class="team-1-over-view">
                {{> team_1_over_view }}
            </div>
            <div class="team-4-over-view">
                {{> team_4_over_view}}
            </div>
            <div class="admin-view-team-2">
                {{> team_2_over_view }}
            </div>
            <div class="admin-view-team-3">
                {{> team_3_over_view }}
            </div>
            <div class="test-bay-over-view">
                {{> test_bay_over_view }}
            </div>
            <div class="team-5">
                {{> team_5_over_view }}
            </div>

        {{/if}}
   {{else}}
       {{> login}}
    {{/if}}
</template>

<template name="unauthorized_box">
    <div></div>
</template>

<template name="burstSunTimerTeam_1">
    <div class="team-1-sun-burst-container">
        <div class="clock-container-team-1">
            <div class="clock-team-1">
                <div class="time-team-1">
                    <span>loading</span>
                </div>
            </div>
        </div>
        <div class="sunset-container-team-1">
            <div class="horizon-team-1"></div>  <!-- paint horizon  -->
            <div class="sun-team-1 sun-container-team-1"></div>
        </div>
    </div>
</template>
