<template name="commissionAnalysis">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
        {{> supplyAreaShow}}
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
            {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>


<template name="supplyAreaShow">

    <div class="topNav">
        <nav>
            <a class="btn btn-danger"  disabled>Manipulate Database</a>
            <a>|</a>
            <a class="btn btn-danger"  disabled>Manipulate Supply Areas</a>
            <a>|</a>
            <a  class="btn btn-success" href="admin">Back to Admin</a>
        </nav>
    </div>
    <form class="new-supply-area">
       <h4><strong>Add Supply Area</strong></h4>
        <br>
        <label for="supplyName"></label>
        <input type="text" id="supplyName" name="supplyName" placeholder="Supply Name" required>
        <button type="submit" class="btn btn-default btn-success">Submit</button>
    </form>
    <form class="update-button">
        <label for="updatePosition"></label>
        <input type="number" id="updatePosition" name="updatePosition" min="1" required>
        <button type="submit" class="btn btn-default btn-success">Update</button>
    </form>
    <form class="activate-button">
        <button type="submit" class="btn btn-default btn-danger">Activate / Deactivate</button>
    </form>

    <div class="double-entry">
       {{#if doubleSupplyArea}}
           <h4>Area {{doubleSupplyArea._id}} exists and is
                    {{doubleSupplyArea.active}} at Position
                    {{doubleSupplyArea.supplyPosition}}
                    </h4>
       {{/if}}
    </div>

    <div class="supply-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Supply Area</th>
                    <th>Update</th>
                    <th>Deactivate</th>
                </tr>
            </thead>
            <tbody>
            {{#each supplyAreaListed}}
                    <tr class="active-areas">
                        <td class="table-pos">{{supplyPosition}}</td>
                        <td class="table-name">{{_id}}</td>
                        <td class="table-name">
                            <label>
                                <input class="rTableStyle"
                                       type="radio"
                                       name="updatePosition"
                                       id="upPos"
                                       value="{{_id}}">
                            </label>
                        </td>
                        <td class="table-name">
                            <label>
                                <input class="rTableStyle"
                                       type="radio"
                                       name="deactivateSupply"
                                       value="{{_id}}">
                            </label>
                        </td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="deactivated-supply-table">
        <table class="table">
            <thead>
            <tr>
                <th>Supply Area</th>
                <th>Activate</th>
            </tr>
            </thead>
            <tbody>
            {{#each deactivatedSupplyAreaListed}}
                <tr class="inactive-areas">
                    <td class="table-name">{{_id}}</td>
                    <td class="table-name">
                        <label>
                            <input class="rTableStyle"
                                   type="radio"
                                   name="activateSupply"
                                   value="{{_id}}">
                        </label>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>