<template name="commissionAnalysis">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            {{> analysis}}
            {{> analysisOverView}}
            <div id="logo">
                <img src="claas_logo.png" />
            </div>
        {{/if}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="analysis">
    <div class="topNav">
        <nav>
            <a class="btn btn-info" href="/commissionStatistics">Back to Statistics</a>
            <a>|</a>
            <a class="btn btn-danger" href="adminManipulate" >Adjust Database</a>
            <a>|</a>
            <a class="btn btn-success" href="admin">Back to Admin</a>
        </nav>
    </div>
</template>

<template name="analysisOverView">
    <div class="pickers-head">
       <h3>Chosen Picker: {{chosenPicker}}</h3>
    </div>
    <div class="pickers-overview">
<h4>Pickers Result</h4>
        <table class="table table-striped table-bordered">
            <tbody>
            {{#each pickers}}
            <tr class="pickersName {{selected}}">
                <td class="pickers-width">{{_id}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pickers-result">
        {{pickersResult}}
    </div>
    <div class="running-result">
        {{pickersAnnualResult}}
        <div class="diagram-3">
            <div  id="chart_3">{{pickersAnnualChartResult}}</div>
        </div>
    </div>
    <div class="analysis-selection">
            <label for="fromRange">Range from to&nbsp;</label>
            <input type="radio" id="fromRange" name="range">
                <br>
            <label for="specificDate">Specific Date&nbsp;&nbsp;&nbsp;</label>
            <input type="radio" id="specificDate" name="range">
                <br>
            <label for="specificMonth">Specific Month</label>
            <input type="radio" id="specificMonth" name="range">

                {{#if fromRange}}
                    <form class="choseRange">
                        <div>
                            <label for="fromDate">Range from&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="date" name="fromDate" id="fromDate">
                            <label for="toDate">To</label>
                            <input type="date" name="toDate" id="toDate">
                            <button class="btn btn-default btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                {{else if specificDate}}
                    <form class="choseDate">
                        <div>
                            <label for="specificDate">Specific Date&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="date" name="specificDate" id="specificDate">
                            <button class="btn btn-default btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                {{else if specificMonth}}
                    <form class="choseMonth">
                        <div>
                            <label for="specificMonth">Specific Month&nbsp;</label>
                            <input type="month" name="specificMonth" min="2019-10" value="2019-10" id="specificMonth">
                            <button class="btn btn-default btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                {{/if}}
    </div>

    <div class="month-result">
        <div class="diagram-4">
            <div  id="chart_4">{{pickersMonthChartResult}}</div>
        </div>
    </div>
</template>

<template name="supplyAreaShow">
    <div class="topNav">
        <nav>
            <a class="btn btn-danger"  disabled>Manipulate Database</a>
            <a>|</a>
            <a class="btn btn-danger"  disabled>Manipulate Supply Areas</a>
            <a>|</a>
            <a  class="btn btn-success" href="admin">Back to Admin</a>
        </nav>
    </div>
    <form class="new-supply-area">
       <h4><strong>Add Supply Area</strong></h4>
        <br>
        <label for="supplyName"></label>
        <input type="text" id="supplyName" name="supplyName" placeholder="Supply Name" required>
        <button type="submit" class="btn btn-default btn-success" disabled>Submit</button>
    </form>
    <form class="update-button">
        <label for="updatePosition"></label>
        <input type="number" id="updatePosition" name="updatePosition" min="1" required>
        <button type="submit" class="btn btn-default btn-success" disabled>Update</button>
    </form>
    <form class="activate-button">
        <button type="submit" class="btn btn-default btn-danger" disabled>Activate / Deactivate</button>
    </form>

    <div class="double-entry">
       {{#if doubleSupplyArea}}
           <h4>Area {{doubleSupplyArea._id}} exists and is
                    {{doubleSupplyArea.active}} at Position
                    {{doubleSupplyArea.supplyPosition}}
                    </h4>
       {{/if}}
    </div>
    <div class="supply-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Supply Area</th>
                    <th>Update</th>
                    <th>Deactivate</th>
                </tr>
            </thead>
            <tbody>
            {{#each supplyAreaListed}}
                    <tr class="active-areas">
                        <td class="table-pos">{{supplyPosition}}</td>
                        <td class="table-name">{{_id}}</td>
                        <td class="table-name">
                            <label>
                                <input class="rTableStyle"
                                       type="radio"
                                       name="updatePosition"
                                       id="upPos"
                                       value="{{_id}}">
                            </label>
                        </td>
                        <td class="table-name">
                            <label>
                                <input class="rTableStyle"
                                       type="radio"
                                       name="deactivateSupply"
                                       value="{{_id}}">
                            </label>
                        </td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="deactivated-supply-table">
        <table class="table">
            <thead>
            <tr>
                <th>Supply Area</th>
                <th>Activate</th>
            </tr>
            </thead>
            <tbody>
            {{#each deactivatedSupplyAreaListed}}
                <tr class="inactive-areas">
                    <td class="table-name">{{_id}}</td>
                    <td class="table-name">
                        <label>
                            <input class="rTableStyle"
                                   type="radio"
                                   name="activateSupply"
                                   value="{{_id}}">
                        </label>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>