<template name="messageBoard">

    <form class="order-parts">

        <input type=number id="part_number" name="partNumber">
        <label for="part_number">Part Number</label><br>

        <input type=number id="quantity_needed" name="quantityNeeded">
        <label for="quantity_needed">Quantity Needed</label><br>

        <input type="text" id="storage_Location" name="storageLocation">
        <label for="storage_Location">Ware House Location</label><br>

        <br>
        <input type="text" id="delivery_location" name="location" value={{issueComponent}}>
        <label for="delivery_location"></label><br>

        <div class="mainComponentsPos">
            {{#dropdownTrigger  name="mainComponents"}}
                <button type="button" class="loginSubmit omInputButton dropdown-location btn btn-success">Delivery Location</button>
            {{/dropdownTrigger}}
            {{#dropdown name="mainComponents" align="left" top="20" left="-50"}}
                <tbody class="rTable">
                {{#each mainComponent}}
                    <tr class="comp {{selectedComponent}}">
                        <td class="dropDown">{{_id}}</td>
                    </tr>
                {{/each}}
                </tbody>
            {{/dropdown}}
        </div>


<!-- issues: quality = 1, missing = 2, quantity = 3 // urgency Degree High Emergency = 10, need asap = 11, need end of day = 12                         -->
        <br>
        <div class="reason-checkbox">
            <input type="radio" id="quality" name="reason" value="1" required>
            <label for="quality">Quality</label>
            <br>
            <input type="radio" id="missing" name="reason" value="2">
            <label for="missing">Missing</label>
            ><br>
            <input type="radio" id="repair" name="reason" value="4">
            <label for="repair">Repair / Reconfig</label>
        </div>
        <button type="submit" class="btn btn-default btn-success">Submit</button>
    </form>

</template>