<template name="messageBoard">

    <div class="order-header">
        <h3>Order by : {{team}} for {{different_team}}</h3>
    </div>

    <div class="different-team">
       <h3></h3>
    </div>

    <form class="order-parts">

        <div class="other-team">
            <h3>Order for an other Team :</h3>

            <button type="button" class="btn btn-default
                                        btn-info team-1-button">Team 1</button>
            <br><br>
            <button type="button" class="btn btn-default
                                        btn-info team-2-button">Team 2</button>
            <br><br>
            <button type="button" class="btn btn-default
                                        btn-info team-3-button">Team 3</button>
            <br><br>
            <button type="button" class="btn btn-default
                                        btn-info team-4-button">Team 4</button>
            <br><br>
            <button type="button" class="btn btn-default
                                        btn-info team-5-button">Team 5</button>
            <br><br>
            <button type="button" class="btn btn-default
                                        btn-info team-repair">Repair / Recon</button>

        </div>

        <div class="input-instruction">
            <h4>Only 1 Machine is allowed.   </h4>
            <h4>Machine Number must be greater than C8910052 and not been shipped</h4>
        </div>

        <div class="order-form">
        <!-- todo Validate Machine Numbers, Multiple Machines, Machine Number Pattern  -->
        <input type="text"
               id="machineNr"
               name="machineNr"
               value="C8"
               required>
        <label for="machineNr">Machine Nr</label><br>

        <input type=number id="part_number" name="partNumber" required>
        <label for="part_number">Part Number</label><br>

        <input type=number id="quantity_needed" name="quantityNeeded" required>
        <label for="quantity_needed">Quantity Needed</label><br>

        <input type="text" id="storage_Location" name="storageLocation">
        <label for="storage_Location">Ware House Location</label><br>

        <br>
        <input type="text" id="delivery_location" name="location" value={{issueComponent}}>
        <label for="delivery_location"></label><br>

        </div>

        <div class="mainComponentsPos">
            {{#dropdownTrigger  name="mainComponents"}}
                <button type="button" class="loginSubmit omInputButton dropdown-location btn btn-success">Delivery Location</button>
            {{/dropdownTrigger}}
            {{#dropdown name="mainComponents" align="left" top="20" left="-50"}}
                <tbody class="rTable">
                {{#each mainComponent}}
                    <tr class="comp {{selectedComponent}}">
                        <td class="dropDown">{{_id}}</td>
                    </tr>
                {{/each}}
                </tbody>
            {{/dropdown}}
        </div>


<!-- issues: quality = 1, missing = 2, quantity = 3 // urgency Degree High Emergency = 10, need asap = 11, need end of day = 12                         -->
        <br>
        <div class="reason-checkbox">
            <input type="radio" id="quality" name="reason" value="1" required>
            <label for="quality">Quality</label>
            <br>
            <input type="radio" id="missing" name="reason" value="2">
            <label for="missing">Missing</label>
            <br>
            <input type="radio" id="repair" name="reason" value="4">
            <label for="repair">Repair / Reconfig</label>
            <br>
            <button type="submit" class="btn btn-default btn-success">Submit</button>
        </div>

    </form>

</template>

<template name="message_board_team_4">
    <!--
        <div class="team-3-repair-button">
            <label for="team_3_repair_button"></label>
            <button type="button" id="team_3_repair_button"
                    class="btn btn-success t4-rep-bt">Print PDI-repairs</button>
        </div>
    -->
    <div class="team-order-button">
        <label for="messageButton_team_4"></label>
        <button type="button" id="messageButton_team_4"
                class="btn
                        btn-default
                        messageButton_team_4">Parts Needed</button>
    </div>

    <div class="team-cancel-button">
        <label for="messageButton"></label>
        <button type="button" id="messageButton"
                class="btn
                        btn-danger
                        cancelButton">Cancel Order</button>
    </div>


    <table class="team-order-table blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>

        </tr>
        </thead>
        <tbody>
        {{#each lineOrders}}
            <tr class="selectedOrder {{markedSelectedOrder}}">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField {{getPickingStatus urgency}}"
                    style="background-color: {{getPickingStatus urgency}}; font-size: 0">{{urgency}}</td>
                <td class="pdiMachineField {{getOrderStatus status}}"
                    style="background-color: {{getOrderStatus status}}; font-size: 0">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <table class="team-order-history blueTable">
        <thead>
        <tr>
            <th class="order-part">Part Number</th>
            <th class="order-storage-bin"><strong>Storage Bin</strong></th>
            <th class="order-point-of-use"><strong>Point of Use</strong></th>
            <th class="order-point-of-use"><strong>Quantity</strong></th>
            <th class="pdiMachineField"><strong>Urgency</strong></th>
            <th class="user-pick"><strong>Order processed by</strong></th>
            <th class="pdiMachineField"><strong>Status</strong></th>
            <th class="order-storage-bin"><strong>Time ordered</strong></th>
            <th class="order-storage-bin"><strong>Time completed</strong></th>
        </tr>
        </thead>
        <tbody>
        {{#each historyOrders}}
            <tr class="">
                <td class="order-part">{{part_number}}</td>
                <td class="order-storage-bin">{{storage_bin}}</td>
                <td class="order-point-of-use">{{point_of_use}}</td>
                <td class="order-point-of-use">{{quantity_needed}}</td>
                <td class="pdiMachineField" style="text-align: center">{{urgency}}</td>
                <td class="user-pick">{{picked_by}}</td>
                <td class="pdiMachineField" style="text-align: center">{{status}}</td>
                <td class="order-storage-bin">{{time_ordered}}</td>
                <td class="order-storage-bin">{{order_completed}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>